PracticeManagement/PracticeManagement/Service References/OverheadService/OverheadService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://xpanatoliyl.eq.local/PracticeManagementService/OverheadService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects" />
  <xs:element name="GetRateTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRateTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetRateTypesResult" nillable="true" type="q1:ArrayOfOverheadRateType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRateTypeDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="overheadRateTypeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRateTypeDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetRateTypeDetailResult" nillable="true" type="q2:OverheadRateType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOverheadFixedRates">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="activeOnly" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOverheadFixedRatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetOverheadFixedRatesResult" nillable="true" type="q3:ArrayOfOverheadFixedRate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOverheadFixedRateDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="overheadId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOverheadFixedRateDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetOverheadFixedRateDetailResult" nillable="true" type="q4:OverheadFixedRate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOverheadFixedRateDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="overhead" nillable="true" type="q5:OverheadFixedRate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOverheadFixedRateDetailResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OverheadFixedRateInactivate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="overheadId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OverheadFixedRateInactivateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OverheadFixedRateReactivate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="overheadId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OverheadFixedRateReactivateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>
