PracticeManagement/PracticeManagement/Service References/OverheadService/OverheadService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OverheadService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://system66.ggk.com/PracticeManagementService/OverheadService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://system66.ggk.com/PracticeManagementService/OverheadService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://system66.ggk.com/PracticeManagementService/OverheadService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects" />
      <xsd:import schemaLocation="http://system66.ggk.com/PracticeManagementService/OverheadService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOverheadService_GetRateTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRateTypes" />
  </wsdl:message>
  <wsdl:message name="IOverheadService_GetRateTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRateTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IOverheadService_GetRateTypeDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRateTypeDetail" />
  </wsdl:message>
  <wsdl:message name="IOverheadService_GetRateTypeDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRateTypeDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IOverheadService_GetOverheadFixedRates_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOverheadFixedRates" />
  </wsdl:message>
  <wsdl:message name="IOverheadService_GetOverheadFixedRates_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOverheadFixedRatesResponse" />
  </wsdl:message>
  <wsdl:message name="IOverheadService_GetOverheadFixedRateDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOverheadFixedRateDetail" />
  </wsdl:message>
  <wsdl:message name="IOverheadService_GetOverheadFixedRateDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOverheadFixedRateDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IOverheadService_SaveOverheadFixedRateDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveOverheadFixedRateDetail" />
  </wsdl:message>
  <wsdl:message name="IOverheadService_SaveOverheadFixedRateDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveOverheadFixedRateDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IOverheadService_OverheadFixedRateInactivate_InputMessage">
    <wsdl:part name="parameters" element="tns:OverheadFixedRateInactivate" />
  </wsdl:message>
  <wsdl:message name="IOverheadService_OverheadFixedRateInactivate_OutputMessage">
    <wsdl:part name="parameters" element="tns:OverheadFixedRateInactivateResponse" />
  </wsdl:message>
  <wsdl:message name="IOverheadService_OverheadFixedRateReactivate_InputMessage">
    <wsdl:part name="parameters" element="tns:OverheadFixedRateReactivate" />
  </wsdl:message>
  <wsdl:message name="IOverheadService_OverheadFixedRateReactivate_OutputMessage">
    <wsdl:part name="parameters" element="tns:OverheadFixedRateReactivateResponse" />
  </wsdl:message>
  <wsdl:message name="IOverheadService_GetMinimumLoadFactorOverheadMultipliers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMinimumLoadFactorOverheadMultipliers" />
  </wsdl:message>
  <wsdl:message name="IOverheadService_GetMinimumLoadFactorOverheadMultipliers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMinimumLoadFactorOverheadMultipliersResponse" />
  </wsdl:message>
  <wsdl:message name="IOverheadService_UpdateMinimumLoadFactorHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMinimumLoadFactorHistory" />
  </wsdl:message>
  <wsdl:message name="IOverheadService_UpdateMinimumLoadFactorHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMinimumLoadFactorHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="IOverheadService_UpdateMinimumLoadFactorStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMinimumLoadFactorStatus" />
  </wsdl:message>
  <wsdl:message name="IOverheadService_UpdateMinimumLoadFactorStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMinimumLoadFactorStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IOverheadService_GetOverheadHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOverheadHistory" />
  </wsdl:message>
  <wsdl:message name="IOverheadService_GetOverheadHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOverheadHistoryResponse" />
  </wsdl:message>
  <wsdl:portType name="IOverheadService">
    <wsdl:operation name="GetRateTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IOverheadService/GetRateTypes" message="tns:IOverheadService_GetRateTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOverheadService/GetRateTypesResponse" message="tns:IOverheadService_GetRateTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRateTypeDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IOverheadService/GetRateTypeDetail" message="tns:IOverheadService_GetRateTypeDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOverheadService/GetRateTypeDetailResponse" message="tns:IOverheadService_GetRateTypeDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOverheadFixedRates">
      <wsdl:input wsaw:Action="http://tempuri.org/IOverheadService/GetOverheadFixedRates" message="tns:IOverheadService_GetOverheadFixedRates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOverheadService/GetOverheadFixedRatesResponse" message="tns:IOverheadService_GetOverheadFixedRates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOverheadFixedRateDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IOverheadService/GetOverheadFixedRateDetail" message="tns:IOverheadService_GetOverheadFixedRateDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOverheadService/GetOverheadFixedRateDetailResponse" message="tns:IOverheadService_GetOverheadFixedRateDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveOverheadFixedRateDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IOverheadService/SaveOverheadFixedRateDetail" message="tns:IOverheadService_SaveOverheadFixedRateDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOverheadService/SaveOverheadFixedRateDetailResponse" message="tns:IOverheadService_SaveOverheadFixedRateDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OverheadFixedRateInactivate">
      <wsdl:input wsaw:Action="http://tempuri.org/IOverheadService/OverheadFixedRateInactivate" message="tns:IOverheadService_OverheadFixedRateInactivate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOverheadService/OverheadFixedRateInactivateResponse" message="tns:IOverheadService_OverheadFixedRateInactivate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OverheadFixedRateReactivate">
      <wsdl:input wsaw:Action="http://tempuri.org/IOverheadService/OverheadFixedRateReactivate" message="tns:IOverheadService_OverheadFixedRateReactivate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOverheadService/OverheadFixedRateReactivateResponse" message="tns:IOverheadService_OverheadFixedRateReactivate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMinimumLoadFactorOverheadMultipliers">
      <wsdl:input wsaw:Action="http://tempuri.org/IOverheadService/GetMinimumLoadFactorOverheadMultipliers" message="tns:IOverheadService_GetMinimumLoadFactorOverheadMultipliers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOverheadService/GetMinimumLoadFactorOverheadMultipliersResponse" message="tns:IOverheadService_GetMinimumLoadFactorOverheadMultipliers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMinimumLoadFactorHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/IOverheadService/UpdateMinimumLoadFactorHistory" message="tns:IOverheadService_UpdateMinimumLoadFactorHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOverheadService/UpdateMinimumLoadFactorHistoryResponse" message="tns:IOverheadService_UpdateMinimumLoadFactorHistory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMinimumLoadFactorStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IOverheadService/UpdateMinimumLoadFactorStatus" message="tns:IOverheadService_UpdateMinimumLoadFactorStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOverheadService/UpdateMinimumLoadFactorStatusResponse" message="tns:IOverheadService_UpdateMinimumLoadFactorStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOverheadHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/IOverheadService/GetOverheadHistory" message="tns:IOverheadService_GetOverheadHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOverheadService/GetOverheadHistoryResponse" message="tns:IOverheadService_GetOverheadHistory_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOverheadService" type="tns:IOverheadService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRateTypes">
      <soap:operation soapAction="http://tempuri.org/IOverheadService/GetRateTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRateTypeDetail">
      <soap:operation soapAction="http://tempuri.org/IOverheadService/GetRateTypeDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOverheadFixedRates">
      <soap:operation soapAction="http://tempuri.org/IOverheadService/GetOverheadFixedRates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOverheadFixedRateDetail">
      <soap:operation soapAction="http://tempuri.org/IOverheadService/GetOverheadFixedRateDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveOverheadFixedRateDetail">
      <soap:operation soapAction="http://tempuri.org/IOverheadService/SaveOverheadFixedRateDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OverheadFixedRateInactivate">
      <soap:operation soapAction="http://tempuri.org/IOverheadService/OverheadFixedRateInactivate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OverheadFixedRateReactivate">
      <soap:operation soapAction="http://tempuri.org/IOverheadService/OverheadFixedRateReactivate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMinimumLoadFactorOverheadMultipliers">
      <soap:operation soapAction="http://tempuri.org/IOverheadService/GetMinimumLoadFactorOverheadMultipliers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMinimumLoadFactorHistory">
      <soap:operation soapAction="http://tempuri.org/IOverheadService/UpdateMinimumLoadFactorHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMinimumLoadFactorStatus">
      <soap:operation soapAction="http://tempuri.org/IOverheadService/UpdateMinimumLoadFactorStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOverheadHistory">
      <soap:operation soapAction="http://tempuri.org/IOverheadService/GetOverheadHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OverheadService">
    <wsdl:port name="BasicHttpBinding_IOverheadService" binding="tns:BasicHttpBinding_IOverheadService">
      <soap:address location="http://system66.ggk.com/PracticeManagementService/OverheadService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
