PracticeManagement/PracticeManagement/Service References/ProjectService/ProjectService17.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataTransferObjects.ContextObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.ContextObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ggku3sys280.ggktech.local/PracticemanagementService/ProjectService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects" />
  <xs:complexType name="ProjectCloningContext">
    <xs:sequence>
      <xs:element minOccurs="0" name="CloneCommissions" type="xs:boolean" />
      <xs:element minOccurs="0" name="CloneMilestones" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="Project" nillable="true" type="q1:Project" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="ProjectStatus" nillable="true" type="q2:ProjectStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProjectCloningContext" nillable="true" type="tns:ProjectCloningContext" />
  <xs:complexType name="BenchReportContext">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ConsultantTableReportContext">
        <xs:sequence>
          <xs:element minOccurs="0" name="IncludeOverheads" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="IncludeZeroCostEmployees" type="xs:boolean" />
          <xs:element minOccurs="0" name="PracticeIds" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TimeScaleIds" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BenchReportContext" nillable="true" type="tns:BenchReportContext" />
  <xs:complexType name="ConsultantTableReportContext">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ConsultantReportContextBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="End" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConsultantTableReportContext" nillable="true" type="tns:ConsultantTableReportContext" />
  <xs:complexType name="ConsultantReportContextBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActivePersons" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="ActiveProjects" type="xs:boolean" />
      <xs:element minOccurs="0" name="CompletedProjects" type="xs:boolean" />
      <xs:element minOccurs="0" name="ExperimentalProjects" type="xs:boolean" />
      <xs:element minOccurs="0" name="InternalProjects" type="xs:boolean" />
      <xs:element minOccurs="0" name="ProjectedPersons" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="ProjectedProjects" type="xs:boolean" />
      <xs:element minOccurs="0" name="ProposedProjects" type="xs:boolean" />
      <xs:element minOccurs="0" name="Start" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultantReportContextBase" nillable="true" type="tns:ConsultantReportContextBase" />
</xs:schema>
