PracticeManagement/PracticeManagement/Service References/ProjectService/ProjectService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProjectService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://ggku3sys280.ggktech.local/PracticemanagementService/ProjectService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://ggku3sys280.ggktech.local/PracticemanagementService/ProjectService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://ggku3sys280.ggktech.local/PracticemanagementService/ProjectService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects" />
      <xsd:import schemaLocation="http://ggku3sys280.ggktech.local/PracticemanagementService/ProjectService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.Financials" />
      <xsd:import schemaLocation="http://ggku3sys280.ggktech.local/PracticemanagementService/ProjectService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://ggku3sys280.ggktech.local/PracticemanagementService/ProjectService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.CornerStone" />
      <xsd:import schemaLocation="http://ggku3sys280.ggktech.local/PracticemanagementService/ProjectService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.Skills" />
      <xsd:import schemaLocation="http://ggku3sys280.ggktech.local/PracticemanagementService/ProjectService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.TimeEntry" />
      <xsd:import schemaLocation="http://ggku3sys280.ggktech.local/PracticemanagementService/ProjectService.svc?xsd=xsd8" />
      <xsd:import schemaLocation="http://ggku3sys280.ggktech.local/PracticemanagementService/ProjectService.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.ContextObjects" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProjectService_IsUserIsProjectOwner_InputMessage">
    <wsdl:part name="parameters" element="tns:IsUserIsProjectOwner" />
  </wsdl:message>
  <wsdl:message name="IProjectService_IsUserIsProjectOwner_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsUserIsProjectOwnerResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_GetProjectsListByProjectGroupId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectsListByProjectGroupId" />
  </wsdl:message>
  <wsdl:message name="IProjectService_GetProjectsListByProjectGroupId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectsListByProjectGroupIdResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_GetBusinessDevelopmentProject_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBusinessDevelopmentProject" />
  </wsdl:message>
  <wsdl:message name="IProjectService_GetBusinessDevelopmentProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBusinessDevelopmentProjectResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_GetProjectByIdShort_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectByIdShort" />
  </wsdl:message>
  <wsdl:message name="IProjectService_GetProjectByIdShort_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectByIdShortResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_GetTimeTypesByProjectId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTimeTypesByProjectId" />
  </wsdl:message>
  <wsdl:message name="IProjectService_GetTimeTypesByProjectId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTimeTypesByProjectIdResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_SetProjectTimeTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:SetProjectTimeTypes" />
  </wsdl:message>
  <wsdl:message name="IProjectService_SetProjectTimeTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetProjectTimeTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_GetIsHourlyRevenueByPeriod_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIsHourlyRevenueByPeriod" />
  </wsdl:message>
  <wsdl:message name="IProjectService_GetIsHourlyRevenueByPeriod_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIsHourlyRevenueByPeriodResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_GetProjectShortByProjectNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectShortByProjectNumber" />
  </wsdl:message>
  <wsdl:message name="IProjectService_GetProjectShortByProjectNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectShortByProjectNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_GetTimeTypesInUseDetailsByProject_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTimeTypesInUseDetailsByProject" />
  </wsdl:message>
  <wsdl:message name="IProjectService_GetTimeTypesInUseDetailsByProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTimeTypesInUseDetailsByProjectResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_AttachOpportunityToProject_InputMessage">
    <wsdl:part name="parameters" element="tns:AttachOpportunityToProject" />
  </wsdl:message>
  <wsdl:message name="IProjectService_AttachOpportunityToProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:AttachOpportunityToProjectResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_CSATInsert_InputMessage">
    <wsdl:part name="parameters" element="tns:CSATInsert" />
  </wsdl:message>
  <wsdl:message name="IProjectService_CSATInsert_OutputMessage">
    <wsdl:part name="parameters" element="tns:CSATInsertResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_CSATDelete_InputMessage">
    <wsdl:part name="parameters" element="tns:CSATDelete" />
  </wsdl:message>
  <wsdl:message name="IProjectService_CSATDelete_OutputMessage">
    <wsdl:part name="parameters" element="tns:CSATDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_CSATUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:CSATUpdate" />
  </wsdl:message>
  <wsdl:message name="IProjectService_CSATUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:CSATUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_CSATList_InputMessage">
    <wsdl:part name="parameters" element="tns:CSATList" />
  </wsdl:message>
  <wsdl:message name="IProjectService_CSATList_OutputMessage">
    <wsdl:part name="parameters" element="tns:CSATListResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_CSATSummaryReport_InputMessage">
    <wsdl:part name="parameters" element="tns:CSATSummaryReport" />
  </wsdl:message>
  <wsdl:message name="IProjectService_CSATSummaryReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:CSATSummaryReportResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_CSATReportHeader_InputMessage">
    <wsdl:part name="parameters" element="tns:CSATReportHeader" />
  </wsdl:message>
  <wsdl:message name="IProjectService_CSATReportHeader_OutputMessage">
    <wsdl:part name="parameters" element="tns:CSATReportHeaderResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_GetProjectAttributionValues_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectAttributionValues" />
  </wsdl:message>
  <wsdl:message name="IProjectService_GetProjectAttributionValues_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectAttributionValuesResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_SetProjectAttributionValues_InputMessage">
    <wsdl:part name="parameters" element="tns:SetProjectAttributionValues" />
  </wsdl:message>
  <wsdl:message name="IProjectService_SetProjectAttributionValues_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetProjectAttributionValuesResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_GetAttributionForGivenIds_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAttributionForGivenIds" />
  </wsdl:message>
  <wsdl:message name="IProjectService_GetAttributionForGivenIds_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAttributionForGivenIdsResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_GetProjectFeedbackByProjectId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectFeedbackByProjectId" />
  </wsdl:message>
  <wsdl:message name="IProjectService_GetProjectFeedbackByProjectId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectFeedbackByProjectIdResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_GetAllFeedbackStatuses_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFeedbackStatuses" />
  </wsdl:message>
  <wsdl:message name="IProjectService_GetAllFeedbackStatuses_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFeedbackStatusesResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_SaveFeedbackCancelationDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveFeedbackCancelationDetails" />
  </wsdl:message>
  <wsdl:message name="IProjectService_SaveFeedbackCancelationDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveFeedbackCancelationDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_CheckIfFeedbackExists_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckIfFeedbackExists" />
  </wsdl:message>
  <wsdl:message name="IProjectService_CheckIfFeedbackExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckIfFeedbackExistsResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_CheckIfProjectNumberExists_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckIfProjectNumberExists" />
  </wsdl:message>
  <wsdl:message name="IProjectService_CheckIfProjectNumberExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckIfProjectNumberExistsResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_ProjectGetShortById_InputMessage">
    <wsdl:part name="parameters" element="tns:ProjectGetShortById" />
  </wsdl:message>
  <wsdl:message name="IProjectService_ProjectGetShortById_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProjectGetShortByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_PersonsByProjectReport_InputMessage">
    <wsdl:part name="parameters" element="tns:PersonsByProjectReport" />
  </wsdl:message>
  <wsdl:message name="IProjectService_PersonsByProjectReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:PersonsByProjectReportResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_GetProjectOfferingList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectOfferingList" />
  </wsdl:message>
  <wsdl:message name="IProjectService_GetProjectOfferingList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectOfferingListResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_GetProjectRevenueTypeList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectRevenueTypeList" />
  </wsdl:message>
  <wsdl:message name="IProjectService_GetProjectRevenueTypeList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectRevenueTypeListResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_GetChannelList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetChannelList" />
  </wsdl:message>
  <wsdl:message name="IProjectService_GetChannelList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetChannelListResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_GetChannelById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetChannelById" />
  </wsdl:message>
  <wsdl:message name="IProjectService_GetChannelById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetChannelByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_GetProjectDivisions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectDivisions" />
  </wsdl:message>
  <wsdl:message name="IProjectService_GetProjectDivisions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectDivisionsResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_GetProjectsForClients_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectsForClients" />
  </wsdl:message>
  <wsdl:message name="IProjectService_GetProjectsForClients_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectsForClientsResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_ProjectGetById_InputMessage">
    <wsdl:part name="parameters" element="tns:ProjectGetById" />
  </wsdl:message>
  <wsdl:message name="IProjectService_ProjectGetById_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProjectGetByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_GetProjectLastChangeDateFortheGivenStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectLastChangeDateFortheGivenStatus" />
  </wsdl:message>
  <wsdl:message name="IProjectService_GetProjectLastChangeDateFortheGivenStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectLastChangeDateFortheGivenStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_GetProjectsComputedFinancials_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectsComputedFinancials" />
  </wsdl:message>
  <wsdl:message name="IProjectService_GetProjectsComputedFinancials_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectsComputedFinancialsResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_GetProjectMilestonesFinancials_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectMilestonesFinancials" />
  </wsdl:message>
  <wsdl:message name="IProjectService_GetProjectMilestonesFinancials_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectMilestonesFinancialsResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_ProjectCountByClient_InputMessage">
    <wsdl:part name="parameters" element="tns:ProjectCountByClient" />
  </wsdl:message>
  <wsdl:message name="IProjectService_ProjectCountByClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProjectCountByClientResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_GetProjectListByDateRange_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectListByDateRange" />
  </wsdl:message>
  <wsdl:message name="IProjectService_GetProjectListByDateRange_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectListByDateRangeResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_ListProjectsByClient_InputMessage">
    <wsdl:part name="parameters" element="tns:ListProjectsByClient" />
  </wsdl:message>
  <wsdl:message name="IProjectService_ListProjectsByClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListProjectsByClientResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_ListProjectsByClientShort_InputMessage">
    <wsdl:part name="parameters" element="tns:ListProjectsByClientShort" />
  </wsdl:message>
  <wsdl:message name="IProjectService_ListProjectsByClientShort_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListProjectsByClientShortResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_ListProjectsByClientAndPersonInPeriod_InputMessage">
    <wsdl:part name="parameters" element="tns:ListProjectsByClientAndPersonInPeriod" />
  </wsdl:message>
  <wsdl:message name="IProjectService_ListProjectsByClientAndPersonInPeriod_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListProjectsByClientAndPersonInPeriodResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_ListProjectsByClientWithSort_InputMessage">
    <wsdl:part name="parameters" element="tns:ListProjectsByClientWithSort" />
  </wsdl:message>
  <wsdl:message name="IProjectService_ListProjectsByClientWithSort_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListProjectsByClientWithSortResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_CloneProject_InputMessage">
    <wsdl:part name="parameters" element="tns:CloneProject" />
  </wsdl:message>
  <wsdl:message name="IProjectService_CloneProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:CloneProjectResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_GetProjectListCustom_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectListCustom" />
  </wsdl:message>
  <wsdl:message name="IProjectService_GetProjectListCustom_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectListCustomResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_ProjectListAllMultiParameters_InputMessage">
    <wsdl:part name="parameters" element="tns:ProjectListAllMultiParameters" />
  </wsdl:message>
  <wsdl:message name="IProjectService_ProjectListAllMultiParameters_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProjectListAllMultiParametersResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_IsProjectSummaryCachedToday_InputMessage">
    <wsdl:part name="parameters" element="tns:IsProjectSummaryCachedToday" />
  </wsdl:message>
  <wsdl:message name="IProjectService_IsProjectSummaryCachedToday_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsProjectSummaryCachedTodayResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_GetProjectListWithFinancials_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectListWithFinancials" />
  </wsdl:message>
  <wsdl:message name="IProjectService_GetProjectListWithFinancials_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectListWithFinancialsResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_GetProjectListGroupByPracticeManagers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectListGroupByPracticeManagers" />
  </wsdl:message>
  <wsdl:message name="IProjectService_GetProjectListGroupByPracticeManagers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectListGroupByPracticeManagersResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_GetBenchList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBenchList" />
  </wsdl:message>
  <wsdl:message name="IProjectService_GetBenchList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBenchListResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_GetBenchListWithoutBenchTotalAndAdminCosts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBenchListWithoutBenchTotalAndAdminCosts" />
  </wsdl:message>
  <wsdl:message name="IProjectService_GetBenchListWithoutBenchTotalAndAdminCosts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBenchListWithoutBenchTotalAndAdminCostsResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_ProjectSearchText_InputMessage">
    <wsdl:part name="parameters" element="tns:ProjectSearchText" />
  </wsdl:message>
  <wsdl:message name="IProjectService_ProjectSearchText_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProjectSearchTextResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_GetProjectDetailWithoutMilestones_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectDetailWithoutMilestones" />
  </wsdl:message>
  <wsdl:message name="IProjectService_GetProjectDetailWithoutMilestones_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectDetailWithoutMilestonesResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_SaveProjectDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveProjectDetail" />
  </wsdl:message>
  <wsdl:message name="IProjectService_SaveProjectDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveProjectDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_SaveInternalProject_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveInternalProject" />
  </wsdl:message>
  <wsdl:message name="IProjectService_SaveInternalProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveInternalProjectResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_MonthMiniReport_InputMessage">
    <wsdl:part name="parameters" element="tns:MonthMiniReport" />
  </wsdl:message>
  <wsdl:message name="IProjectService_MonthMiniReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:MonthMiniReportResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_PersonStartsReport_InputMessage">
    <wsdl:part name="parameters" element="tns:PersonStartsReport" />
  </wsdl:message>
  <wsdl:message name="IProjectService_PersonStartsReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:PersonStartsReportResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_GetProjectId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectId" />
  </wsdl:message>
  <wsdl:message name="IProjectService_GetProjectId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectIdResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_PersonBudgetListByYear_InputMessage">
    <wsdl:part name="parameters" element="tns:PersonBudgetListByYear" />
  </wsdl:message>
  <wsdl:message name="IProjectService_PersonBudgetListByYear_OutputMessage">
    <wsdl:part name="parameters" element="tns:PersonBudgetListByYearResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_PracticeBudgetListByYear_InputMessage">
    <wsdl:part name="parameters" element="tns:PracticeBudgetListByYear" />
  </wsdl:message>
  <wsdl:message name="IProjectService_PracticeBudgetListByYear_OutputMessage">
    <wsdl:part name="parameters" element="tns:PracticeBudgetListByYearResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_CategoryItemBudgetSave_InputMessage">
    <wsdl:part name="parameters" element="tns:CategoryItemBudgetSave" />
  </wsdl:message>
  <wsdl:message name="IProjectService_CategoryItemBudgetSave_OutputMessage">
    <wsdl:part name="parameters" element="tns:CategoryItemBudgetSaveResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_CalculateBudgetForPersons_InputMessage">
    <wsdl:part name="parameters" element="tns:CalculateBudgetForPersons" />
  </wsdl:message>
  <wsdl:message name="IProjectService_CalculateBudgetForPersons_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalculateBudgetForPersonsResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_CalculateBudgetForPractices_InputMessage">
    <wsdl:part name="parameters" element="tns:CalculateBudgetForPractices" />
  </wsdl:message>
  <wsdl:message name="IProjectService_CalculateBudgetForPractices_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalculateBudgetForPracticesResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_CategoryItemsSaveFromXML_InputMessage">
    <wsdl:part name="parameters" element="tns:CategoryItemsSaveFromXML" />
  </wsdl:message>
  <wsdl:message name="IProjectService_CategoryItemsSaveFromXML_OutputMessage">
    <wsdl:part name="parameters" element="tns:CategoryItemsSaveFromXMLResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_ProjectDelete_InputMessage">
    <wsdl:part name="parameters" element="tns:ProjectDelete" />
  </wsdl:message>
  <wsdl:message name="IProjectService_ProjectDelete_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProjectDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_GetProjectExpensesForProject_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectExpensesForProject" />
  </wsdl:message>
  <wsdl:message name="IProjectService_GetProjectExpensesForProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectExpensesForProjectResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_AllProjectsWithFinancialTotalsAndPersons_InputMessage">
    <wsdl:part name="parameters" element="tns:AllProjectsWithFinancialTotalsAndPersons" />
  </wsdl:message>
  <wsdl:message name="IProjectService_AllProjectsWithFinancialTotalsAndPersons_OutputMessage">
    <wsdl:part name="parameters" element="tns:AllProjectsWithFinancialTotalsAndPersonsResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_IsUserHasPermissionOnProject_InputMessage">
    <wsdl:part name="parameters" element="tns:IsUserHasPermissionOnProject" />
  </wsdl:message>
  <wsdl:message name="IProjectService_IsUserHasPermissionOnProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsUserHasPermissionOnProjectResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectService_IsUserIsOwnerOfProject_InputMessage">
    <wsdl:part name="parameters" element="tns:IsUserIsOwnerOfProject" />
  </wsdl:message>
  <wsdl:message name="IProjectService_IsUserIsOwnerOfProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsUserIsOwnerOfProjectResponse" />
  </wsdl:message>
  <wsdl:portType name="IProjectService">
    <wsdl:operation name="IsUserIsProjectOwner">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/IsUserIsProjectOwner" message="tns:IProjectService_IsUserIsProjectOwner_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/IsUserIsProjectOwnerResponse" message="tns:IProjectService_IsUserIsProjectOwner_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProjectsListByProjectGroupId">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/GetProjectsListByProjectGroupId" message="tns:IProjectService_GetProjectsListByProjectGroupId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/GetProjectsListByProjectGroupIdResponse" message="tns:IProjectService_GetProjectsListByProjectGroupId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBusinessDevelopmentProject">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/GetBusinessDevelopmentProject" message="tns:IProjectService_GetBusinessDevelopmentProject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/GetBusinessDevelopmentProjectResponse" message="tns:IProjectService_GetBusinessDevelopmentProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProjectByIdShort">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/GetProjectByIdShort" message="tns:IProjectService_GetProjectByIdShort_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/GetProjectByIdShortResponse" message="tns:IProjectService_GetProjectByIdShort_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTimeTypesByProjectId">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/GetTimeTypesByProjectId" message="tns:IProjectService_GetTimeTypesByProjectId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/GetTimeTypesByProjectIdResponse" message="tns:IProjectService_GetTimeTypesByProjectId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetProjectTimeTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/SetProjectTimeTypes" message="tns:IProjectService_SetProjectTimeTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/SetProjectTimeTypesResponse" message="tns:IProjectService_SetProjectTimeTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIsHourlyRevenueByPeriod">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/GetIsHourlyRevenueByPeriod" message="tns:IProjectService_GetIsHourlyRevenueByPeriod_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/GetIsHourlyRevenueByPeriodResponse" message="tns:IProjectService_GetIsHourlyRevenueByPeriod_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProjectShortByProjectNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/GetProjectShortByProjectNumber" message="tns:IProjectService_GetProjectShortByProjectNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/GetProjectShortByProjectNumberResponse" message="tns:IProjectService_GetProjectShortByProjectNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTimeTypesInUseDetailsByProject">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/GetTimeTypesInUseDetailsByProject" message="tns:IProjectService_GetTimeTypesInUseDetailsByProject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/GetTimeTypesInUseDetailsByProjectResponse" message="tns:IProjectService_GetTimeTypesInUseDetailsByProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AttachOpportunityToProject">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/AttachOpportunityToProject" message="tns:IProjectService_AttachOpportunityToProject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/AttachOpportunityToProjectResponse" message="tns:IProjectService_AttachOpportunityToProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CSATInsert">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/CSATInsert" message="tns:IProjectService_CSATInsert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/CSATInsertResponse" message="tns:IProjectService_CSATInsert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CSATDelete">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/CSATDelete" message="tns:IProjectService_CSATDelete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/CSATDeleteResponse" message="tns:IProjectService_CSATDelete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CSATUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/CSATUpdate" message="tns:IProjectService_CSATUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/CSATUpdateResponse" message="tns:IProjectService_CSATUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CSATList">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/CSATList" message="tns:IProjectService_CSATList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/CSATListResponse" message="tns:IProjectService_CSATList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CSATSummaryReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/CSATSummaryReport" message="tns:IProjectService_CSATSummaryReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/CSATSummaryReportResponse" message="tns:IProjectService_CSATSummaryReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CSATReportHeader">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/CSATReportHeader" message="tns:IProjectService_CSATReportHeader_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/CSATReportHeaderResponse" message="tns:IProjectService_CSATReportHeader_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProjectAttributionValues">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/GetProjectAttributionValues" message="tns:IProjectService_GetProjectAttributionValues_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/GetProjectAttributionValuesResponse" message="tns:IProjectService_GetProjectAttributionValues_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetProjectAttributionValues">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/SetProjectAttributionValues" message="tns:IProjectService_SetProjectAttributionValues_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/SetProjectAttributionValuesResponse" message="tns:IProjectService_SetProjectAttributionValues_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAttributionForGivenIds">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/GetAttributionForGivenIds" message="tns:IProjectService_GetAttributionForGivenIds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/GetAttributionForGivenIdsResponse" message="tns:IProjectService_GetAttributionForGivenIds_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProjectFeedbackByProjectId">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/GetProjectFeedbackByProjectId" message="tns:IProjectService_GetProjectFeedbackByProjectId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/GetProjectFeedbackByProjectIdResponse" message="tns:IProjectService_GetProjectFeedbackByProjectId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllFeedbackStatuses">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/GetAllFeedbackStatuses" message="tns:IProjectService_GetAllFeedbackStatuses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/GetAllFeedbackStatusesResponse" message="tns:IProjectService_GetAllFeedbackStatuses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveFeedbackCancelationDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/SaveFeedbackCancelationDetails" message="tns:IProjectService_SaveFeedbackCancelationDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/SaveFeedbackCancelationDetailsResponse" message="tns:IProjectService_SaveFeedbackCancelationDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckIfFeedbackExists">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/CheckIfFeedbackExists" message="tns:IProjectService_CheckIfFeedbackExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/CheckIfFeedbackExistsResponse" message="tns:IProjectService_CheckIfFeedbackExists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckIfProjectNumberExists">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/CheckIfProjectNumberExists" message="tns:IProjectService_CheckIfProjectNumberExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/CheckIfProjectNumberExistsResponse" message="tns:IProjectService_CheckIfProjectNumberExists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProjectGetShortById">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/ProjectGetShortById" message="tns:IProjectService_ProjectGetShortById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/ProjectGetShortByIdResponse" message="tns:IProjectService_ProjectGetShortById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PersonsByProjectReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/PersonsByProjectReport" message="tns:IProjectService_PersonsByProjectReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/PersonsByProjectReportResponse" message="tns:IProjectService_PersonsByProjectReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProjectOfferingList">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/GetProjectOfferingList" message="tns:IProjectService_GetProjectOfferingList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/GetProjectOfferingListResponse" message="tns:IProjectService_GetProjectOfferingList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProjectRevenueTypeList">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/GetProjectRevenueTypeList" message="tns:IProjectService_GetProjectRevenueTypeList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/GetProjectRevenueTypeListResponse" message="tns:IProjectService_GetProjectRevenueTypeList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetChannelList">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/GetChannelList" message="tns:IProjectService_GetChannelList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/GetChannelListResponse" message="tns:IProjectService_GetChannelList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetChannelById">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/GetChannelById" message="tns:IProjectService_GetChannelById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/GetChannelByIdResponse" message="tns:IProjectService_GetChannelById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProjectDivisions">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/GetProjectDivisions" message="tns:IProjectService_GetProjectDivisions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/GetProjectDivisionsResponse" message="tns:IProjectService_GetProjectDivisions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProjectsForClients">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/GetProjectsForClients" message="tns:IProjectService_GetProjectsForClients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/GetProjectsForClientsResponse" message="tns:IProjectService_GetProjectsForClients_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProjectGetById">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/ProjectGetById" message="tns:IProjectService_ProjectGetById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/ProjectGetByIdResponse" message="tns:IProjectService_ProjectGetById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProjectLastChangeDateFortheGivenStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/GetProjectLastChangeDateFortheGivenStatus" message="tns:IProjectService_GetProjectLastChangeDateFortheGivenStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/GetProjectLastChangeDateFortheGivenStatusResponse" message="tns:IProjectService_GetProjectLastChangeDateFortheGivenStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProjectsComputedFinancials">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/GetProjectsComputedFinancials" message="tns:IProjectService_GetProjectsComputedFinancials_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/GetProjectsComputedFinancialsResponse" message="tns:IProjectService_GetProjectsComputedFinancials_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProjectMilestonesFinancials">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/GetProjectMilestonesFinancials" message="tns:IProjectService_GetProjectMilestonesFinancials_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/GetProjectMilestonesFinancialsResponse" message="tns:IProjectService_GetProjectMilestonesFinancials_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProjectCountByClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/ProjectCountByClient" message="tns:IProjectService_ProjectCountByClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/ProjectCountByClientResponse" message="tns:IProjectService_ProjectCountByClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProjectListByDateRange">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/GetProjectListByDateRange" message="tns:IProjectService_GetProjectListByDateRange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/GetProjectListByDateRangeResponse" message="tns:IProjectService_GetProjectListByDateRange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListProjectsByClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/ListProjectsByClient" message="tns:IProjectService_ListProjectsByClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/ListProjectsByClientResponse" message="tns:IProjectService_ListProjectsByClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListProjectsByClientShort">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/ListProjectsByClientShort" message="tns:IProjectService_ListProjectsByClientShort_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/ListProjectsByClientShortResponse" message="tns:IProjectService_ListProjectsByClientShort_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListProjectsByClientAndPersonInPeriod">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/ListProjectsByClientAndPersonInPeriod" message="tns:IProjectService_ListProjectsByClientAndPersonInPeriod_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/ListProjectsByClientAndPersonInPeriodResponse" message="tns:IProjectService_ListProjectsByClientAndPersonInPeriod_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListProjectsByClientWithSort">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/ListProjectsByClientWithSort" message="tns:IProjectService_ListProjectsByClientWithSort_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/ListProjectsByClientWithSortResponse" message="tns:IProjectService_ListProjectsByClientWithSort_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CloneProject">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/CloneProject" message="tns:IProjectService_CloneProject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/CloneProjectResponse" message="tns:IProjectService_CloneProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProjectListCustom">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/GetProjectListCustom" message="tns:IProjectService_GetProjectListCustom_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/GetProjectListCustomResponse" message="tns:IProjectService_GetProjectListCustom_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProjectListAllMultiParameters">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/ProjectListAllMultiParameters" message="tns:IProjectService_ProjectListAllMultiParameters_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/ProjectListAllMultiParametersResponse" message="tns:IProjectService_ProjectListAllMultiParameters_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsProjectSummaryCachedToday">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/IsProjectSummaryCachedToday" message="tns:IProjectService_IsProjectSummaryCachedToday_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/IsProjectSummaryCachedTodayResponse" message="tns:IProjectService_IsProjectSummaryCachedToday_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProjectListWithFinancials">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/GetProjectListWithFinancials" message="tns:IProjectService_GetProjectListWithFinancials_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/GetProjectListWithFinancialsResponse" message="tns:IProjectService_GetProjectListWithFinancials_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProjectListGroupByPracticeManagers">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/GetProjectListGroupByPracticeManagers" message="tns:IProjectService_GetProjectListGroupByPracticeManagers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/GetProjectListGroupByPracticeManagersResponse" message="tns:IProjectService_GetProjectListGroupByPracticeManagers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBenchList">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/GetBenchList" message="tns:IProjectService_GetBenchList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/GetBenchListResponse" message="tns:IProjectService_GetBenchList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBenchListWithoutBenchTotalAndAdminCosts">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/GetBenchListWithoutBenchTotalAndAdminCosts" message="tns:IProjectService_GetBenchListWithoutBenchTotalAndAdminCosts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/GetBenchListWithoutBenchTotalAndAdminCostsResponse" message="tns:IProjectService_GetBenchListWithoutBenchTotalAndAdminCosts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProjectSearchText">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/ProjectSearchText" message="tns:IProjectService_ProjectSearchText_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/ProjectSearchTextResponse" message="tns:IProjectService_ProjectSearchText_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProjectDetailWithoutMilestones">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/GetProjectDetailWithoutMilestones" message="tns:IProjectService_GetProjectDetailWithoutMilestones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/GetProjectDetailWithoutMilestonesResponse" message="tns:IProjectService_GetProjectDetailWithoutMilestones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveProjectDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/SaveProjectDetail" message="tns:IProjectService_SaveProjectDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/SaveProjectDetailResponse" message="tns:IProjectService_SaveProjectDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveInternalProject">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/SaveInternalProject" message="tns:IProjectService_SaveInternalProject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/SaveInternalProjectResponse" message="tns:IProjectService_SaveInternalProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MonthMiniReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/MonthMiniReport" message="tns:IProjectService_MonthMiniReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/MonthMiniReportResponse" message="tns:IProjectService_MonthMiniReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PersonStartsReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/PersonStartsReport" message="tns:IProjectService_PersonStartsReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/PersonStartsReportResponse" message="tns:IProjectService_PersonStartsReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProjectId">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/GetProjectId" message="tns:IProjectService_GetProjectId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/GetProjectIdResponse" message="tns:IProjectService_GetProjectId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PersonBudgetListByYear">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/PersonBudgetListByYear" message="tns:IProjectService_PersonBudgetListByYear_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/PersonBudgetListByYearResponse" message="tns:IProjectService_PersonBudgetListByYear_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PracticeBudgetListByYear">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/PracticeBudgetListByYear" message="tns:IProjectService_PracticeBudgetListByYear_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/PracticeBudgetListByYearResponse" message="tns:IProjectService_PracticeBudgetListByYear_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CategoryItemBudgetSave">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/CategoryItemBudgetSave" message="tns:IProjectService_CategoryItemBudgetSave_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/CategoryItemBudgetSaveResponse" message="tns:IProjectService_CategoryItemBudgetSave_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CalculateBudgetForPersons">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/CalculateBudgetForPersons" message="tns:IProjectService_CalculateBudgetForPersons_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/CalculateBudgetForPersonsResponse" message="tns:IProjectService_CalculateBudgetForPersons_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CalculateBudgetForPractices">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/CalculateBudgetForPractices" message="tns:IProjectService_CalculateBudgetForPractices_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/CalculateBudgetForPracticesResponse" message="tns:IProjectService_CalculateBudgetForPractices_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CategoryItemsSaveFromXML">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/CategoryItemsSaveFromXML" message="tns:IProjectService_CategoryItemsSaveFromXML_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/CategoryItemsSaveFromXMLResponse" message="tns:IProjectService_CategoryItemsSaveFromXML_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProjectDelete">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/ProjectDelete" message="tns:IProjectService_ProjectDelete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/ProjectDeleteResponse" message="tns:IProjectService_ProjectDelete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProjectExpensesForProject">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/GetProjectExpensesForProject" message="tns:IProjectService_GetProjectExpensesForProject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/GetProjectExpensesForProjectResponse" message="tns:IProjectService_GetProjectExpensesForProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AllProjectsWithFinancialTotalsAndPersons">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/AllProjectsWithFinancialTotalsAndPersons" message="tns:IProjectService_AllProjectsWithFinancialTotalsAndPersons_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/AllProjectsWithFinancialTotalsAndPersonsResponse" message="tns:IProjectService_AllProjectsWithFinancialTotalsAndPersons_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsUserHasPermissionOnProject">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/IsUserHasPermissionOnProject" message="tns:IProjectService_IsUserHasPermissionOnProject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/IsUserHasPermissionOnProjectResponse" message="tns:IProjectService_IsUserHasPermissionOnProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsUserIsOwnerOfProject">
      <wsdl:input wsaw:Action="http://tempuri.org/IProjectService/IsUserIsOwnerOfProject" message="tns:IProjectService_IsUserIsOwnerOfProject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProjectService/IsUserIsOwnerOfProjectResponse" message="tns:IProjectService_IsUserIsOwnerOfProject_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProjectService" type="tns:IProjectService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsUserIsProjectOwner">
      <soap:operation soapAction="http://tempuri.org/IProjectService/IsUserIsProjectOwner" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjectsListByProjectGroupId">
      <soap:operation soapAction="http://tempuri.org/IProjectService/GetProjectsListByProjectGroupId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBusinessDevelopmentProject">
      <soap:operation soapAction="http://tempuri.org/IProjectService/GetBusinessDevelopmentProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjectByIdShort">
      <soap:operation soapAction="http://tempuri.org/IProjectService/GetProjectByIdShort" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTimeTypesByProjectId">
      <soap:operation soapAction="http://tempuri.org/IProjectService/GetTimeTypesByProjectId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetProjectTimeTypes">
      <soap:operation soapAction="http://tempuri.org/IProjectService/SetProjectTimeTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIsHourlyRevenueByPeriod">
      <soap:operation soapAction="http://tempuri.org/IProjectService/GetIsHourlyRevenueByPeriod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjectShortByProjectNumber">
      <soap:operation soapAction="http://tempuri.org/IProjectService/GetProjectShortByProjectNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTimeTypesInUseDetailsByProject">
      <soap:operation soapAction="http://tempuri.org/IProjectService/GetTimeTypesInUseDetailsByProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AttachOpportunityToProject">
      <soap:operation soapAction="http://tempuri.org/IProjectService/AttachOpportunityToProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CSATInsert">
      <soap:operation soapAction="http://tempuri.org/IProjectService/CSATInsert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CSATDelete">
      <soap:operation soapAction="http://tempuri.org/IProjectService/CSATDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CSATUpdate">
      <soap:operation soapAction="http://tempuri.org/IProjectService/CSATUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CSATList">
      <soap:operation soapAction="http://tempuri.org/IProjectService/CSATList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CSATSummaryReport">
      <soap:operation soapAction="http://tempuri.org/IProjectService/CSATSummaryReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CSATReportHeader">
      <soap:operation soapAction="http://tempuri.org/IProjectService/CSATReportHeader" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjectAttributionValues">
      <soap:operation soapAction="http://tempuri.org/IProjectService/GetProjectAttributionValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetProjectAttributionValues">
      <soap:operation soapAction="http://tempuri.org/IProjectService/SetProjectAttributionValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAttributionForGivenIds">
      <soap:operation soapAction="http://tempuri.org/IProjectService/GetAttributionForGivenIds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjectFeedbackByProjectId">
      <soap:operation soapAction="http://tempuri.org/IProjectService/GetProjectFeedbackByProjectId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllFeedbackStatuses">
      <soap:operation soapAction="http://tempuri.org/IProjectService/GetAllFeedbackStatuses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveFeedbackCancelationDetails">
      <soap:operation soapAction="http://tempuri.org/IProjectService/SaveFeedbackCancelationDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckIfFeedbackExists">
      <soap:operation soapAction="http://tempuri.org/IProjectService/CheckIfFeedbackExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckIfProjectNumberExists">
      <soap:operation soapAction="http://tempuri.org/IProjectService/CheckIfProjectNumberExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProjectGetShortById">
      <soap:operation soapAction="http://tempuri.org/IProjectService/ProjectGetShortById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PersonsByProjectReport">
      <soap:operation soapAction="http://tempuri.org/IProjectService/PersonsByProjectReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjectOfferingList">
      <soap:operation soapAction="http://tempuri.org/IProjectService/GetProjectOfferingList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjectRevenueTypeList">
      <soap:operation soapAction="http://tempuri.org/IProjectService/GetProjectRevenueTypeList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChannelList">
      <soap:operation soapAction="http://tempuri.org/IProjectService/GetChannelList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChannelById">
      <soap:operation soapAction="http://tempuri.org/IProjectService/GetChannelById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjectDivisions">
      <soap:operation soapAction="http://tempuri.org/IProjectService/GetProjectDivisions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjectsForClients">
      <soap:operation soapAction="http://tempuri.org/IProjectService/GetProjectsForClients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProjectGetById">
      <soap:operation soapAction="http://tempuri.org/IProjectService/ProjectGetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjectLastChangeDateFortheGivenStatus">
      <soap:operation soapAction="http://tempuri.org/IProjectService/GetProjectLastChangeDateFortheGivenStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjectsComputedFinancials">
      <soap:operation soapAction="http://tempuri.org/IProjectService/GetProjectsComputedFinancials" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjectMilestonesFinancials">
      <soap:operation soapAction="http://tempuri.org/IProjectService/GetProjectMilestonesFinancials" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProjectCountByClient">
      <soap:operation soapAction="http://tempuri.org/IProjectService/ProjectCountByClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjectListByDateRange">
      <soap:operation soapAction="http://tempuri.org/IProjectService/GetProjectListByDateRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListProjectsByClient">
      <soap:operation soapAction="http://tempuri.org/IProjectService/ListProjectsByClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListProjectsByClientShort">
      <soap:operation soapAction="http://tempuri.org/IProjectService/ListProjectsByClientShort" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListProjectsByClientAndPersonInPeriod">
      <soap:operation soapAction="http://tempuri.org/IProjectService/ListProjectsByClientAndPersonInPeriod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListProjectsByClientWithSort">
      <soap:operation soapAction="http://tempuri.org/IProjectService/ListProjectsByClientWithSort" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CloneProject">
      <soap:operation soapAction="http://tempuri.org/IProjectService/CloneProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjectListCustom">
      <soap:operation soapAction="http://tempuri.org/IProjectService/GetProjectListCustom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProjectListAllMultiParameters">
      <soap:operation soapAction="http://tempuri.org/IProjectService/ProjectListAllMultiParameters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsProjectSummaryCachedToday">
      <soap:operation soapAction="http://tempuri.org/IProjectService/IsProjectSummaryCachedToday" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjectListWithFinancials">
      <soap:operation soapAction="http://tempuri.org/IProjectService/GetProjectListWithFinancials" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjectListGroupByPracticeManagers">
      <soap:operation soapAction="http://tempuri.org/IProjectService/GetProjectListGroupByPracticeManagers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBenchList">
      <soap:operation soapAction="http://tempuri.org/IProjectService/GetBenchList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBenchListWithoutBenchTotalAndAdminCosts">
      <soap:operation soapAction="http://tempuri.org/IProjectService/GetBenchListWithoutBenchTotalAndAdminCosts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProjectSearchText">
      <soap:operation soapAction="http://tempuri.org/IProjectService/ProjectSearchText" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjectDetailWithoutMilestones">
      <soap:operation soapAction="http://tempuri.org/IProjectService/GetProjectDetailWithoutMilestones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveProjectDetail">
      <soap:operation soapAction="http://tempuri.org/IProjectService/SaveProjectDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveInternalProject">
      <soap:operation soapAction="http://tempuri.org/IProjectService/SaveInternalProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MonthMiniReport">
      <soap:operation soapAction="http://tempuri.org/IProjectService/MonthMiniReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PersonStartsReport">
      <soap:operation soapAction="http://tempuri.org/IProjectService/PersonStartsReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjectId">
      <soap:operation soapAction="http://tempuri.org/IProjectService/GetProjectId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PersonBudgetListByYear">
      <soap:operation soapAction="http://tempuri.org/IProjectService/PersonBudgetListByYear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PracticeBudgetListByYear">
      <soap:operation soapAction="http://tempuri.org/IProjectService/PracticeBudgetListByYear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CategoryItemBudgetSave">
      <soap:operation soapAction="http://tempuri.org/IProjectService/CategoryItemBudgetSave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateBudgetForPersons">
      <soap:operation soapAction="http://tempuri.org/IProjectService/CalculateBudgetForPersons" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateBudgetForPractices">
      <soap:operation soapAction="http://tempuri.org/IProjectService/CalculateBudgetForPractices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CategoryItemsSaveFromXML">
      <soap:operation soapAction="http://tempuri.org/IProjectService/CategoryItemsSaveFromXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProjectDelete">
      <soap:operation soapAction="http://tempuri.org/IProjectService/ProjectDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjectExpensesForProject">
      <soap:operation soapAction="http://tempuri.org/IProjectService/GetProjectExpensesForProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllProjectsWithFinancialTotalsAndPersons">
      <soap:operation soapAction="http://tempuri.org/IProjectService/AllProjectsWithFinancialTotalsAndPersons" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsUserHasPermissionOnProject">
      <soap:operation soapAction="http://tempuri.org/IProjectService/IsUserHasPermissionOnProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsUserIsOwnerOfProject">
      <soap:operation soapAction="http://tempuri.org/IProjectService/IsUserIsOwnerOfProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProjectService">
    <wsdl:port name="BasicHttpBinding_IProjectService" binding="tns:BasicHttpBinding_IProjectService">
      <soap:address location="http://ggku3sys280.ggktech.local/PracticemanagementService/ProjectService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
