PracticeManagement/PracticeManagement/Service References/CalendarService/CalendarService11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataTransferObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataTransferObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCalendarItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CalendarItem" nillable="true" type="tns:CalendarItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCalendarItem" nillable="true" type="tns:ArrayOfCalendarItem" />
  <xs:complexType name="CalendarItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompanyDayOff" type="xs:boolean" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DayOff" type="xs:boolean" />
      <xs:element minOccurs="0" name="PersonId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ReadOnly" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CalendarItem" nillable="true" type="tns:CalendarItem" />
</xs:schema>
