PracticeManagement/PracticeManagement/Service References/CalendarService/CalendarService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataTransferObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataTransferObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCalendarItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CalendarItem" nillable="true" type="tns:CalendarItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCalendarItem" nillable="true" type="tns:ArrayOfCalendarItem" />
  <xs:complexType name="CalendarItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActualHours" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="CompanyDayOff" type="xs:boolean" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DayOff" type="xs:boolean" />
      <xs:element minOccurs="0" name="HolidayDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsFloatingHoliday" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsRecurringHoliday" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsUnpaidTimeType" type="xs:boolean" />
      <xs:element minOccurs="0" name="PersonId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ReadOnly" type="xs:boolean" />
      <xs:element minOccurs="0" name="RecurringHolidayDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RecurringHolidayId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SubstituteDayDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TimeTypeId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CalendarItem" nillable="true" type="tns:CalendarItem" />
  <xs:complexType name="ArrayOfTripleOfintstringboolean">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TripleOfintstringboolean" nillable="true" type="tns:TripleOfintstringboolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTripleOfintstringboolean" nillable="true" type="tns:ArrayOfTripleOfintstringboolean" />
  <xs:complexType name="TripleOfintstringboolean">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TripleOf{0}{1}{2}{#}" Namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="boolean" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="First" type="xs:int" />
      <xs:element minOccurs="0" name="Second" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Third" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TripleOfintstringboolean" nillable="true" type="tns:TripleOfintstringboolean" />
  <xs:complexType name="QuadrupleOfdateTimedateTimeNullableOfintstring7PP7_PALA">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="QuadrupleOf{0}{1}{2}{3}{#}" Namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="dateTime" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="dateTime" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="NullableOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System">
            <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
          </GenericParameter>
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="First" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fourth" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Second" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Third" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuadrupleOfdateTimedateTimeNullableOfintstring7PP7_PALA" nillable="true" type="tns:QuadrupleOfdateTimedateTimeNullableOfintstring7PP7_PALA" />
</xs:schema>
