PracticeManagement/PracticeManagement/Service References/CalendarService/CalendarService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CalendarService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://system64.ggk.com/PracticeManagementService/CalendarService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://system64.ggk.com/PracticeManagementService/CalendarService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://system64.ggk.com/PracticeManagementService/CalendarService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects" />
      <xsd:import schemaLocation="http://system64.ggk.com/PracticeManagementService/CalendarService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://system64.ggk.com/PracticeManagementService/CalendarService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICalendarService_GetCalendar_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCalendar" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_GetCalendar_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCalendarResponse" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_GetPersonCalendar_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonCalendar" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_GetPersonCalendar_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonCalendarResponse" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_SaveCalendar_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveCalendar" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_SaveCalendar_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveCalendarResponse" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_GetCompanyHolidays_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCompanyHolidays" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_GetCompanyHolidays_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCompanyHolidaysResponse" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_GetRecurringHolidaysList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRecurringHolidaysList" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_GetRecurringHolidaysList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRecurringHolidaysListResponse" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_SetRecurringHoliday_InputMessage">
    <wsdl:part name="parameters" element="tns:SetRecurringHoliday" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_SetRecurringHoliday_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetRecurringHolidayResponse" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_GetRecurringHolidaysInWeek_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRecurringHolidaysInWeek" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_GetRecurringHolidaysInWeek_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRecurringHolidaysInWeekResponse" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_SaveSubstituteDay_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveSubstituteDay" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_SaveSubstituteDay_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveSubstituteDayResponse" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_DeleteSubstituteDay_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSubstituteDay" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_DeleteSubstituteDay_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSubstituteDayResponse" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_SaveTimeOff_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveTimeOff" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_SaveTimeOff_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveTimeOffResponse" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_GetTimeOffSeriesPeriod_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTimeOffSeriesPeriod" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_GetTimeOffSeriesPeriod_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTimeOffSeriesPeriodResponse" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_GetSubstituteDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSubstituteDate" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_GetSubstituteDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSubstituteDateResponse" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_GetSubstituteDayDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSubstituteDayDetails" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_GetSubstituteDayDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSubstituteDayDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="ICalendarService">
    <wsdl:operation name="GetCalendar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalendarService/GetCalendar" message="tns:ICalendarService_GetCalendar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalendarService/GetCalendarResponse" message="tns:ICalendarService_GetCalendar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonCalendar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalendarService/GetPersonCalendar" message="tns:ICalendarService_GetPersonCalendar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalendarService/GetPersonCalendarResponse" message="tns:ICalendarService_GetPersonCalendar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveCalendar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalendarService/SaveCalendar" message="tns:ICalendarService_SaveCalendar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalendarService/SaveCalendarResponse" message="tns:ICalendarService_SaveCalendar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCompanyHolidays">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalendarService/GetCompanyHolidays" message="tns:ICalendarService_GetCompanyHolidays_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalendarService/GetCompanyHolidaysResponse" message="tns:ICalendarService_GetCompanyHolidays_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRecurringHolidaysList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalendarService/GetRecurringHolidaysList" message="tns:ICalendarService_GetRecurringHolidaysList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalendarService/GetRecurringHolidaysListResponse" message="tns:ICalendarService_GetRecurringHolidaysList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetRecurringHoliday">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalendarService/SetRecurringHoliday" message="tns:ICalendarService_SetRecurringHoliday_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalendarService/SetRecurringHolidayResponse" message="tns:ICalendarService_SetRecurringHoliday_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRecurringHolidaysInWeek">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalendarService/GetRecurringHolidaysInWeek" message="tns:ICalendarService_GetRecurringHolidaysInWeek_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalendarService/GetRecurringHolidaysInWeekResponse" message="tns:ICalendarService_GetRecurringHolidaysInWeek_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveSubstituteDay">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalendarService/SaveSubstituteDay" message="tns:ICalendarService_SaveSubstituteDay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalendarService/SaveSubstituteDayResponse" message="tns:ICalendarService_SaveSubstituteDay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSubstituteDay">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalendarService/DeleteSubstituteDay" message="tns:ICalendarService_DeleteSubstituteDay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalendarService/DeleteSubstituteDayResponse" message="tns:ICalendarService_DeleteSubstituteDay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveTimeOff">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalendarService/SaveTimeOff" message="tns:ICalendarService_SaveTimeOff_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalendarService/SaveTimeOffResponse" message="tns:ICalendarService_SaveTimeOff_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTimeOffSeriesPeriod">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalendarService/GetTimeOffSeriesPeriod" message="tns:ICalendarService_GetTimeOffSeriesPeriod_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalendarService/GetTimeOffSeriesPeriodResponse" message="tns:ICalendarService_GetTimeOffSeriesPeriod_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSubstituteDate">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalendarService/GetSubstituteDate" message="tns:ICalendarService_GetSubstituteDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalendarService/GetSubstituteDateResponse" message="tns:ICalendarService_GetSubstituteDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSubstituteDayDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalendarService/GetSubstituteDayDetails" message="tns:ICalendarService_GetSubstituteDayDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalendarService/GetSubstituteDayDetailsResponse" message="tns:ICalendarService_GetSubstituteDayDetails_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICalendarService" type="tns:ICalendarService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCalendar">
      <soap:operation soapAction="http://tempuri.org/ICalendarService/GetCalendar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonCalendar">
      <soap:operation soapAction="http://tempuri.org/ICalendarService/GetPersonCalendar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveCalendar">
      <soap:operation soapAction="http://tempuri.org/ICalendarService/SaveCalendar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompanyHolidays">
      <soap:operation soapAction="http://tempuri.org/ICalendarService/GetCompanyHolidays" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecurringHolidaysList">
      <soap:operation soapAction="http://tempuri.org/ICalendarService/GetRecurringHolidaysList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetRecurringHoliday">
      <soap:operation soapAction="http://tempuri.org/ICalendarService/SetRecurringHoliday" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecurringHolidaysInWeek">
      <soap:operation soapAction="http://tempuri.org/ICalendarService/GetRecurringHolidaysInWeek" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveSubstituteDay">
      <soap:operation soapAction="http://tempuri.org/ICalendarService/SaveSubstituteDay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSubstituteDay">
      <soap:operation soapAction="http://tempuri.org/ICalendarService/DeleteSubstituteDay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveTimeOff">
      <soap:operation soapAction="http://tempuri.org/ICalendarService/SaveTimeOff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTimeOffSeriesPeriod">
      <soap:operation soapAction="http://tempuri.org/ICalendarService/GetTimeOffSeriesPeriod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubstituteDate">
      <soap:operation soapAction="http://tempuri.org/ICalendarService/GetSubstituteDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubstituteDayDetails">
      <soap:operation soapAction="http://tempuri.org/ICalendarService/GetSubstituteDayDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CalendarService">
    <wsdl:port name="BasicHttpBinding_ICalendarService" binding="tns:BasicHttpBinding_ICalendarService">
      <soap:address location="http://system64.ggk.com/PracticeManagementService/CalendarService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
