PracticeManagement/PracticeManagement/Service References/ConfigurationService/ConfigurationService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ConfigurationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://ggku3sys52.ggktech.local/PracticeManagementService/ConfigurationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://ggku3sys52.ggktech.local/PracticeManagementService/ConfigurationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://ggku3sys52.ggktech.local/PracticeManagementService/ConfigurationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects" />
      <xsd:import schemaLocation="http://ggku3sys52.ggktech.local/PracticeManagementService/ConfigurationService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.ContextObjects" />
      <xsd:import schemaLocation="http://ggku3sys52.ggktech.local/PracticeManagementService/ConfigurationService.svc?xsd=xsd4" />
      <xsd:import schemaLocation="http://ggku3sys52.ggktech.local/PracticeManagementService/ConfigurationService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IConfigurationService_GetAllEmailTemplates_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEmailTemplates" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetAllEmailTemplates_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEmailTemplatesResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_EmailTemplateGetByName_InputMessage">
    <wsdl:part name="parameters" element="tns:EmailTemplateGetByName" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_EmailTemplateGetByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:EmailTemplateGetByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_UpdateEmailTemplate_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEmailTemplate" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_UpdateEmailTemplate_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEmailTemplateResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_AddEmailTemplate_InputMessage">
    <wsdl:part name="parameters" element="tns:AddEmailTemplate" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_AddEmailTemplate_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddEmailTemplateResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_DeleteEmailTemplate_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmailTemplate" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_DeleteEmailTemplate_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmailTemplateResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetEmailData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmailData" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetEmailData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmailDataResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetCompanyLogoData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCompanyLogoData" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetCompanyLogoData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCompanyLogoDataResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_SaveCompanyLogoData_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveCompanyLogoData" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_SaveCompanyLogoData_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveCompanyLogoDataResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_SaveResourceKeyValuePairs_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveResourceKeyValuePairs" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_SaveResourceKeyValuePairs_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResourceKeyValuePairsResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_SaveResourceKeyValuePairItem_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveResourceKeyValuePairItem" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_SaveResourceKeyValuePairItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResourceKeyValuePairItemResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetResourceKeyValuePairs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetResourceKeyValuePairs" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetResourceKeyValuePairs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResourceKeyValuePairsResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_VerifySMTPSettings_InputMessage">
    <wsdl:part name="parameters" element="tns:VerifySMTPSettings" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_VerifySMTPSettings_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerifySMTPSettingsResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_SaveMarginInfoDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveMarginInfoDetail" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_SaveMarginInfoDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveMarginInfoDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetMarginColorInfoDefaults_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMarginColorInfoDefaults" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetMarginColorInfoDefaults_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMarginColorInfoDefaultsResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_SavePracticesIsNotesRequiredDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:SavePracticesIsNotesRequiredDetails" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_SavePracticesIsNotesRequiredDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:SavePracticesIsNotesRequiredDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_SaveQuickLinksForDashBoard_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveQuickLinksForDashBoard" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_SaveQuickLinksForDashBoard_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveQuickLinksForDashBoardResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetQuickLinksByDashBoardType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQuickLinksByDashBoardType" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetQuickLinksByDashBoardType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQuickLinksByDashBoardTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_DeleteQuickLinkById_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteQuickLinkById" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_DeleteQuickLinkById_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteQuickLinkByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_SaveAnnouncement_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveAnnouncement" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_SaveAnnouncement_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveAnnouncementResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetLatestAnnouncement_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestAnnouncement" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetLatestAnnouncement_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestAnnouncementResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetAllDomains_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDomains" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetAllDomains_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDomainsResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_SendResourceExceptionReportsEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:SendResourceExceptionReportsEmail" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_SendResourceExceptionReportsEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendResourceExceptionReportsEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetRecruitingMetrics_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRecruitingMetrics" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetRecruitingMetrics_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRecruitingMetricsResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_SaveRecruitingMetrics_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveRecruitingMetrics" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_SaveRecruitingMetrics_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveRecruitingMetricsResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_RecruitingMetricsDelete_InputMessage">
    <wsdl:part name="parameters" element="tns:RecruitingMetricsDelete" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_RecruitingMetricsDelete_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecruitingMetricsDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_RecruitingMetricsInsert_InputMessage">
    <wsdl:part name="parameters" element="tns:RecruitingMetricsInsert" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_RecruitingMetricsInsert_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecruitingMetricsInsertResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_SendRecruitingMetricsReportEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:SendRecruitingMetricsReportEmail" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_SendRecruitingMetricsReportEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendRecruitingMetricsReportEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetLockoutDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLockoutDetails" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetLockoutDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLockoutDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_SaveLockoutDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveLockoutDetails" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_SaveLockoutDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveLockoutDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetLocations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLocations" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetLocations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLocationsResponse" />
  </wsdl:message>
  <wsdl:portType name="IConfigurationService">
    <wsdl:operation name="GetAllEmailTemplates">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/GetAllEmailTemplates" message="tns:IConfigurationService_GetAllEmailTemplates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/GetAllEmailTemplatesResponse" message="tns:IConfigurationService_GetAllEmailTemplates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EmailTemplateGetByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/EmailTemplateGetByName" message="tns:IConfigurationService_EmailTemplateGetByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/EmailTemplateGetByNameResponse" message="tns:IConfigurationService_EmailTemplateGetByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEmailTemplate">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/UpdateEmailTemplate" message="tns:IConfigurationService_UpdateEmailTemplate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/UpdateEmailTemplateResponse" message="tns:IConfigurationService_UpdateEmailTemplate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddEmailTemplate">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/AddEmailTemplate" message="tns:IConfigurationService_AddEmailTemplate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/AddEmailTemplateResponse" message="tns:IConfigurationService_AddEmailTemplate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEmailTemplate">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/DeleteEmailTemplate" message="tns:IConfigurationService_DeleteEmailTemplate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/DeleteEmailTemplateResponse" message="tns:IConfigurationService_DeleteEmailTemplate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmailData">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/GetEmailData" message="tns:IConfigurationService_GetEmailData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/GetEmailDataResponse" message="tns:IConfigurationService_GetEmailData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCompanyLogoData">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/GetCompanyLogoData" message="tns:IConfigurationService_GetCompanyLogoData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/GetCompanyLogoDataResponse" message="tns:IConfigurationService_GetCompanyLogoData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveCompanyLogoData">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/SaveCompanyLogoData" message="tns:IConfigurationService_SaveCompanyLogoData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/SaveCompanyLogoDataResponse" message="tns:IConfigurationService_SaveCompanyLogoData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveResourceKeyValuePairs">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/SaveResourceKeyValuePairs" message="tns:IConfigurationService_SaveResourceKeyValuePairs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/SaveResourceKeyValuePairsResponse" message="tns:IConfigurationService_SaveResourceKeyValuePairs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveResourceKeyValuePairItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/SaveResourceKeyValuePairItem" message="tns:IConfigurationService_SaveResourceKeyValuePairItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/SaveResourceKeyValuePairItemResponse" message="tns:IConfigurationService_SaveResourceKeyValuePairItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetResourceKeyValuePairs">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/GetResourceKeyValuePairs" message="tns:IConfigurationService_GetResourceKeyValuePairs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/GetResourceKeyValuePairsResponse" message="tns:IConfigurationService_GetResourceKeyValuePairs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerifySMTPSettings">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/VerifySMTPSettings" message="tns:IConfigurationService_VerifySMTPSettings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/VerifySMTPSettingsResponse" message="tns:IConfigurationService_VerifySMTPSettings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveMarginInfoDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/SaveMarginInfoDetail" message="tns:IConfigurationService_SaveMarginInfoDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/SaveMarginInfoDetailResponse" message="tns:IConfigurationService_SaveMarginInfoDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMarginColorInfoDefaults">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/GetMarginColorInfoDefaults" message="tns:IConfigurationService_GetMarginColorInfoDefaults_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/GetMarginColorInfoDefaultsResponse" message="tns:IConfigurationService_GetMarginColorInfoDefaults_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SavePracticesIsNotesRequiredDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/SavePracticesIsNotesRequiredDetails" message="tns:IConfigurationService_SavePracticesIsNotesRequiredDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/SavePracticesIsNotesRequiredDetailsResponse" message="tns:IConfigurationService_SavePracticesIsNotesRequiredDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveQuickLinksForDashBoard">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/SaveQuickLinksForDashBoard" message="tns:IConfigurationService_SaveQuickLinksForDashBoard_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/SaveQuickLinksForDashBoardResponse" message="tns:IConfigurationService_SaveQuickLinksForDashBoard_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQuickLinksByDashBoardType">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/GetQuickLinksByDashBoardType" message="tns:IConfigurationService_GetQuickLinksByDashBoardType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/GetQuickLinksByDashBoardTypeResponse" message="tns:IConfigurationService_GetQuickLinksByDashBoardType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteQuickLinkById">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/DeleteQuickLinkById" message="tns:IConfigurationService_DeleteQuickLinkById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/DeleteQuickLinkByIdResponse" message="tns:IConfigurationService_DeleteQuickLinkById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveAnnouncement">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/SaveAnnouncement" message="tns:IConfigurationService_SaveAnnouncement_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/SaveAnnouncementResponse" message="tns:IConfigurationService_SaveAnnouncement_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestAnnouncement">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/GetLatestAnnouncement" message="tns:IConfigurationService_GetLatestAnnouncement_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/GetLatestAnnouncementResponse" message="tns:IConfigurationService_GetLatestAnnouncement_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllDomains">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/GetAllDomains" message="tns:IConfigurationService_GetAllDomains_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/GetAllDomainsResponse" message="tns:IConfigurationService_GetAllDomains_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendResourceExceptionReportsEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/SendResourceExceptionReportsEmail" message="tns:IConfigurationService_SendResourceExceptionReportsEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/SendResourceExceptionReportsEmailResponse" message="tns:IConfigurationService_SendResourceExceptionReportsEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRecruitingMetrics">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/GetRecruitingMetrics" message="tns:IConfigurationService_GetRecruitingMetrics_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/GetRecruitingMetricsResponse" message="tns:IConfigurationService_GetRecruitingMetrics_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveRecruitingMetrics">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/SaveRecruitingMetrics" message="tns:IConfigurationService_SaveRecruitingMetrics_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/SaveRecruitingMetricsResponse" message="tns:IConfigurationService_SaveRecruitingMetrics_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecruitingMetricsDelete">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/RecruitingMetricsDelete" message="tns:IConfigurationService_RecruitingMetricsDelete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/RecruitingMetricsDeleteResponse" message="tns:IConfigurationService_RecruitingMetricsDelete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecruitingMetricsInsert">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/RecruitingMetricsInsert" message="tns:IConfigurationService_RecruitingMetricsInsert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/RecruitingMetricsInsertResponse" message="tns:IConfigurationService_RecruitingMetricsInsert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendRecruitingMetricsReportEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/SendRecruitingMetricsReportEmail" message="tns:IConfigurationService_SendRecruitingMetricsReportEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/SendRecruitingMetricsReportEmailResponse" message="tns:IConfigurationService_SendRecruitingMetricsReportEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLockoutDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/GetLockoutDetails" message="tns:IConfigurationService_GetLockoutDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/GetLockoutDetailsResponse" message="tns:IConfigurationService_GetLockoutDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveLockoutDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/SaveLockoutDetails" message="tns:IConfigurationService_SaveLockoutDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/SaveLockoutDetailsResponse" message="tns:IConfigurationService_SaveLockoutDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLocations">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/GetLocations" message="tns:IConfigurationService_GetLocations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/GetLocationsResponse" message="tns:IConfigurationService_GetLocations_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IConfigurationService" type="tns:IConfigurationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllEmailTemplates">
      <soap:operation soapAction="http://tempuri.org/IConfigurationService/GetAllEmailTemplates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmailTemplateGetByName">
      <soap:operation soapAction="http://tempuri.org/IConfigurationService/EmailTemplateGetByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEmailTemplate">
      <soap:operation soapAction="http://tempuri.org/IConfigurationService/UpdateEmailTemplate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEmailTemplate">
      <soap:operation soapAction="http://tempuri.org/IConfigurationService/AddEmailTemplate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEmailTemplate">
      <soap:operation soapAction="http://tempuri.org/IConfigurationService/DeleteEmailTemplate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmailData">
      <soap:operation soapAction="http://tempuri.org/IConfigurationService/GetEmailData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompanyLogoData">
      <soap:operation soapAction="http://tempuri.org/IConfigurationService/GetCompanyLogoData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveCompanyLogoData">
      <soap:operation soapAction="http://tempuri.org/IConfigurationService/SaveCompanyLogoData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveResourceKeyValuePairs">
      <soap:operation soapAction="http://tempuri.org/IConfigurationService/SaveResourceKeyValuePairs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveResourceKeyValuePairItem">
      <soap:operation soapAction="http://tempuri.org/IConfigurationService/SaveResourceKeyValuePairItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResourceKeyValuePairs">
      <soap:operation soapAction="http://tempuri.org/IConfigurationService/GetResourceKeyValuePairs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifySMTPSettings">
      <soap:operation soapAction="http://tempuri.org/IConfigurationService/VerifySMTPSettings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveMarginInfoDetail">
      <soap:operation soapAction="http://tempuri.org/IConfigurationService/SaveMarginInfoDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMarginColorInfoDefaults">
      <soap:operation soapAction="http://tempuri.org/IConfigurationService/GetMarginColorInfoDefaults" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SavePracticesIsNotesRequiredDetails">
      <soap:operation soapAction="http://tempuri.org/IConfigurationService/SavePracticesIsNotesRequiredDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveQuickLinksForDashBoard">
      <soap:operation soapAction="http://tempuri.org/IConfigurationService/SaveQuickLinksForDashBoard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuickLinksByDashBoardType">
      <soap:operation soapAction="http://tempuri.org/IConfigurationService/GetQuickLinksByDashBoardType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteQuickLinkById">
      <soap:operation soapAction="http://tempuri.org/IConfigurationService/DeleteQuickLinkById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveAnnouncement">
      <soap:operation soapAction="http://tempuri.org/IConfigurationService/SaveAnnouncement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestAnnouncement">
      <soap:operation soapAction="http://tempuri.org/IConfigurationService/GetLatestAnnouncement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDomains">
      <soap:operation soapAction="http://tempuri.org/IConfigurationService/GetAllDomains" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendResourceExceptionReportsEmail">
      <soap:operation soapAction="http://tempuri.org/IConfigurationService/SendResourceExceptionReportsEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecruitingMetrics">
      <soap:operation soapAction="http://tempuri.org/IConfigurationService/GetRecruitingMetrics" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveRecruitingMetrics">
      <soap:operation soapAction="http://tempuri.org/IConfigurationService/SaveRecruitingMetrics" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecruitingMetricsDelete">
      <soap:operation soapAction="http://tempuri.org/IConfigurationService/RecruitingMetricsDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecruitingMetricsInsert">
      <soap:operation soapAction="http://tempuri.org/IConfigurationService/RecruitingMetricsInsert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendRecruitingMetricsReportEmail">
      <soap:operation soapAction="http://tempuri.org/IConfigurationService/SendRecruitingMetricsReportEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLockoutDetails">
      <soap:operation soapAction="http://tempuri.org/IConfigurationService/GetLockoutDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveLockoutDetails">
      <soap:operation soapAction="http://tempuri.org/IConfigurationService/SaveLockoutDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLocations">
      <soap:operation soapAction="http://tempuri.org/IConfigurationService/GetLocations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConfigurationService">
    <wsdl:port name="BasicHttpBinding_IConfigurationService" binding="tns:BasicHttpBinding_IConfigurationService">
      <soap:address location="http://ggku3sys52.ggktech.local/PracticeManagementService/ConfigurationService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
