PracticeManagement/PracticeManagement/Service References/MembershipService/MembershipService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MembershipService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://ws60/PracticeManagementService/MembershipService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://ws60/PracticeManagementService/MembershipService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://ws60/PracticeManagementService/MembershipService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Web.Security" />
      <xsd:import schemaLocation="http://ws60/PracticeManagementService/MembershipService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMembershipService_GetApplicationName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetApplicationName" />
  </wsdl:message>
  <wsdl:message name="IMembershipService_GetApplicationName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetApplicationNameResponse" />
  </wsdl:message>
  <wsdl:message name="IMembershipService_SetApplicationName_InputMessage">
    <wsdl:part name="parameters" element="tns:SetApplicationName" />
  </wsdl:message>
  <wsdl:message name="IMembershipService_SetApplicationName_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetApplicationNameResponse" />
  </wsdl:message>
  <wsdl:message name="IMembershipService_ChangePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="IMembershipService_ChangePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IMembershipService_ChangePasswordQuestionAndAnswer_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordQuestionAndAnswer" />
  </wsdl:message>
  <wsdl:message name="IMembershipService_ChangePasswordQuestionAndAnswer_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordQuestionAndAnswerResponse" />
  </wsdl:message>
  <wsdl:message name="IMembershipService_CreateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="IMembershipService_CreateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IMembershipService_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="IMembershipService_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="IMembershipService_GetEnablePasswordReset_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEnablePasswordReset" />
  </wsdl:message>
  <wsdl:message name="IMembershipService_GetEnablePasswordReset_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEnablePasswordResetResponse" />
  </wsdl:message>
  <wsdl:message name="IMembershipService_GetEnablePasswordRetrieval_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEnablePasswordRetrieval" />
  </wsdl:message>
  <wsdl:message name="IMembershipService_GetEnablePasswordRetrieval_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEnablePasswordRetrievalResponse" />
  </wsdl:message>
  <wsdl:message name="IMembershipService_FindUsersByEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:FindUsersByEmail" />
  </wsdl:message>
  <wsdl:message name="IMembershipService_FindUsersByEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindUsersByEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IMembershipService_FindUsersByName_InputMessage">
    <wsdl:part name="parameters" element="tns:FindUsersByName" />
  </wsdl:message>
  <wsdl:message name="IMembershipService_FindUsersByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindUsersByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IMembershipService_GetAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="IMembershipService_GetAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IMembershipService_GetNumberOfUsersOnline_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNumberOfUsersOnline" />
  </wsdl:message>
  <wsdl:message name="IMembershipService_GetNumberOfUsersOnline_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNumberOfUsersOnlineResponse" />
  </wsdl:message>
  <wsdl:message name="IMembershipService_GetPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPassword" />
  </wsdl:message>
  <wsdl:message name="IMembershipService_GetPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IMembershipService_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="IMembershipService_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="IMembershipService_GetUserByProviderUserKey_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByProviderUserKey" />
  </wsdl:message>
  <wsdl:message name="IMembershipService_GetUserByProviderUserKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByProviderUserKeyResponse" />
  </wsdl:message>
  <wsdl:message name="IMembershipService_GetUserNameByEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserNameByEmail" />
  </wsdl:message>
  <wsdl:message name="IMembershipService_GetUserNameByEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserNameByEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IMembershipService_GetMaxInvalidPasswordAttempts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMaxInvalidPasswordAttempts" />
  </wsdl:message>
  <wsdl:message name="IMembershipService_GetMaxInvalidPasswordAttempts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMaxInvalidPasswordAttemptsResponse" />
  </wsdl:message>
  <wsdl:message name="IMembershipService_GetMinRequiredNonAlphanumericCharacters_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMinRequiredNonAlphanumericCharacters" />
  </wsdl:message>
  <wsdl:message name="IMembershipService_GetMinRequiredNonAlphanumericCharacters_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMinRequiredNonAlphanumericCharactersResponse" />
  </wsdl:message>
  <wsdl:message name="IMembershipService_GetMinRequiredPasswordLength_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMinRequiredPasswordLength" />
  </wsdl:message>
  <wsdl:message name="IMembershipService_GetMinRequiredPasswordLength_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMinRequiredPasswordLengthResponse" />
  </wsdl:message>
  <wsdl:message name="IMembershipService_GetPasswordAttemptWindow_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPasswordAttemptWindow" />
  </wsdl:message>
  <wsdl:message name="IMembershipService_GetPasswordAttemptWindow_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPasswordAttemptWindowResponse" />
  </wsdl:message>
  <wsdl:message name="IMembershipService_GetPasswordFormat_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPasswordFormat" />
  </wsdl:message>
  <wsdl:message name="IMembershipService_GetPasswordFormat_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPasswordFormatResponse" />
  </wsdl:message>
  <wsdl:message name="IMembershipService_GetPasswordStrengthRegularExpression_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPasswordStrengthRegularExpression" />
  </wsdl:message>
  <wsdl:message name="IMembershipService_GetPasswordStrengthRegularExpression_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPasswordStrengthRegularExpressionResponse" />
  </wsdl:message>
  <wsdl:message name="IMembershipService_GetRequiresQuestionAndAnswer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRequiresQuestionAndAnswer" />
  </wsdl:message>
  <wsdl:message name="IMembershipService_GetRequiresQuestionAndAnswer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRequiresQuestionAndAnswerResponse" />
  </wsdl:message>
  <wsdl:message name="IMembershipService_GetRequiresUniqueEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRequiresUniqueEmail" />
  </wsdl:message>
  <wsdl:message name="IMembershipService_GetRequiresUniqueEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRequiresUniqueEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IMembershipService_ResetPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ResetPassword" />
  </wsdl:message>
  <wsdl:message name="IMembershipService_ResetPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResetPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IMembershipService_UnlockUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UnlockUser" />
  </wsdl:message>
  <wsdl:message name="IMembershipService_UnlockUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnlockUserResponse" />
  </wsdl:message>
  <wsdl:message name="IMembershipService_UpdateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="IMembershipService_UpdateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IMembershipService">
    <wsdl:operation name="GetApplicationName">
      <wsdl:input wsaw:Action="http://tempuri.org/IMembershipService/GetApplicationName" message="tns:IMembershipService_GetApplicationName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMembershipService/GetApplicationNameResponse" message="tns:IMembershipService_GetApplicationName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetApplicationName">
      <wsdl:input wsaw:Action="http://tempuri.org/IMembershipService/SetApplicationName" message="tns:IMembershipService_SetApplicationName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMembershipService/SetApplicationNameResponse" message="tns:IMembershipService_SetApplicationName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IMembershipService/ChangePassword" message="tns:IMembershipService_ChangePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMembershipService/ChangePasswordResponse" message="tns:IMembershipService_ChangePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePasswordQuestionAndAnswer">
      <wsdl:input wsaw:Action="http://tempuri.org/IMembershipService/ChangePasswordQuestionAndAnswer" message="tns:IMembershipService_ChangePasswordQuestionAndAnswer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMembershipService/ChangePasswordQuestionAndAnswerResponse" message="tns:IMembershipService_ChangePasswordQuestionAndAnswer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IMembershipService/CreateUser" message="tns:IMembershipService_CreateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMembershipService/CreateUserResponse" message="tns:IMembershipService_CreateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IMembershipService/DeleteUser" message="tns:IMembershipService_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMembershipService/DeleteUserResponse" message="tns:IMembershipService_DeleteUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEnablePasswordReset">
      <wsdl:input wsaw:Action="http://tempuri.org/IMembershipService/GetEnablePasswordReset" message="tns:IMembershipService_GetEnablePasswordReset_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMembershipService/GetEnablePasswordResetResponse" message="tns:IMembershipService_GetEnablePasswordReset_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEnablePasswordRetrieval">
      <wsdl:input wsaw:Action="http://tempuri.org/IMembershipService/GetEnablePasswordRetrieval" message="tns:IMembershipService_GetEnablePasswordRetrieval_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMembershipService/GetEnablePasswordRetrievalResponse" message="tns:IMembershipService_GetEnablePasswordRetrieval_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindUsersByEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IMembershipService/FindUsersByEmail" message="tns:IMembershipService_FindUsersByEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMembershipService/FindUsersByEmailResponse" message="tns:IMembershipService_FindUsersByEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindUsersByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IMembershipService/FindUsersByName" message="tns:IMembershipService_FindUsersByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMembershipService/FindUsersByNameResponse" message="tns:IMembershipService_FindUsersByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IMembershipService/GetAllUsers" message="tns:IMembershipService_GetAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMembershipService/GetAllUsersResponse" message="tns:IMembershipService_GetAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNumberOfUsersOnline">
      <wsdl:input wsaw:Action="http://tempuri.org/IMembershipService/GetNumberOfUsersOnline" message="tns:IMembershipService_GetNumberOfUsersOnline_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMembershipService/GetNumberOfUsersOnlineResponse" message="tns:IMembershipService_GetNumberOfUsersOnline_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IMembershipService/GetPassword" message="tns:IMembershipService_GetPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMembershipService/GetPasswordResponse" message="tns:IMembershipService_GetPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IMembershipService/GetUser" message="tns:IMembershipService_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMembershipService/GetUserResponse" message="tns:IMembershipService_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserByProviderUserKey">
      <wsdl:input wsaw:Action="http://tempuri.org/IMembershipService/GetUserByProviderUserKey" message="tns:IMembershipService_GetUserByProviderUserKey_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMembershipService/GetUserByProviderUserKeyResponse" message="tns:IMembershipService_GetUserByProviderUserKey_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserNameByEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IMembershipService/GetUserNameByEmail" message="tns:IMembershipService_GetUserNameByEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMembershipService/GetUserNameByEmailResponse" message="tns:IMembershipService_GetUserNameByEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMaxInvalidPasswordAttempts">
      <wsdl:input wsaw:Action="http://tempuri.org/IMembershipService/GetMaxInvalidPasswordAttempts" message="tns:IMembershipService_GetMaxInvalidPasswordAttempts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMembershipService/GetMaxInvalidPasswordAttemptsResponse" message="tns:IMembershipService_GetMaxInvalidPasswordAttempts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMinRequiredNonAlphanumericCharacters">
      <wsdl:input wsaw:Action="http://tempuri.org/IMembershipService/GetMinRequiredNonAlphanumericCharacters" message="tns:IMembershipService_GetMinRequiredNonAlphanumericCharacters_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMembershipService/GetMinRequiredNonAlphanumericCharactersResponse" message="tns:IMembershipService_GetMinRequiredNonAlphanumericCharacters_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMinRequiredPasswordLength">
      <wsdl:input wsaw:Action="http://tempuri.org/IMembershipService/GetMinRequiredPasswordLength" message="tns:IMembershipService_GetMinRequiredPasswordLength_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMembershipService/GetMinRequiredPasswordLengthResponse" message="tns:IMembershipService_GetMinRequiredPasswordLength_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPasswordAttemptWindow">
      <wsdl:input wsaw:Action="http://tempuri.org/IMembershipService/GetPasswordAttemptWindow" message="tns:IMembershipService_GetPasswordAttemptWindow_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMembershipService/GetPasswordAttemptWindowResponse" message="tns:IMembershipService_GetPasswordAttemptWindow_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPasswordFormat">
      <wsdl:input wsaw:Action="http://tempuri.org/IMembershipService/GetPasswordFormat" message="tns:IMembershipService_GetPasswordFormat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMembershipService/GetPasswordFormatResponse" message="tns:IMembershipService_GetPasswordFormat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPasswordStrengthRegularExpression">
      <wsdl:input wsaw:Action="http://tempuri.org/IMembershipService/GetPasswordStrengthRegularExpression" message="tns:IMembershipService_GetPasswordStrengthRegularExpression_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMembershipService/GetPasswordStrengthRegularExpressionResponse" message="tns:IMembershipService_GetPasswordStrengthRegularExpression_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRequiresQuestionAndAnswer">
      <wsdl:input wsaw:Action="http://tempuri.org/IMembershipService/GetRequiresQuestionAndAnswer" message="tns:IMembershipService_GetRequiresQuestionAndAnswer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMembershipService/GetRequiresQuestionAndAnswerResponse" message="tns:IMembershipService_GetRequiresQuestionAndAnswer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRequiresUniqueEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IMembershipService/GetRequiresUniqueEmail" message="tns:IMembershipService_GetRequiresUniqueEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMembershipService/GetRequiresUniqueEmailResponse" message="tns:IMembershipService_GetRequiresUniqueEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IMembershipService/ResetPassword" message="tns:IMembershipService_ResetPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMembershipService/ResetPasswordResponse" message="tns:IMembershipService_ResetPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnlockUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IMembershipService/UnlockUser" message="tns:IMembershipService_UnlockUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMembershipService/UnlockUserResponse" message="tns:IMembershipService_UnlockUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IMembershipService/UpdateUser" message="tns:IMembershipService_UpdateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMembershipService/UpdateUserResponse" message="tns:IMembershipService_UpdateUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMembershipService" type="tns:IMembershipService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetApplicationName">
      <soap:operation soapAction="http://tempuri.org/IMembershipService/GetApplicationName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetApplicationName">
      <soap:operation soapAction="http://tempuri.org/IMembershipService/SetApplicationName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://tempuri.org/IMembershipService/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePasswordQuestionAndAnswer">
      <soap:operation soapAction="http://tempuri.org/IMembershipService/ChangePasswordQuestionAndAnswer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <soap:operation soapAction="http://tempuri.org/IMembershipService/CreateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://tempuri.org/IMembershipService/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEnablePasswordReset">
      <soap:operation soapAction="http://tempuri.org/IMembershipService/GetEnablePasswordReset" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEnablePasswordRetrieval">
      <soap:operation soapAction="http://tempuri.org/IMembershipService/GetEnablePasswordRetrieval" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindUsersByEmail">
      <soap:operation soapAction="http://tempuri.org/IMembershipService/FindUsersByEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindUsersByName">
      <soap:operation soapAction="http://tempuri.org/IMembershipService/FindUsersByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://tempuri.org/IMembershipService/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNumberOfUsersOnline">
      <soap:operation soapAction="http://tempuri.org/IMembershipService/GetNumberOfUsersOnline" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPassword">
      <soap:operation soapAction="http://tempuri.org/IMembershipService/GetPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/IMembershipService/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByProviderUserKey">
      <soap:operation soapAction="http://tempuri.org/IMembershipService/GetUserByProviderUserKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserNameByEmail">
      <soap:operation soapAction="http://tempuri.org/IMembershipService/GetUserNameByEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaxInvalidPasswordAttempts">
      <soap:operation soapAction="http://tempuri.org/IMembershipService/GetMaxInvalidPasswordAttempts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMinRequiredNonAlphanumericCharacters">
      <soap:operation soapAction="http://tempuri.org/IMembershipService/GetMinRequiredNonAlphanumericCharacters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMinRequiredPasswordLength">
      <soap:operation soapAction="http://tempuri.org/IMembershipService/GetMinRequiredPasswordLength" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPasswordAttemptWindow">
      <soap:operation soapAction="http://tempuri.org/IMembershipService/GetPasswordAttemptWindow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPasswordFormat">
      <soap:operation soapAction="http://tempuri.org/IMembershipService/GetPasswordFormat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPasswordStrengthRegularExpression">
      <soap:operation soapAction="http://tempuri.org/IMembershipService/GetPasswordStrengthRegularExpression" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequiresQuestionAndAnswer">
      <soap:operation soapAction="http://tempuri.org/IMembershipService/GetRequiresQuestionAndAnswer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequiresUniqueEmail">
      <soap:operation soapAction="http://tempuri.org/IMembershipService/GetRequiresUniqueEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <soap:operation soapAction="http://tempuri.org/IMembershipService/ResetPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnlockUser">
      <soap:operation soapAction="http://tempuri.org/IMembershipService/UnlockUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap:operation soapAction="http://tempuri.org/IMembershipService/UpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MembershipService">
    <wsdl:port name="BasicHttpBinding_IMembershipService" binding="tns:BasicHttpBinding_IMembershipService">
      <soap:address location="http://ws60/PracticeManagementService/MembershipService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
