PracticeManagement/PracticeManagement/Service References/PersonService/DataTransferObjects.CornerStone4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataTransferObjects.CornerStone" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.CornerStone" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DivisionCF">
    <xs:sequence>
      <xs:element minOccurs="0" name="DivisionCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DivisionId" type="xs:int" />
      <xs:element minOccurs="0" name="DivisionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Parent" nillable="true" type="tns:DivisionCF" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DivisionCF" nillable="true" type="tns:DivisionCF" />
</xs:schema>
