PracticeManagement/PracticeManagement/Service References/PersonService/DataTransferObjects.ContextObjects.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataTransferObjects.ContextObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.ContextObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ConsultantTimelineReportContext">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ConsultantReportContextBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="DivisionIdList" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ExcludeInternalPractices" type="xs:boolean" />
          <xs:element minOccurs="0" name="ExcludeInvestmentResource" type="xs:boolean" />
          <xs:element minOccurs="0" name="Granularity" type="xs:int" />
          <xs:element minOccurs="0" name="IncludeBadgeStatus" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsSampleReport" type="xs:boolean" />
          <xs:element minOccurs="0" name="Period" type="xs:int" />
          <xs:element minOccurs="0" name="PracticeIdList" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SortDirection" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SortId" type="xs:int" />
          <xs:element minOccurs="0" name="TimescaleIdList" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UtilizationType" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConsultantTimelineReportContext" nillable="true" type="tns:ConsultantTimelineReportContext" />
  <xs:complexType name="ConsultantReportContextBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActivePersons" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="ActiveProjects" type="xs:boolean" />
      <xs:element minOccurs="0" name="CompletedProjects" type="xs:boolean" />
      <xs:element minOccurs="0" name="ExperimentalProjects" type="xs:boolean" />
      <xs:element minOccurs="0" name="InternalProjects" type="xs:boolean" />
      <xs:element minOccurs="0" name="ProjectedPersons" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="ProjectedProjects" type="xs:boolean" />
      <xs:element minOccurs="0" name="ProposedProjects" type="xs:boolean" />
      <xs:element minOccurs="0" name="Start" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultantReportContextBase" nillable="true" type="tns:ConsultantReportContextBase" />
</xs:schema>
