PracticeManagement/PracticeManagement/Service References/PersonService/DataTransferObjects.Financials1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataTransferObjects.Financials" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.Financials" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RangeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Range" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RangeType" nillable="true" type="tns:RangeType" />
</xs:schema>
