PracticeManagement/PracticeManagement/Service References/TimeTypeService/TimeTypeService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataTransferObjects.TimeEntry" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.TimeEntry" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TimeTypeRecord">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="InFutureUse" type="xs:boolean" />
      <xs:element minOccurs="0" name="InUse" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsAdministrative" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsAllowedToEdit" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsBereavementTimeType" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsDefault" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsInternal" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsORTTimeType" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsSystemTimeType" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsUnpaidTimeType" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsW2HourlyAllowed" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsW2SalaryAllowed" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TimeTypeRecord" nillable="true" type="tns:TimeTypeRecord" />
  <xs:complexType name="ArrayOfTimeTypeRecord">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TimeTypeRecord" nillable="true" type="tns:TimeTypeRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTimeTypeRecord" nillable="true" type="tns:ArrayOfTimeTypeRecord" />
</xs:schema>
