PracticeManagement/PracticeManagement/Service References/TimeTypeService/TimeTypeService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataTransferObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataTransferObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TripleOfintintint">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TripleOf{0}{1}{2}{#}" Namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="First" type="xs:int" />
      <xs:element minOccurs="0" name="Second" type="xs:int" />
      <xs:element minOccurs="0" name="Third" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TripleOfintintint" nillable="true" type="tns:TripleOfintintint" />
</xs:schema>
