PracticeManagement/PracticeManagement/Service References/TimeTypeService/TimeTypeService416.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://system64.ggk.com/PracticeManagementService/TimeTypeService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.TimeEntry" />
  <xs:import schemaLocation="http://system64.ggk.com/PracticeManagementService/TimeTypeService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects" />
  <xs:element name="GetAllTimeTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTimeTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataTransferObjects.TimeEntry" minOccurs="0" name="GetAllTimeTypesResult" nillable="true" type="q1:ArrayOfTimeTypeRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAdministrativeTimeTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="includePTO" type="xs:boolean" />
        <xs:element minOccurs="0" name="includeHoliday" type="xs:boolean" />
        <xs:element minOccurs="0" name="includeUnpaid" type="xs:boolean" />
        <xs:element minOccurs="0" name="includeSickLeave" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAdministrativeTimeTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataTransferObjects.TimeEntry" minOccurs="0" name="GetAllAdministrativeTimeTypesResult" nillable="true" type="q2:ArrayOfTimeTypeRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdministrativeChargeCodeValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="timeTypeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdministrativeChargeCodeValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetAdministrativeChargeCodeValuesResult" nillable="true" type="q3:TripleOfintintint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveTimeType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="timeTypeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveTimeTypeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTimeType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DataTransferObjects.TimeEntry" minOccurs="0" name="timeType" nillable="true" type="q4:TimeTypeRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTimeTypeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTimeType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DataTransferObjects.TimeEntry" minOccurs="0" name="timeType" nillable="true" type="q5:TimeTypeRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTimeTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddTimeTypeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkTypeNameById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="worktypeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkTypeNameByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetWorkTypeNameByIdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkTypeById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="worktypeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkTypeByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DataTransferObjects.TimeEntry" minOccurs="0" name="GetWorkTypeByIdResult" nillable="true" type="q6:TimeTypeRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnpaidTimeType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnpaidTimeTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DataTransferObjects.TimeEntry" minOccurs="0" name="GetUnpaidTimeTypeResult" nillable="true" type="q7:TimeTypeRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPTOTimeType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPTOTimeTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DataTransferObjects.TimeEntry" minOccurs="0" name="GetPTOTimeTypeResult" nillable="true" type="q8:TimeTypeRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSickLeaveTimeType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSickLeaveTimeTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/DataTransferObjects.TimeEntry" minOccurs="0" name="GetSickLeaveTimeTypeResult" nillable="true" type="q9:TimeTypeRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
