PracticeManagement/PracticeManagement/Service References/ProjectGroupService/ProjectGroupService11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataTransferObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataTransferObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProjectGroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProjectGroup" nillable="true" type="tns:ProjectGroup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProjectGroup" nillable="true" type="tns:ArrayOfProjectGroup" />
  <xs:complexType name="ProjectGroup">
    <xs:sequence>
      <xs:element minOccurs="0" name="BusinessGroupId" type="xs:int" />
      <xs:element minOccurs="0" name="Client" nillable="true" type="tns:Client" />
      <xs:element minOccurs="0" name="ClientId" type="xs:int" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="InUse" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProjectGroup" nillable="true" type="tns:ProjectGroup" />
  <xs:complexType name="Client">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientMarginInfo" nillable="true" type="tns:ArrayOfClientMarginColorInfo" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DefaultDirector" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DefaultDirectorId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DefaultDiscount" type="xs:decimal" />
      <xs:element minOccurs="0" name="DefaultSalesperson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DefaultSalespersonId" type="xs:int" />
      <xs:element minOccurs="0" name="DefaultTerms" type="xs:int" />
      <xs:element minOccurs="0" name="Groups" nillable="true" type="tns:ArrayOfProjectGroup" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Inactive" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsChargeable" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsHouseAccount" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsInternal" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsMarginColorInfoEnabled" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsNoteRequired" type="xs:boolean" />
      <xs:element minOccurs="0" name="LoginPerson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Client" nillable="true" type="tns:Client" />
  <xs:complexType name="ArrayOfClientMarginColorInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClientMarginColorInfo" nillable="true" type="tns:ClientMarginColorInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClientMarginColorInfo" nillable="true" type="tns:ArrayOfClientMarginColorInfo" />
  <xs:complexType name="ClientMarginColorInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ColorInfo" nillable="true" type="tns:ColorInformation" />
      <xs:element minOccurs="0" name="EndRange" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="StartRange" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientMarginColorInfo" nillable="true" type="tns:ClientMarginColorInfo" />
  <xs:complexType name="ColorInformation">
    <xs:sequence>
      <xs:element minOccurs="0" name="ColorDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ColorId" type="xs:int" />
      <xs:element minOccurs="0" name="ColorValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ColorInformation" nillable="true" type="tns:ColorInformation" />
  <xs:complexType name="BusinessGroup">
    <xs:sequence>
      <xs:element minOccurs="0" name="Client" nillable="true" type="tns:Client" />
      <xs:element minOccurs="0" name="ClientId" type="xs:int" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="InUse" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BusinessGroup" nillable="true" type="tns:BusinessGroup" />
  <xs:complexType name="ArrayOfBusinessGroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BusinessGroup" nillable="true" type="tns:BusinessGroup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBusinessGroup" nillable="true" type="tns:ArrayOfBusinessGroup" />
</xs:schema>
