PracticeManagement/PracticeManagement/Service References/ProjectGroupService/ProjectGroupService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.logic2020.com" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.logic2020.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.logic2020.com/Imports">
      <xsd:import schemaLocation="http://ws60/PracticeManagementService/ProjectGroupService.svc?xsd=xsd0" namespace="http://www.logic2020.com" />
      <xsd:import schemaLocation="http://ws60/PracticeManagementService/ProjectGroupService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://ws60/PracticeManagementService/ProjectGroupService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProjectGroupService_GroupListAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GroupListAll" />
  </wsdl:message>
  <wsdl:message name="IProjectGroupService_GroupListAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GroupListAllResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectGroupService_RenameProjectGroupByClient_InputMessage">
    <wsdl:part name="parameters" element="tns:RenameProjectGroupByClient" />
  </wsdl:message>
  <wsdl:message name="IProjectGroupService_RenameProjectGroupByClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:RenameProjectGroupByClientResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectGroupService_ProjectGroupInsert_InputMessage">
    <wsdl:part name="parameters" element="tns:ProjectGroupInsert" />
  </wsdl:message>
  <wsdl:message name="IProjectGroupService_ProjectGroupInsert_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProjectGroupInsertResponse" />
  </wsdl:message>
  <wsdl:message name="IProjectGroupService_ProjectGroupDelete_InputMessage">
    <wsdl:part name="parameters" element="tns:ProjectGroupDelete" />
  </wsdl:message>
  <wsdl:message name="IProjectGroupService_ProjectGroupDelete_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProjectGroupDeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="IProjectGroupService">
    <wsdl:operation name="GroupListAll">
      <wsdl:input wsaw:Action="http://www.logic2020.com/IProjectGroupService/GroupListAll" message="tns:IProjectGroupService_GroupListAll_InputMessage" />
      <wsdl:output wsaw:Action="http://www.logic2020.com/IProjectGroupService/GroupListAllResponse" message="tns:IProjectGroupService_GroupListAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RenameProjectGroupByClient">
      <wsdl:input wsaw:Action="http://www.logic2020.com/IProjectGroupService/RenameProjectGroupByClient" message="tns:IProjectGroupService_RenameProjectGroupByClient_InputMessage" />
      <wsdl:output wsaw:Action="http://www.logic2020.com/IProjectGroupService/RenameProjectGroupByClientResponse" message="tns:IProjectGroupService_RenameProjectGroupByClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProjectGroupInsert">
      <wsdl:input wsaw:Action="http://www.logic2020.com/IProjectGroupService/ProjectGroupInsert" message="tns:IProjectGroupService_ProjectGroupInsert_InputMessage" />
      <wsdl:output wsaw:Action="http://www.logic2020.com/IProjectGroupService/ProjectGroupInsertResponse" message="tns:IProjectGroupService_ProjectGroupInsert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProjectGroupDelete">
      <wsdl:input wsaw:Action="http://www.logic2020.com/IProjectGroupService/ProjectGroupDelete" message="tns:IProjectGroupService_ProjectGroupDelete_InputMessage" />
      <wsdl:output wsaw:Action="http://www.logic2020.com/IProjectGroupService/ProjectGroupDeleteResponse" message="tns:IProjectGroupService_ProjectGroupDelete_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
