PracticeManagement/PracticeManagement/Service References/MilestoneService/MilestoneService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ggku3sys280.ggktech.local/PracticemanagementService/MilestoneService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects" />
  <xs:import schemaLocation="http://ggku3sys280.ggktech.local/PracticemanagementService/MilestoneService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="SaveDefaultMilestone">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="projectId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="milestoneId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="lowerBound" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="upperBound" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDefaultMilestoneResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDefaultMilestone">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDefaultMilestoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetDefaultMilestoneResult" nillable="true" type="q1:DefaultMilestone" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MilestoneListByProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MilestoneListByProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="MilestoneListByProjectResult" nillable="true" type="q2:ArrayOfMilestone" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MilestoneListByProjectForTimeEntryByProjectReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MilestoneListByProjectForTimeEntryByProjectReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="MilestoneListByProjectForTimeEntryByProjectReportResult" nillable="true" type="q3:ArrayOfMilestone" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMilestoneDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="milestoneId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMilestoneDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetMilestoneDetailResult" nillable="true" type="q4:Milestone" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveMilestoneDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="milestone" nillable="true" type="q5:Milestone" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveMilestoneDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveMilestoneDetailResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMilestone">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="milestone" nillable="true" type="q6:Milestone" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMilestoneResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MilestoneMove">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="milestoneId" type="xs:int" />
        <xs:element minOccurs="0" name="shiftDays" type="xs:int" />
        <xs:element minOccurs="0" name="moveFutureMilestones" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MilestoneMoveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="MilestoneMoveResult" nillable="true" type="q7:ArrayOfMSBadge" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MilestoneMoveEnd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="milestoneId" type="xs:int" />
        <xs:element minOccurs="0" name="milestonePersonId" type="xs:int" />
        <xs:element minOccurs="0" name="shiftDays" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MilestoneMoveEndResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MilestoneClone">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="milestoneId" type="xs:int" />
        <xs:element minOccurs="0" name="cloneDuration" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MilestoneCloneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MilestoneCloneResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMilestoneById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="milestoneId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMilestoneByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetMilestoneByIdResult" nillable="true" type="q8:Milestone" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMilestoneDataById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="milestoneId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMilestoneDataByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetMilestoneDataByIdResult" nillable="true" type="q9:Milestone" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckIfExpensesExistsForMilestonePeriod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="milestoneId" type="xs:int" />
        <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckIfExpensesExistsForMilestonePeriodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckIfExpensesExistsForMilestonePeriodResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CanMoveFutureMilestones">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="milestoneId" type="xs:int" />
        <xs:element minOccurs="0" name="shiftDays" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CanMoveFutureMilestonesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CanMoveFutureMilestonesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProjectExpense">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="entity" nillable="true" type="q10:ProjectExpense" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProjectExpenseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddProjectExpenseResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveProjectExpense">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="entity" nillable="true" type="q11:ProjectExpense" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveProjectExpenseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProjectExpense">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="entity" nillable="true" type="q12:ProjectExpense" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProjectExpenseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NoteListByTargetId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="targetId" type="xs:int" />
        <xs:element minOccurs="0" name="noteTargetId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NoteListByTargetIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="NoteListByTargetIdResult" nillable="true" type="q13:ArrayOfNote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NoteInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="note" nillable="true" type="q14:Note" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NoteInsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NoteInsertResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NoteUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="note" nillable="true" type="q15:Note" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NoteUpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NoteDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="noteId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NoteDeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectExpenseById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectExpenseByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetProjectExpenseByIdResult" nillable="true" type="q16:ProjectExpense" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectExpensesForMilestone">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="entity" nillable="true" type="q17:ProjectExpense" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectExpensesForMilestoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetProjectExpensesForMilestoneResult" nillable="true" type="q18:ArrayOfProjectExpense" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MilestoneUpdateShortDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="milestone" nillable="true" type="q19:Milestone" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MilestoneUpdateShortDetailsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMilestoneAndCSATCountsByProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMilestoneAndCSATCountsByProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetMilestoneAndCSATCountsByProjectResult" nillable="true" type="q20:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsProjectAttributionConflictsWithMilestoneChanges">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="milestoneId" type="xs:int" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="isUpdate" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsProjectAttributionConflictsWithMilestoneChangesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="IsProjectAttributionConflictsWithMilestoneChangesResult" nillable="true" type="q21:ArrayOfAttribution" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShouldAttributionDateExtend">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="milestoneId" type="xs:int" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShouldAttributionDateExtendResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ShouldAttributionDateExtendResult" nillable="true" type="q22:ArrayOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonMilestonesOnPreviousHireDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="personId" type="xs:int" />
        <xs:element minOccurs="0" name="previousHireDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonMilestonesOnPreviousHireDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetPersonMilestonesOnPreviousHireDateResult" nillable="true" type="q23:ArrayOfMilestone" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendBadgeRequestMail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="project" nillable="true" type="q24:Project" />
        <xs:element minOccurs="0" name="milestoneId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendBadgeRequestMailResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendBadgeRequestApprovedMail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="personName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="toAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendBadgeRequestApprovedMailResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPeopleAssignedInOtherProjectsForGivenRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="milestoneNewStartDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="milestoneNewEnddate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="milestoneId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPeopleAssignedInOtherProjectsForGivenRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetPeopleAssignedInOtherProjectsForGivenRangeResult" nillable="true" type="q25:ArrayOfMSBadge" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllExpenseTypesList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllExpenseTypesListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetAllExpenseTypesListResult" nillable="true" type="q26:ArrayOfExpenseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
