PracticeManagement/PracticeManagement/Service References/MilestoneService/MilestoneService42.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://akvelon-moss2/PracticeManagementService/MilestoneService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects" />
  <xs:element name="MilestoneListByProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MilestoneListByProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="MilestoneListByProjectResult" nillable="true" type="q1:ArrayOfMilestone" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMilestoneDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="milestoneId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMilestoneDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetMilestoneDetailResult" nillable="true" type="q2:Milestone" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveMilestoneDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="milestone" nillable="true" type="q3:Milestone" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveMilestoneDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveMilestoneDetailResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMilestone">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="milestone" nillable="true" type="q4:Milestone" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMilestoneResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MilestoneMove">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="milestoneId" type="xs:int" />
        <xs:element minOccurs="0" name="shiftDays" type="xs:int" />
        <xs:element minOccurs="0" name="moveFutureMilestones" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MilestoneMoveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MilestoneMoveEnd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="milestoneId" type="xs:int" />
        <xs:element minOccurs="0" name="milestonePersonId" type="xs:int" />
        <xs:element minOccurs="0" name="shiftDays" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MilestoneMoveEndResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MilestoneClone">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="milestoneId" type="xs:int" />
        <xs:element minOccurs="0" name="cloneDuration" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MilestoneCloneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MilestoneCloneResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
