PracticeManagement/PracticeManagement/Service References/ExpenseCategoryService/ExpenseCategoryService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ExpenseCategoryService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://ws60/PracticeManagementService/ExpenseCategoryService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://ws60/PracticeManagementService/ExpenseCategoryService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects" />
      <xsd:import schemaLocation="http://ws60/PracticeManagementService/ExpenseCategoryService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://ws60/PracticeManagementService/ExpenseCategoryService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IExpenseCategoryService_GetCategoryList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoryList" />
  </wsdl:message>
  <wsdl:message name="IExpenseCategoryService_GetCategoryList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoryListResponse" />
  </wsdl:message>
  <wsdl:message name="IExpenseCategoryService_GetCategoryList_DataAccessFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/DataTransferObjects" name="detail" element="q1:DataAccessFault" />
  </wsdl:message>
  <wsdl:message name="IExpenseCategoryService_SaveExpenseCategoryDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveExpenseCategoryDetail" />
  </wsdl:message>
  <wsdl:message name="IExpenseCategoryService_SaveExpenseCategoryDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveExpenseCategoryDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IExpenseCategoryService_SaveExpenseCategoryDetail_DataAccessFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/DataTransferObjects" name="detail" element="q2:DataAccessFault" />
  </wsdl:message>
  <wsdl:message name="IExpenseCategoryService_DeleteExpenseCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteExpenseCategory" />
  </wsdl:message>
  <wsdl:message name="IExpenseCategoryService_DeleteExpenseCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteExpenseCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IExpenseCategoryService_DeleteExpenseCategory_DataAccessFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/DataTransferObjects" name="detail" element="q3:DataAccessFault" />
  </wsdl:message>
  <wsdl:portType name="IExpenseCategoryService">
    <wsdl:operation name="GetCategoryList">
      <wsdl:input wsaw:Action="http://tempuri.org/IExpenseCategoryService/GetCategoryList" message="tns:IExpenseCategoryService_GetCategoryList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExpenseCategoryService/GetCategoryListResponse" message="tns:IExpenseCategoryService_GetCategoryList_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IExpenseCategoryService/GetCategoryListDataAccessFaultFault" name="DataAccessFaultFault" message="tns:IExpenseCategoryService_GetCategoryList_DataAccessFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveExpenseCategoryDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IExpenseCategoryService/SaveExpenseCategoryDetail" message="tns:IExpenseCategoryService_SaveExpenseCategoryDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExpenseCategoryService/SaveExpenseCategoryDetailResponse" message="tns:IExpenseCategoryService_SaveExpenseCategoryDetail_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IExpenseCategoryService/SaveExpenseCategoryDetailDataAccessFaultFault" name="DataAccessFaultFault" message="tns:IExpenseCategoryService_SaveExpenseCategoryDetail_DataAccessFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteExpenseCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IExpenseCategoryService/DeleteExpenseCategory" message="tns:IExpenseCategoryService_DeleteExpenseCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExpenseCategoryService/DeleteExpenseCategoryResponse" message="tns:IExpenseCategoryService_DeleteExpenseCategory_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IExpenseCategoryService/DeleteExpenseCategoryDataAccessFaultFault" name="DataAccessFaultFault" message="tns:IExpenseCategoryService_DeleteExpenseCategory_DataAccessFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IExpenseCategoryService" type="tns:IExpenseCategoryService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCategoryList">
      <soap:operation soapAction="http://tempuri.org/IExpenseCategoryService/GetCategoryList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DataAccessFaultFault">
        <soap:fault use="literal" name="DataAccessFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SaveExpenseCategoryDetail">
      <soap:operation soapAction="http://tempuri.org/IExpenseCategoryService/SaveExpenseCategoryDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DataAccessFaultFault">
        <soap:fault use="literal" name="DataAccessFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteExpenseCategory">
      <soap:operation soapAction="http://tempuri.org/IExpenseCategoryService/DeleteExpenseCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DataAccessFaultFault">
        <soap:fault use="literal" name="DataAccessFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ExpenseCategoryService">
    <wsdl:port name="BasicHttpBinding_IExpenseCategoryService" binding="tns:BasicHttpBinding_IExpenseCategoryService">
      <soap:address location="http://ws60/PracticeManagementService/ExpenseCategoryService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
