PracticeManagement/PracticeManagement/Service References/VendorService/VendorService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="VendorService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://ggku3sys280.ggktech.local/PracticemanagementService/VendorService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://ggku3sys280.ggktech.local/PracticemanagementService/VendorService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://ggku3sys280.ggktech.local/PracticemanagementService/VendorService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects" />
      <xsd:import schemaLocation="http://ggku3sys280.ggktech.local/PracticemanagementService/VendorService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.Financials" />
      <xsd:import schemaLocation="http://ggku3sys280.ggktech.local/PracticemanagementService/VendorService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://ggku3sys280.ggktech.local/PracticemanagementService/VendorService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.CornerStone" />
      <xsd:import schemaLocation="http://ggku3sys280.ggktech.local/PracticemanagementService/VendorService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.Skills" />
      <xsd:import schemaLocation="http://ggku3sys280.ggktech.local/PracticemanagementService/VendorService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.TimeEntry" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IVendorService_GetListOfVendorTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListOfVendorTypes" />
  </wsdl:message>
  <wsdl:message name="IVendorService_GetListOfVendorTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListOfVendorTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IVendorService_GetAllActiveVendors_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllActiveVendors" />
  </wsdl:message>
  <wsdl:message name="IVendorService_GetAllActiveVendors_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllActiveVendorsResponse" />
  </wsdl:message>
  <wsdl:message name="IVendorService_GetListOfVendorsWithFilters_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListOfVendorsWithFilters" />
  </wsdl:message>
  <wsdl:message name="IVendorService_GetListOfVendorsWithFilters_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListOfVendorsWithFiltersResponse" />
  </wsdl:message>
  <wsdl:message name="IVendorService_GetVendorById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVendorById" />
  </wsdl:message>
  <wsdl:message name="IVendorService_GetVendorById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVendorByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IVendorService_SaveVendorDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveVendorDetail" />
  </wsdl:message>
  <wsdl:message name="IVendorService_SaveVendorDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveVendorDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IVendorService_VendorValidations_InputMessage">
    <wsdl:part name="parameters" element="tns:VendorValidations" />
  </wsdl:message>
  <wsdl:message name="IVendorService_VendorValidations_OutputMessage">
    <wsdl:part name="parameters" element="tns:VendorValidationsResponse" />
  </wsdl:message>
  <wsdl:message name="IVendorService_GetVendorAttachments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVendorAttachments" />
  </wsdl:message>
  <wsdl:message name="IVendorService_GetVendorAttachments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVendorAttachmentsResponse" />
  </wsdl:message>
  <wsdl:message name="IVendorService_SaveVendorAttachmentData_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveVendorAttachmentData" />
  </wsdl:message>
  <wsdl:message name="IVendorService_SaveVendorAttachmentData_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveVendorAttachmentDataResponse" />
  </wsdl:message>
  <wsdl:message name="IVendorService_DeleteVendorAttachmentById_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteVendorAttachmentById" />
  </wsdl:message>
  <wsdl:message name="IVendorService_DeleteVendorAttachmentById_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteVendorAttachmentByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IVendorService_GetVendorAttachmentData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVendorAttachmentData" />
  </wsdl:message>
  <wsdl:message name="IVendorService_GetVendorAttachmentData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVendorAttachmentDataResponse" />
  </wsdl:message>
  <wsdl:message name="IVendorService_ProjectListByVendor_InputMessage">
    <wsdl:part name="parameters" element="tns:ProjectListByVendor" />
  </wsdl:message>
  <wsdl:message name="IVendorService_ProjectListByVendor_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProjectListByVendorResponse" />
  </wsdl:message>
  <wsdl:message name="IVendorService_PersonListByVendor_InputMessage">
    <wsdl:part name="parameters" element="tns:PersonListByVendor" />
  </wsdl:message>
  <wsdl:message name="IVendorService_PersonListByVendor_OutputMessage">
    <wsdl:part name="parameters" element="tns:PersonListByVendorResponse" />
  </wsdl:message>
  <wsdl:portType name="IVendorService">
    <wsdl:operation name="GetListOfVendorTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IVendorService/GetListOfVendorTypes" message="tns:IVendorService_GetListOfVendorTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVendorService/GetListOfVendorTypesResponse" message="tns:IVendorService_GetListOfVendorTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllActiveVendors">
      <wsdl:input wsaw:Action="http://tempuri.org/IVendorService/GetAllActiveVendors" message="tns:IVendorService_GetAllActiveVendors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVendorService/GetAllActiveVendorsResponse" message="tns:IVendorService_GetAllActiveVendors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListOfVendorsWithFilters">
      <wsdl:input wsaw:Action="http://tempuri.org/IVendorService/GetListOfVendorsWithFilters" message="tns:IVendorService_GetListOfVendorsWithFilters_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVendorService/GetListOfVendorsWithFiltersResponse" message="tns:IVendorService_GetListOfVendorsWithFilters_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVendorById">
      <wsdl:input wsaw:Action="http://tempuri.org/IVendorService/GetVendorById" message="tns:IVendorService_GetVendorById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVendorService/GetVendorByIdResponse" message="tns:IVendorService_GetVendorById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveVendorDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IVendorService/SaveVendorDetail" message="tns:IVendorService_SaveVendorDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVendorService/SaveVendorDetailResponse" message="tns:IVendorService_SaveVendorDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VendorValidations">
      <wsdl:input wsaw:Action="http://tempuri.org/IVendorService/VendorValidations" message="tns:IVendorService_VendorValidations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVendorService/VendorValidationsResponse" message="tns:IVendorService_VendorValidations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVendorAttachments">
      <wsdl:input wsaw:Action="http://tempuri.org/IVendorService/GetVendorAttachments" message="tns:IVendorService_GetVendorAttachments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVendorService/GetVendorAttachmentsResponse" message="tns:IVendorService_GetVendorAttachments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveVendorAttachmentData">
      <wsdl:input wsaw:Action="http://tempuri.org/IVendorService/SaveVendorAttachmentData" message="tns:IVendorService_SaveVendorAttachmentData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVendorService/SaveVendorAttachmentDataResponse" message="tns:IVendorService_SaveVendorAttachmentData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteVendorAttachmentById">
      <wsdl:input wsaw:Action="http://tempuri.org/IVendorService/DeleteVendorAttachmentById" message="tns:IVendorService_DeleteVendorAttachmentById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVendorService/DeleteVendorAttachmentByIdResponse" message="tns:IVendorService_DeleteVendorAttachmentById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVendorAttachmentData">
      <wsdl:input wsaw:Action="http://tempuri.org/IVendorService/GetVendorAttachmentData" message="tns:IVendorService_GetVendorAttachmentData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVendorService/GetVendorAttachmentDataResponse" message="tns:IVendorService_GetVendorAttachmentData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProjectListByVendor">
      <wsdl:input wsaw:Action="http://tempuri.org/IVendorService/ProjectListByVendor" message="tns:IVendorService_ProjectListByVendor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVendorService/ProjectListByVendorResponse" message="tns:IVendorService_ProjectListByVendor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PersonListByVendor">
      <wsdl:input wsaw:Action="http://tempuri.org/IVendorService/PersonListByVendor" message="tns:IVendorService_PersonListByVendor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVendorService/PersonListByVendorResponse" message="tns:IVendorService_PersonListByVendor_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IVendorService" type="tns:IVendorService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetListOfVendorTypes">
      <soap:operation soapAction="http://tempuri.org/IVendorService/GetListOfVendorTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllActiveVendors">
      <soap:operation soapAction="http://tempuri.org/IVendorService/GetAllActiveVendors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListOfVendorsWithFilters">
      <soap:operation soapAction="http://tempuri.org/IVendorService/GetListOfVendorsWithFilters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVendorById">
      <soap:operation soapAction="http://tempuri.org/IVendorService/GetVendorById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveVendorDetail">
      <soap:operation soapAction="http://tempuri.org/IVendorService/SaveVendorDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VendorValidations">
      <soap:operation soapAction="http://tempuri.org/IVendorService/VendorValidations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVendorAttachments">
      <soap:operation soapAction="http://tempuri.org/IVendorService/GetVendorAttachments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveVendorAttachmentData">
      <soap:operation soapAction="http://tempuri.org/IVendorService/SaveVendorAttachmentData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteVendorAttachmentById">
      <soap:operation soapAction="http://tempuri.org/IVendorService/DeleteVendorAttachmentById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVendorAttachmentData">
      <soap:operation soapAction="http://tempuri.org/IVendorService/GetVendorAttachmentData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProjectListByVendor">
      <soap:operation soapAction="http://tempuri.org/IVendorService/ProjectListByVendor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PersonListByVendor">
      <soap:operation soapAction="http://tempuri.org/IVendorService/PersonListByVendor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VendorService">
    <wsdl:port name="BasicHttpBinding_IVendorService" binding="tns:BasicHttpBinding_IVendorService">
      <soap:address location="http://ggku3sys280.ggktech.local/PracticemanagementService/VendorService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
