PracticeManagement/PracticeManagement/Service References/VendorService/VendorService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataTransferObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataTransferObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ggku3sys280.ggktech.local/PracticemanagementService/VendorService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://ggku3sys280.ggktech.local/PracticemanagementService/VendorService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.CornerStone" />
  <xs:import schemaLocation="http://ggku3sys280.ggktech.local/PracticemanagementService/VendorService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.Skills" />
  <xs:import schemaLocation="http://ggku3sys280.ggktech.local/PracticemanagementService/VendorService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://ggku3sys280.ggktech.local/PracticemanagementService/VendorService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.Financials" />
  <xs:import schemaLocation="http://ggku3sys280.ggktech.local/PracticemanagementService/VendorService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.TimeEntry" />
  <xs:complexType name="ArrayOfVendorType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VendorType" nillable="true" type="tns:VendorType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVendorType" nillable="true" type="tns:ArrayOfVendorType" />
  <xs:complexType name="VendorType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VendorType" nillable="true" type="tns:VendorType" />
  <xs:complexType name="ArrayOfVendor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Vendor" nillable="true" type="tns:Vendor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVendor" nillable="true" type="tns:ArrayOfVendor" />
  <xs:complexType name="Vendor">
    <xs:sequence>
      <xs:element minOccurs="0" name="Attachments" nillable="true" type="tns:ArrayOfVendorAttachment" />
      <xs:element minOccurs="0" name="ContactName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Projects" nillable="true" type="tns:ArrayOfProject" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
      <xs:element minOccurs="0" name="TelephoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VendorType" nillable="true" type="tns:VendorType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Vendor" nillable="true" type="tns:Vendor" />
  <xs:complexType name="ArrayOfVendorAttachment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VendorAttachment" nillable="true" type="tns:VendorAttachment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVendorAttachment" nillable="true" type="tns:ArrayOfVendorAttachment" />
  <xs:complexType name="VendorAttachment">
    <xs:sequence>
      <xs:element minOccurs="0" name="AttachmentData" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="AttachmentFileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AttachmentId" type="xs:int" />
      <xs:element minOccurs="0" name="AttachmentSize" type="xs:int" />
      <xs:element minOccurs="0" name="UploadedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Uploader" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VendorAttachment" nillable="true" type="tns:VendorAttachment" />
  <xs:complexType name="ArrayOfProject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Project" nillable="true" type="tns:Project" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProject" nillable="true" type="tns:ArrayOfProject" />
  <xs:complexType name="Project">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccessLevel" nillable="true" type="tns:Seniority" />
      <xs:element minOccurs="0" name="Attachments" nillable="true" type="tns:ArrayOfProjectAttachment" />
      <xs:element minOccurs="0" name="AttributionList" nillable="true" type="tns:ArrayOfAttribution" />
      <xs:element minOccurs="0" name="BillableType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BusinessGroup" nillable="true" type="tns:BusinessGroup" />
      <xs:element minOccurs="0" name="BusinessType" type="tns:BusinessType" />
      <xs:element minOccurs="0" name="BuyerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CSATList" nillable="true" type="tns:ArrayOfProjectCSAT" />
      <xs:element minOccurs="0" name="CSATOwnerId" type="xs:int" />
      <xs:element minOccurs="0" name="CSATOwnerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CanCreateCustomWorkTypes" type="xs:boolean" />
      <xs:element minOccurs="0" name="Capabilities" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Channel" nillable="true" type="tns:Channel" />
      <xs:element minOccurs="0" name="Client" nillable="true" type="tns:Client" />
      <xs:element minOccurs="0" name="ComputedFinancials" nillable="true" type="tns:ComputedFinancials" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Director" nillable="true" type="tns:Person" />
      <xs:element minOccurs="0" name="DirectorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Discount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Division" nillable="true" type="tns:ProjectDivision" />
      <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EngagementManagerID" type="xs:int" />
      <xs:element minOccurs="0" name="EngagementManagerUserID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExecutiveInChargeId" type="xs:int" />
      <xs:element minOccurs="0" name="ExecutiveInChargeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExecutiveInChargeUserId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Group" nillable="true" type="tns:ProjectGroup" />
      <xs:element minOccurs="0" name="HasAttachments" type="xs:boolean" />
      <xs:element minOccurs="0" name="HasMultipleCSATs" type="xs:boolean" />
      <xs:element minOccurs="0" name="HasTimeEntries" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IsAssignedProject" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsBusinessDevelopment" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsCSATEligible" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsChargeable" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsClientTimeEntryRequired" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsHolidayProject" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsInternal" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsNoteRequired" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsORTProject" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPTOProject" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsSeniorManagerUnassigned" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsSickLeaveProject" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsUnpaidProject" type="xs:boolean" />
      <xs:element minOccurs="0" name="MailBody" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Milestones" nillable="true" type="tns:ArrayOfMilestone" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Offering" nillable="true" type="tns:Offering" />
      <xs:element minOccurs="0" name="OpportunityId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="OpportunityNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OutsourceId" type="xs:int" />
      <xs:element minOccurs="0" name="OwnerAlias" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="POAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PONumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Practice" nillable="true" type="tns:Practice" />
      <xs:element minOccurs="0" name="PreviousProject" nillable="true" type="tns:Project" />
      <xs:element minOccurs="0" name="PricingList" nillable="true" type="tns:PricingList" />
      <xs:element minOccurs="0" name="ProjectAccessesEmpNumbers" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProjectCapabilityIds" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProjectManagerId" type="xs:int" />
      <xs:element minOccurs="0" name="ProjectManagerIdsList" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProjectManagerNames" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProjectManagerUserId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProjectManagers" nillable="true" type="tns:ArrayOfPerson" />
      <xs:element minOccurs="0" name="ProjectNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProjectOwner" nillable="true" type="tns:Person" />
      <xs:element minOccurs="0" name="ProjectPersons" nillable="true" type="tns:ArrayOfMilestonePerson" />
      <xs:element minOccurs="0" name="ProjectWorkTypesList" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ProjectedFinancialsByMonth" nillable="true" type="q1:ArrayOfKeyValueOfdateTimeComputedFinancialsfLTn8SS5" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ProjectedFinancialsByRange" nillable="true" type="q2:ArrayOfKeyValueOfRangeTypeComputedFinancialsHDQ_P_Sb6D" />
      <xs:element minOccurs="0" name="RecentCompletedStatusDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RevenueType" nillable="true" type="tns:Revenue" />
      <xs:element minOccurs="0" name="SalesPersonId" type="xs:int" />
      <xs:element minOccurs="0" name="SalesPersonName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SeniorManagerId" type="xs:int" />
      <xs:element minOccurs="0" name="SeniorManagerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SowBudget" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="tns:ProjectStatus" />
      <xs:element minOccurs="0" name="SubChannel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Terms" type="xs:int" />
      <xs:element minOccurs="0" name="TimeEntrySectionId" type="xs:int" />
      <xs:element minOccurs="0" name="TimeTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="ToAddressList" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Project" nillable="true" type="tns:Project" />
  <xs:complexType name="Seniority">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SeniorityCategory" nillable="true" type="tns:SeniorityCategory" />
      <xs:element minOccurs="0" name="SeniorityValue" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Seniority" nillable="true" type="tns:Seniority" />
  <xs:complexType name="SeniorityCategory">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SeniorityCategory" nillable="true" type="tns:SeniorityCategory" />
  <xs:complexType name="ArrayOfProjectAttachment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProjectAttachment" nillable="true" type="tns:ProjectAttachment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProjectAttachment" nillable="true" type="tns:ArrayOfProjectAttachment" />
  <xs:complexType name="ProjectAttachment">
    <xs:sequence>
      <xs:element minOccurs="0" name="AttachmentData" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="AttachmentFileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AttachmentId" type="xs:int" />
      <xs:element minOccurs="0" name="AttachmentSize" type="xs:int" />
      <xs:element minOccurs="0" name="Category" type="tns:ProjectAttachmentCategory" />
      <xs:element minOccurs="0" name="UploadedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Uploader" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProjectAttachment" nillable="true" type="tns:ProjectAttachment" />
  <xs:simpleType name="ProjectAttachmentCategory">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Undefined" />
      <xs:enumeration value="SOW" />
      <xs:enumeration value="MSA" />
      <xs:enumeration value="ChangeRequest" />
      <xs:enumeration value="Proposal" />
      <xs:enumeration value="ProjectEstimate" />
      <xs:enumeration value="PurchaseOrder" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ProjectAttachmentCategory" nillable="true" type="tns:ProjectAttachmentCategory" />
  <xs:complexType name="ArrayOfAttribution">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Attribution" nillable="true" type="tns:Attribution" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAttribution" nillable="true" type="tns:ArrayOfAttribution" />
  <xs:complexType name="Attribution">
    <xs:sequence>
      <xs:element minOccurs="0" name="AttributionRecordType" type="tns:AttributionRecordTypes" />
      <xs:element minOccurs="0" name="AttributionType" type="tns:AttributionTypes" />
      <xs:element minOccurs="0" name="CommissionPercentage" type="xs:decimal" />
      <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Person" nillable="true" type="tns:Person" />
      <xs:element minOccurs="0" name="Practice" nillable="true" type="tns:Practice" />
      <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TargetId" type="xs:int" />
      <xs:element minOccurs="0" name="TargetName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="tns:Title" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Attribution" nillable="true" type="tns:Attribution" />
  <xs:simpleType name="AttributionRecordTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Undefined" />
      <xs:enumeration value="Person" />
      <xs:enumeration value="Practice" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AttributionRecordTypes" nillable="true" type="tns:AttributionRecordTypes" />
  <xs:simpleType name="AttributionTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Undefined" />
      <xs:enumeration value="Sales" />
      <xs:enumeration value="Delivery" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AttributionTypes" nillable="true" type="tns:AttributionTypes" />
  <xs:complexType name="Person">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alias" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Badge" nillable="true" type="tns:MSBadge" />
      <xs:element minOccurs="0" name="BadgedProjects" nillable="true" type="tns:ArrayOfMSBadge" />
      <xs:element minOccurs="0" name="BillableUtilizationPercent" type="xs:double" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DataTransferObjects.CornerStone" minOccurs="0" name="CFDivision" nillable="true" type="q3:DivisionCF" />
      <xs:element minOccurs="0" name="CohortAssignment" nillable="true" type="tns:CohortAssignment" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DataTransferObjects.Skills" minOccurs="0" name="ContactInfoList" nillable="true" type="q4:ArrayOfPersonContactInfo" />
      <xs:element minOccurs="0" name="CurrentPay" nillable="true" type="tns:Pay" />
      <xs:element minOccurs="0" name="DefaultPractice" nillable="true" type="tns:Practice" />
      <xs:element minOccurs="0" name="Division" nillable="true" type="tns:PersonDivision" />
      <xs:element minOccurs="0" name="DivisionType" type="tns:PersonDivisionType" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DataTransferObjects.Skills" minOccurs="0" name="Documents" nillable="true" type="q5:ArrayOfPersonDocument" />
      <xs:element minOccurs="0" name="EmployeeNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeRefereral" nillable="true" type="tns:Person" />
      <xs:element minOccurs="0" name="EmployeeReferralFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeReferralId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="EmployeeReferralLastName" nillable="true" type="xs:string" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DataTransferObjects.Skills" minOccurs="0" name="Employers" nillable="true" type="q6:ArrayOfPersonEmployer" />
      <xs:element minOccurs="0" name="EmploymentHistory" nillable="true" type="tns:ArrayOfEmployment" />
      <xs:element minOccurs="0" name="ErrorFeedbacks" nillable="true" type="tns:ArrayOfProjectFeedback" />
      <xs:element minOccurs="0" name="FirstHireDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HasPicture" type="xs:boolean" />
      <xs:element minOccurs="0" name="HireDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ImageUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InUse" type="xs:boolean" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DataTransferObjects.Skills" minOccurs="0" name="Industries" nillable="true" type="q7:ArrayOfPersonIndustry" />
      <xs:element minOccurs="0" name="IsAdmin" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsDefaultManager" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsHighlighted" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsInvestmentResource" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsMBO" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsOffshore" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsStrawMan" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsTerminatedDueToPay" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsWelcomeEmailSent" type="xs:boolean" />
      <xs:element minOccurs="0" name="JobSeekersStatusId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LastLogin" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastTerminationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LengthOfTenture" type="xs:int" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="tns:Location" />
      <xs:element minOccurs="0" name="LockedOut" type="xs:boolean" />
      <xs:element minOccurs="0" name="Manager" nillable="true" type="tns:Person" />
      <xs:element minOccurs="0" name="ManagerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifiedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OverheadList" nillable="true" type="tns:ArrayOfPersonOverhead" />
      <xs:element minOccurs="0" name="PaychexID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentHistory" nillable="true" type="tns:ArrayOfPay" />
      <xs:element minOccurs="0" name="PictureData" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="PracticeDirectorEmployeeNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PracticeDirectorId" type="xs:int" />
      <xs:element minOccurs="0" name="PracticeLeadership" nillable="true" type="tns:Person" />
      <xs:element minOccurs="0" name="PracticesOwned" nillable="true" type="tns:ArrayOfPractice" />
      <xs:element minOccurs="0" name="PrefferedFirstName" nillable="true" type="xs:string" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DataTransferObjects.Skills" minOccurs="0" name="Profiles" nillable="true" type="q8:ArrayOfProfile" />
      <xs:element minOccurs="0" name="ProjectFeedbacks" nillable="true" type="tns:ArrayOfProjectFeedback" />
      <xs:element minOccurs="0" name="ProjectRoleName" nillable="true" type="xs:string" />
      <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ProjectedFinancialsByMonth" nillable="true" type="q9:ArrayOfKeyValueOfdateTimeComputedFinancialsfLTn8SS5" />
      <xs:element minOccurs="0" name="Projects" nillable="true" type="tns:ArrayOfProject" />
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/DataTransferObjects.Skills" minOccurs="0" name="Qualifications" nillable="true" type="q10:ArrayOfPersonQualification" />
      <xs:element minOccurs="0" name="RecruiterFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecruiterId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="RecruiterLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResourceEndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ResourceStartDate" type="xs:dateTime" />
      <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="RoleNames" nillable="true" type="q11:ArrayOfstring" />
      <xs:element minOccurs="0" name="SLTApproval" type="xs:boolean" />
      <xs:element minOccurs="0" name="SLTPTOApproval" type="xs:boolean" />
      <xs:element minOccurs="0" name="Seniority" nillable="true" type="tns:Seniority" />
      <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/DataTransferObjects.Skills" minOccurs="0" name="Skills" nillable="true" type="q12:ArrayOfPersonSkill" />
      <xs:element minOccurs="0" name="SourceRecruitingMetrics" nillable="true" type="tns:RecruitingMetrics" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="tns:PersonStatus" />
      <xs:element minOccurs="0" name="TargetUtilization" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TargetedCompanyRecruitingMetrics" nillable="true" type="tns:RecruitingMetrics" />
      <xs:element minOccurs="0" name="TelephoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TerminationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TerminationReason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TerminationReasonid" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TimeOff" nillable="true" type="tns:PersonTimeOff" />
      <xs:element minOccurs="0" name="TimeOffHistory" nillable="true" type="tns:ArrayOfPersonTimeOff" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="tns:Title" />
      <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/DataTransferObjects.Skills" minOccurs="0" name="Trainings" nillable="true" type="q13:ArrayOfPersonTraining" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Person" nillable="true" type="tns:Person" />
  <xs:complexType name="MSBadge">
    <xs:sequence>
      <xs:element minOccurs="0" name="BadgeDuration" type="xs:int" />
      <xs:element minOccurs="0" name="BadgeEndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BadgeEndDateSource" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BadgeStartDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BadgeStartDateSource" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BlockEndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BlockStartDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BreakEndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BreakStartDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DeactivatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExceptionEndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExceptionStartDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExcludeInReports" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsApproved" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsBlocked" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsException" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsMSManagedService" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPreviousBadge" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastBadgeEndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastBadgeStartDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Milestone" nillable="true" type="tns:Milestone" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModifiedById" type="xs:int" />
      <xs:element minOccurs="0" name="ModifiedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OrganicBreakDuration" type="xs:int" />
      <xs:element minOccurs="0" name="OrganicBreakEndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OrganicBreakStartDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OrganicEndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OrganicStartDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Person" nillable="true" type="tns:Person" />
      <xs:element minOccurs="0" name="PlannedEndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PlannedEndDateSource" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PreviousBadgeAlias" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Project" nillable="true" type="tns:Project" />
      <xs:element minOccurs="0" name="ProjectBadgeEndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ProjectBadgeStartDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Requester" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequesterId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MSBadge" nillable="true" type="tns:MSBadge" />
  <xs:complexType name="Milestone">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" nillable="true" type="tns:PracticeManagementCurrency" />
      <xs:element minOccurs="0" name="ComputedFinancials" nillable="true" type="tns:ComputedFinancials" />
      <xs:element minOccurs="0" name="ConsultantsCanAdjust" type="xs:boolean" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpectedHours" type="xs:decimal" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IsChargeable" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsHourlyAmount" type="xs:boolean" />
      <xs:element minOccurs="0" name="MilestonePersons" nillable="true" type="tns:ArrayOfMilestonePerson" />
      <xs:element minOccurs="0" name="People" nillable="true" type="tns:ArrayOfPerson" />
      <xs:element minOccurs="0" name="PersonCount" type="xs:int" />
      <xs:element minOccurs="0" name="Project" nillable="true" type="tns:Project" />
      <xs:element minOccurs="0" name="ProjectedDeliveryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ProjectedDuration" type="xs:int" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Milestone" nillable="true" type="tns:Milestone" />
  <xs:complexType name="PracticeManagementCurrency">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="FormatStyle" type="tns:NumberFormatStyle" />
      <xs:element minOccurs="0" name="Value" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PracticeManagementCurrency" nillable="true" type="tns:PracticeManagementCurrency" />
  <xs:simpleType name="NumberFormatStyle">
    <xs:restriction base="xs:string">
      <xs:enumeration value="General" />
      <xs:enumeration value="Negative" />
      <xs:enumeration value="Revenue" />
      <xs:enumeration value="Cogs">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Margin">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Total">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">16</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Percent">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">32</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="NumberFormatStyle" nillable="true" type="tns:NumberFormatStyle" />
  <xs:complexType name="ComputedFinancials">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActualGrossMargin" type="tns:PracticeManagementCurrency" />
      <xs:element minOccurs="0" name="ActualRevenue" type="tns:PracticeManagementCurrency" />
      <xs:element minOccurs="0" name="BillRateMinusDiscount" nillable="true" type="tns:PracticeManagementCurrency" />
      <xs:element minOccurs="0" name="Cogs" type="tns:PracticeManagementCurrency" />
      <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Expenses" type="xs:decimal" />
      <xs:element minOccurs="0" name="FinancialDate" nillable="true" type="xs:dateTime" />
      <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/DataTransferObjects.Financials" minOccurs="0" name="FinancialRange" nillable="true" type="q14:RangeType" />
      <xs:element minOccurs="0" name="GrossMargin" type="tns:PracticeManagementCurrency" />
      <xs:element minOccurs="0" name="HoursBilled" type="xs:decimal" />
      <xs:element minOccurs="0" name="PreviousMonthsActualMarginValue" type="tns:PracticeManagementCurrency" />
      <xs:element minOccurs="0" name="PreviousMonthsActualRevenueValue" type="tns:PracticeManagementCurrency" />
      <xs:element minOccurs="0" name="ReimbursedExpenses" type="xs:decimal" />
      <xs:element minOccurs="0" name="Revenue" type="tns:PracticeManagementCurrency" />
      <xs:element minOccurs="0" name="RevenueNet" type="tns:PracticeManagementCurrency" />
      <xs:element minOccurs="0" name="Timescale" type="tns:TimescaleType" />
      <xs:element minOccurs="0" name="TimescaleChangeStatus" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ComputedFinancials" nillable="true" type="tns:ComputedFinancials" />
  <xs:simpleType name="TimescaleType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Undefined" />
      <xs:enumeration value="Hourly" />
      <xs:enumeration value="Salary" />
      <xs:enumeration value="_1099Ctc" />
      <xs:enumeration value="PercRevenue" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TimescaleType" nillable="true" type="tns:TimescaleType" />
  <xs:complexType name="ArrayOfMilestonePerson">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MilestonePerson" nillable="true" type="tns:MilestonePerson" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMilestonePerson" nillable="true" type="tns:ArrayOfMilestonePerson" />
  <xs:complexType name="MilestonePerson">
    <xs:sequence>
      <xs:element minOccurs="0" name="ComputedFinancials" nillable="true" type="tns:ComputedFinancials" />
      <xs:element minOccurs="0" name="Entries" nillable="true" type="tns:ArrayOfMilestonePersonEntry" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Milestone" nillable="true" type="tns:Milestone" />
      <xs:element minOccurs="0" name="Person" nillable="true" type="tns:Person" />
      <xs:element minOccurs="0" name="PracticeList" nillable="true" type="tns:ArrayOfPractice" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MilestonePerson" nillable="true" type="tns:MilestonePerson" />
  <xs:complexType name="ArrayOfMilestonePersonEntry">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MilestonePersonEntry" nillable="true" type="tns:MilestonePersonEntry" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMilestonePersonEntry" nillable="true" type="tns:ArrayOfMilestonePersonEntry" />
  <xs:complexType name="MilestonePersonEntry">
    <xs:sequence>
      <xs:element minOccurs="0" name="BadgeEndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BadgeException" type="xs:boolean" />
      <xs:element minOccurs="0" name="BadgeStartDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ComputedFinancials" nillable="true" type="tns:ComputedFinancials" />
      <xs:element minOccurs="0" name="ConsultantEndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EstimatedClientDiscount" type="tns:PracticeManagementCurrency" />
      <xs:element minOccurs="0" name="HasTimeEntries" type="xs:boolean" />
      <xs:element minOccurs="0" name="HourlyAmount" nillable="true" type="tns:PracticeManagementCurrency" />
      <xs:element minOccurs="0" name="HoursPerDay" type="xs:decimal" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsApproved" type="xs:boolean" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MSBadgeRequired" type="xs:boolean" />
      <xs:element minOccurs="0" name="MilestonePersonId" type="xs:int" />
      <xs:element minOccurs="0" name="ParentMilestone" nillable="true" type="tns:Milestone" />
      <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PersonTimeOffList" nillable="true" type="q15:ArrayOfKeyValueOfdateTimedecimal" />
      <xs:element minOccurs="0" name="ProjectedWorkloadWithVacation" type="xs:decimal" />
      <xs:element minOccurs="0" name="RequestDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Role" nillable="true" type="tns:PersonRole" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ThisPerson" nillable="true" type="tns:Person" />
      <xs:element minOccurs="0" name="VacationDays" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MilestonePersonEntry" nillable="true" type="tns:MilestonePersonEntry" />
  <xs:complexType name="PersonRole">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonRole" nillable="true" type="tns:PersonRole" />
  <xs:complexType name="ArrayOfPractice">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Practice" nillable="true" type="tns:Practice" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPractice" nillable="true" type="tns:ArrayOfPractice" />
  <xs:complexType name="Practice">
    <xs:sequence>
      <xs:element minOccurs="0" name="Abbreviation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ComputedFinancials" nillable="true" type="tns:ComputedFinancials" />
      <xs:element minOccurs="0" name="DivisionIds" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="InUse" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsActiveCapabilitiesExists" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsCompanyInternal" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsNotesRequiredForTimeEnry" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PracticeCapabilities" nillable="true" type="tns:ArrayOfPracticeCapability" />
      <xs:element minOccurs="0" name="PracticeManagers" nillable="true" type="tns:ArrayOfPracticeManagerHistory" />
      <xs:element minOccurs="0" name="PracticeOwner" nillable="true" type="tns:Person" />
      <xs:element minOccurs="0" name="PracticeOwnerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProjectDivisionIds" nillable="true" type="xs:string" />
      <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ProjectedFinancialsByMonth" nillable="true" type="q16:ArrayOfKeyValueOfdateTimeComputedFinancialsfLTn8SS5" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Practice" nillable="true" type="tns:Practice" />
  <xs:complexType name="ArrayOfPracticeCapability">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PracticeCapability" nillable="true" type="tns:PracticeCapability" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPracticeCapability" nillable="true" type="tns:ArrayOfPracticeCapability" />
  <xs:complexType name="PracticeCapability">
    <xs:sequence>
      <xs:element minOccurs="0" name="CapabilityId" type="xs:int" />
      <xs:element minOccurs="0" name="InUse" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PracticeAbbreviation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PracticeId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PracticeCapability" nillable="true" type="tns:PracticeCapability" />
  <xs:complexType name="ArrayOfPracticeManagerHistory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PracticeManagerHistory" nillable="true" type="tns:PracticeManagerHistory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPracticeManagerHistory" nillable="true" type="tns:ArrayOfPracticeManagerHistory" />
  <xs:complexType name="PracticeManagerHistory">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PracticeId" type="xs:int" />
      <xs:element minOccurs="0" name="PracticeManagerFirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PracticeManagerId" type="xs:int" />
      <xs:element minOccurs="0" name="PracticeManagerLastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PracticeManagerHistory" nillable="true" type="tns:PracticeManagerHistory" />
  <xs:complexType name="ArrayOfPerson">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Person" nillable="true" type="tns:Person" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPerson" nillable="true" type="tns:ArrayOfPerson" />
  <xs:complexType name="ArrayOfMSBadge">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MSBadge" nillable="true" type="tns:MSBadge" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMSBadge" nillable="true" type="tns:ArrayOfMSBadge" />
  <xs:complexType name="CohortAssignment">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CohortAssignment" nillable="true" type="tns:CohortAssignment" />
  <xs:complexType name="Pay">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="tns:PracticeManagementCurrency" />
      <xs:element minOccurs="0" name="AmountHourly" type="tns:PracticeManagementCurrency" />
      <xs:element minOccurs="0" name="BonusAmount" type="tns:PracticeManagementCurrency" />
      <xs:element minOccurs="0" name="BonusHoursToCollect" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DivisionId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DivisionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsYearBonus" type="xs:boolean" />
      <xs:element minOccurs="0" name="OldEndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OldStartDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PersonId" type="xs:int" />
      <xs:element minOccurs="0" name="PracticeId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PracticeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SLTApproval" type="xs:boolean" />
      <xs:element minOccurs="0" name="SLTPTOApproval" type="xs:boolean" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Timescale" type="tns:TimescaleType" />
      <xs:element minOccurs="0" name="TimescaleCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimescaleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TitleId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TitleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VacationDays" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ValidateAttribution" type="xs:boolean" />
      <xs:element minOccurs="0" name="vendor" nillable="true" type="tns:Vendor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pay" nillable="true" type="tns:Pay" />
  <xs:complexType name="PersonDivision">
    <xs:sequence>
      <xs:element minOccurs="0" name="DivisionId" type="xs:int" />
      <xs:element minOccurs="0" name="DivisionName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DivisionOwner" nillable="true" type="tns:Person" />
      <xs:element minOccurs="0" name="Inactive" type="xs:boolean" />
      <xs:element minOccurs="0" name="ShowCareerManagerLink" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonDivision" nillable="true" type="tns:PersonDivision" />
  <xs:simpleType name="PersonDivisionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Undefined" />
      <xs:enumeration value="BusinessDevelopment" />
      <xs:enumeration value="Consulting" />
      <xs:enumeration value="Operations" />
      <xs:enumeration value="Recruiting" />
      <xs:enumeration value="TechnologyConsulting" />
      <xs:enumeration value="BusinessConsulting" />
      <xs:enumeration value="Director" />
      <xs:enumeration value="Adicio" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PersonDivisionType" nillable="true" type="tns:PersonDivisionType" />
  <xs:complexType name="ArrayOfEmployment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Employment" nillable="true" type="tns:Employment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployment" nillable="true" type="tns:ArrayOfEmployment" />
  <xs:complexType name="Employment">
    <xs:sequence>
      <xs:element minOccurs="0" name="HireDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PersonId" type="xs:int" />
      <xs:element minOccurs="0" name="TerminationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TerminationReasonId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Employment" nillable="true" type="tns:Employment" />
  <xs:complexType name="ArrayOfProjectFeedback">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProjectFeedback" nillable="true" type="tns:ProjectFeedback" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProjectFeedback" nillable="true" type="tns:ArrayOfProjectFeedback" />
  <xs:complexType name="ProjectFeedback">
    <xs:sequence>
      <xs:element minOccurs="0" name="CancelationReason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompletionCertificateBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompletionCertificateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="DueDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IsCanceled" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsGap" type="xs:boolean" />
      <xs:element minOccurs="0" name="Person" nillable="true" type="tns:Person" />
      <xs:element minOccurs="0" name="Project" nillable="true" type="tns:Project" />
      <xs:element minOccurs="0" name="ReviewEndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ReviewStartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="tns:ProjectFeedbackStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProjectFeedback" nillable="true" type="tns:ProjectFeedback" />
  <xs:complexType name="ProjectFeedbackStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProjectFeedbackStatus" nillable="true" type="tns:ProjectFeedbackStatus" />
  <xs:complexType name="Location">
    <xs:sequence>
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocationCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocationId" type="xs:int" />
      <xs:element minOccurs="0" name="LocationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Parent" nillable="true" type="tns:Location" />
      <xs:element minOccurs="0" name="TimeZone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Location" nillable="true" type="tns:Location" />
  <xs:complexType name="ArrayOfPersonOverhead">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonOverhead" nillable="true" type="tns:PersonOverhead" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonOverhead" nillable="true" type="tns:ArrayOfPersonOverhead" />
  <xs:complexType name="PersonOverhead">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillRateMultiplier" type="xs:decimal" />
      <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HourlyValue" type="tns:PracticeManagementCurrency" />
      <xs:element minOccurs="0" name="HoursToCollect" type="xs:int" />
      <xs:element minOccurs="0" name="IsPercentage" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rate" type="tns:PracticeManagementCurrency" />
      <xs:element minOccurs="0" name="RateType" nillable="true" type="tns:OverheadRateType" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonOverhead" nillable="true" type="tns:PersonOverhead" />
  <xs:complexType name="OverheadRateType">
    <xs:sequence>
      <xs:element minOccurs="0" name="HoursToCollect" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsPercentage" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OverheadRateType" nillable="true" type="tns:OverheadRateType" />
  <xs:complexType name="ArrayOfPay">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Pay" nillable="true" type="tns:Pay" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPay" nillable="true" type="tns:ArrayOfPay" />
  <xs:complexType name="RecruitingMetrics">
    <xs:sequence>
      <xs:element minOccurs="0" name="InUse" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecruitingMetricsId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="RecruitingMetricsType" type="tns:RecruitingMetricsType" />
      <xs:element minOccurs="0" name="SortOrder" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RecruitingMetrics" nillable="true" type="tns:RecruitingMetrics" />
  <xs:simpleType name="RecruitingMetricsType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Undefined" />
      <xs:enumeration value="Source" />
      <xs:enumeration value="TargetedCompany" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RecruitingMetricsType" nillable="true" type="tns:RecruitingMetricsType" />
  <xs:complexType name="PersonStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonStatus" nillable="true" type="tns:PersonStatus" />
  <xs:complexType name="PersonTimeOff">
    <xs:sequence>
      <xs:element minOccurs="0" name="Project" nillable="true" type="tns:Project" />
      <xs:element minOccurs="0" name="Projects" nillable="true" type="tns:ArrayOfProject" />
      <xs:element minOccurs="0" name="TimeOffEndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TimeOffStartDate" type="xs:dateTime" />
      <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/DataTransferObjects.TimeEntry" minOccurs="0" name="TimeType" nillable="true" type="q17:TimeTypeRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonTimeOff" nillable="true" type="tns:PersonTimeOff" />
  <xs:complexType name="ArrayOfPersonTimeOff">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonTimeOff" nillable="true" type="tns:PersonTimeOff" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonTimeOff" nillable="true" type="tns:ArrayOfPersonTimeOff" />
  <xs:complexType name="Title">
    <xs:sequence>
      <xs:element minOccurs="0" name="InUse" type="xs:boolean" />
      <xs:element minOccurs="0" name="MaximumSalary" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MinimumSalary" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PTOAccrual" type="xs:int" />
      <xs:element minOccurs="0" name="Parent" nillable="true" type="tns:Title" />
      <xs:element minOccurs="0" name="PositionId" type="xs:int" />
      <xs:element minOccurs="0" name="SortOrder" type="xs:int" />
      <xs:element minOccurs="0" name="TitleId" type="xs:int" />
      <xs:element minOccurs="0" name="TitleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TitleType" nillable="true" type="tns:TitleType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Title" nillable="true" type="tns:Title" />
  <xs:complexType name="TitleType">
    <xs:sequence>
      <xs:element minOccurs="0" name="TitleTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="TitleTypeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TitleType" nillable="true" type="tns:TitleType" />
  <xs:complexType name="BusinessGroup">
    <xs:sequence>
      <xs:element minOccurs="0" name="Client" nillable="true" type="tns:Client" />
      <xs:element minOccurs="0" name="ClientId" type="xs:int" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="InUse" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BusinessGroup" nillable="true" type="tns:BusinessGroup" />
  <xs:complexType name="Client">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientMarginInfo" nillable="true" type="tns:ArrayOfClientMarginColorInfo" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DefaultDirector" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DefaultDirectorId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DefaultDiscount" type="xs:decimal" />
      <xs:element minOccurs="0" name="DefaultSalesperson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DefaultSalespersonId" type="xs:int" />
      <xs:element minOccurs="0" name="DefaultTerms" type="xs:int" />
      <xs:element minOccurs="0" name="Groups" nillable="true" type="tns:ArrayOfProjectGroup" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Inactive" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsChargeable" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsHouseAccount" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsInternal" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsMarginColorInfoEnabled" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsNoteRequired" type="xs:boolean" />
      <xs:element minOccurs="0" name="LoginPerson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Client" nillable="true" type="tns:Client" />
  <xs:complexType name="ArrayOfClientMarginColorInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClientMarginColorInfo" nillable="true" type="tns:ClientMarginColorInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClientMarginColorInfo" nillable="true" type="tns:ArrayOfClientMarginColorInfo" />
  <xs:complexType name="ClientMarginColorInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ColorInfo" nillable="true" type="tns:ColorInformation" />
      <xs:element minOccurs="0" name="EndRange" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="StartRange" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientMarginColorInfo" nillable="true" type="tns:ClientMarginColorInfo" />
  <xs:complexType name="ColorInformation">
    <xs:sequence>
      <xs:element minOccurs="0" name="ColorDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ColorId" type="xs:int" />
      <xs:element minOccurs="0" name="ColorValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ColorInformation" nillable="true" type="tns:ColorInformation" />
  <xs:complexType name="ArrayOfProjectGroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProjectGroup" nillable="true" type="tns:ProjectGroup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProjectGroup" nillable="true" type="tns:ArrayOfProjectGroup" />
  <xs:complexType name="ProjectGroup">
    <xs:sequence>
      <xs:element minOccurs="0" name="BusinessGroupId" type="xs:int" />
      <xs:element minOccurs="0" name="Client" nillable="true" type="tns:Client" />
      <xs:element minOccurs="0" name="ClientId" type="xs:int" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="InUse" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProjectGroup" nillable="true" type="tns:ProjectGroup" />
  <xs:simpleType name="BusinessType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Undefined" />
      <xs:enumeration value="NewBusiness" />
      <xs:enumeration value="Extension" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BusinessType" nillable="true" type="tns:BusinessType" />
  <xs:complexType name="ArrayOfProjectCSAT">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProjectCSAT" nillable="true" type="tns:ProjectCSAT" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProjectCSAT" nillable="true" type="tns:ArrayOfProjectCSAT" />
  <xs:complexType name="ProjectCSAT">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompletionDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ProjectId" type="xs:int" />
      <xs:element minOccurs="0" name="ReferralScore" type="xs:int" />
      <xs:element minOccurs="0" name="ReviewEndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ReviewStartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ReviewerId" type="xs:int" />
      <xs:element minOccurs="0" name="ReviewerName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProjectCSAT" nillable="true" type="tns:ProjectCSAT" />
  <xs:complexType name="Channel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsDefault" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsSubChannelNamePicker" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Channel" nillable="true" type="tns:Channel" />
  <xs:complexType name="ProjectDivision">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsExternal" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProjectDivision" nillable="true" type="tns:ProjectDivision" />
  <xs:complexType name="ArrayOfMilestone">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Milestone" nillable="true" type="tns:Milestone" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMilestone" nillable="true" type="tns:ArrayOfMilestone" />
  <xs:complexType name="Offering">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Offering" nillable="true" type="tns:Offering" />
  <xs:complexType name="PricingList">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientId" type="xs:int" />
      <xs:element minOccurs="0" name="InUse" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsDefault" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PricingListId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PricingList" nillable="true" type="tns:PricingList" />
  <xs:complexType name="Revenue">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsDefault" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Revenue" nillable="true" type="tns:Revenue" />
  <xs:complexType name="ProjectStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProjectStatus" nillable="true" type="tns:ProjectStatus" />
</xs:schema>
