PracticeManagement/PracticeManagementScheduler/Service References/ConfigurationService/ConfigurationService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataTransferObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataTransferObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEmailTemplate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmailTemplate" nillable="true" type="tns:EmailTemplate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmailTemplate" nillable="true" type="tns:ArrayOfEmailTemplate" />
  <xs:complexType name="EmailTemplate">
    <xs:sequence>
      <xs:element minOccurs="0" name="Body" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmailTemplate" nillable="true" type="tns:EmailTemplate" />
  <xs:complexType name="EmailData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true">
        <xs:complexType>
          <xs:annotation>
            <xs:appinfo>
              <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
            </xs:appinfo>
          </xs:annotation>
          <xs:sequence>
            <xs:element ref="xs:schema" />
            <xs:any />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="EmailTemplate" nillable="true" type="tns:EmailTemplate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmailData" nillable="true" type="tns:EmailData" />
</xs:schema>
