PracticeManagement/PracticeManagement/Service References/DefaultCommissionService/DefaultCommissionService33.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://akvelon-moss2/PracticeManagementService/DefaultCommissionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects" />
  <xs:element name="DefaultSalesCommissionByPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="personId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DefaultSalesCommissionByPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="DefaultSalesCommissionByPersonResult" nillable="true" type="q1:DefaultCommission" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DefaultManagementCommissionByPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="personId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DefaultManagementCommissionByPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="DefaultManagementCommissionByPersonResult" nillable="true" type="q2:DefaultCommission" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
