PracticeManagement/PracticeManagement/Service References/DefaultCommissionService/DefaultCommissionService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataTransferObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataTransferObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://xpanatoliyl.eq.local/PracticeManagementService/DefaultCommissionService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="DefaultCommission">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FractionOfMargin" type="xs:decimal" />
      <xs:element minOccurs="0" name="MarginTypeId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PersonId" type="xs:int" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TypeOfCommission" type="tns:CommissionType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DefaultCommission" nillable="true" type="tns:DefaultCommission" />
  <xs:simpleType name="CommissionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Sales">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PracticeManagement">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CommissionType" nillable="true" type="tns:CommissionType" />
</xs:schema>
