PracticeManagement/PracticeManagement/Service References/DefaultCommissionService/DefaultCommissionService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DefaultCommissionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://ws60/PracticeManagementService/DefaultCommissionService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://ws60/PracticeManagementService/DefaultCommissionService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://ws60/PracticeManagementService/DefaultCommissionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDefaultCommissionService_DefaultSalesCommissionByPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:DefaultSalesCommissionByPerson" />
  </wsdl:message>
  <wsdl:message name="IDefaultCommissionService_DefaultSalesCommissionByPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:DefaultSalesCommissionByPersonResponse" />
  </wsdl:message>
  <wsdl:message name="IDefaultCommissionService_DefaultManagementCommissionByPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:DefaultManagementCommissionByPerson" />
  </wsdl:message>
  <wsdl:message name="IDefaultCommissionService_DefaultManagementCommissionByPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:DefaultManagementCommissionByPersonResponse" />
  </wsdl:message>
  <wsdl:portType name="IDefaultCommissionService">
    <wsdl:operation name="DefaultSalesCommissionByPerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IDefaultCommissionService/DefaultSalesCommissionByPerson" message="tns:IDefaultCommissionService_DefaultSalesCommissionByPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDefaultCommissionService/DefaultSalesCommissionByPersonResponse" message="tns:IDefaultCommissionService_DefaultSalesCommissionByPerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DefaultManagementCommissionByPerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IDefaultCommissionService/DefaultManagementCommissionByPerson" message="tns:IDefaultCommissionService_DefaultManagementCommissionByPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDefaultCommissionService/DefaultManagementCommissionByPersonResponse" message="tns:IDefaultCommissionService_DefaultManagementCommissionByPerson_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDefaultCommissionService" type="tns:IDefaultCommissionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DefaultSalesCommissionByPerson">
      <soap:operation soapAction="http://tempuri.org/IDefaultCommissionService/DefaultSalesCommissionByPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DefaultManagementCommissionByPerson">
      <soap:operation soapAction="http://tempuri.org/IDefaultCommissionService/DefaultManagementCommissionByPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DefaultCommissionService">
    <wsdl:port name="BasicHttpBinding_IDefaultCommissionService" binding="tns:BasicHttpBinding_IDefaultCommissionService">
      <soap:address location="http://ws60/PracticeManagementService/DefaultCommissionService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
