PracticeManagement/PracticeManagement/Service References/RoleService/RoleService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RoleService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://ws60/PracticeManagementService/RoleService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://ws60/PracticeManagementService/RoleService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://ws60/PracticeManagementService/RoleService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRoleService_AddUsersToRoles_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUsersToRoles" />
  </wsdl:message>
  <wsdl:message name="IRoleService_AddUsersToRoles_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUsersToRolesResponse" />
  </wsdl:message>
  <wsdl:message name="IRoleService_GetApplicationName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetApplicationName" />
  </wsdl:message>
  <wsdl:message name="IRoleService_GetApplicationName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetApplicationNameResponse" />
  </wsdl:message>
  <wsdl:message name="IRoleService_SetApplicationName_InputMessage">
    <wsdl:part name="parameters" element="tns:SetApplicationName" />
  </wsdl:message>
  <wsdl:message name="IRoleService_SetApplicationName_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetApplicationNameResponse" />
  </wsdl:message>
  <wsdl:message name="IRoleService_CreateRole_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateRole" />
  </wsdl:message>
  <wsdl:message name="IRoleService_CreateRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IRoleService_DeleteRole_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRole" />
  </wsdl:message>
  <wsdl:message name="IRoleService_DeleteRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IRoleService_FindUsersInRole_InputMessage">
    <wsdl:part name="parameters" element="tns:FindUsersInRole" />
  </wsdl:message>
  <wsdl:message name="IRoleService_FindUsersInRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindUsersInRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IRoleService_GetAllRoles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRoles" />
  </wsdl:message>
  <wsdl:message name="IRoleService_GetAllRoles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRolesResponse" />
  </wsdl:message>
  <wsdl:message name="IRoleService_GetRolesForUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRolesForUser" />
  </wsdl:message>
  <wsdl:message name="IRoleService_GetRolesForUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRolesForUserResponse" />
  </wsdl:message>
  <wsdl:message name="IRoleService_GetUsersInRole_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersInRole" />
  </wsdl:message>
  <wsdl:message name="IRoleService_GetUsersInRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersInRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IRoleService_IsUserInRole_InputMessage">
    <wsdl:part name="parameters" element="tns:IsUserInRole" />
  </wsdl:message>
  <wsdl:message name="IRoleService_IsUserInRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsUserInRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IRoleService_RemoveUsersFromRoles_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUsersFromRoles" />
  </wsdl:message>
  <wsdl:message name="IRoleService_RemoveUsersFromRoles_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUsersFromRolesResponse" />
  </wsdl:message>
  <wsdl:message name="IRoleService_RoleExists_InputMessage">
    <wsdl:part name="parameters" element="tns:RoleExists" />
  </wsdl:message>
  <wsdl:message name="IRoleService_RoleExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:RoleExistsResponse" />
  </wsdl:message>
  <wsdl:portType name="IRoleService">
    <wsdl:operation name="AddUsersToRoles">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoleService/AddUsersToRoles" message="tns:IRoleService_AddUsersToRoles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoleService/AddUsersToRolesResponse" message="tns:IRoleService_AddUsersToRoles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetApplicationName">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoleService/GetApplicationName" message="tns:IRoleService_GetApplicationName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoleService/GetApplicationNameResponse" message="tns:IRoleService_GetApplicationName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetApplicationName">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoleService/SetApplicationName" message="tns:IRoleService_SetApplicationName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoleService/SetApplicationNameResponse" message="tns:IRoleService_SetApplicationName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoleService/CreateRole" message="tns:IRoleService_CreateRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoleService/CreateRoleResponse" message="tns:IRoleService_CreateRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoleService/DeleteRole" message="tns:IRoleService_DeleteRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoleService/DeleteRoleResponse" message="tns:IRoleService_DeleteRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindUsersInRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoleService/FindUsersInRole" message="tns:IRoleService_FindUsersInRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoleService/FindUsersInRoleResponse" message="tns:IRoleService_FindUsersInRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllRoles">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoleService/GetAllRoles" message="tns:IRoleService_GetAllRoles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoleService/GetAllRolesResponse" message="tns:IRoleService_GetAllRoles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRolesForUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoleService/GetRolesForUser" message="tns:IRoleService_GetRolesForUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoleService/GetRolesForUserResponse" message="tns:IRoleService_GetRolesForUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsersInRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoleService/GetUsersInRole" message="tns:IRoleService_GetUsersInRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoleService/GetUsersInRoleResponse" message="tns:IRoleService_GetUsersInRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsUserInRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoleService/IsUserInRole" message="tns:IRoleService_IsUserInRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoleService/IsUserInRoleResponse" message="tns:IRoleService_IsUserInRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveUsersFromRoles">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoleService/RemoveUsersFromRoles" message="tns:IRoleService_RemoveUsersFromRoles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoleService/RemoveUsersFromRolesResponse" message="tns:IRoleService_RemoveUsersFromRoles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RoleExists">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoleService/RoleExists" message="tns:IRoleService_RoleExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoleService/RoleExistsResponse" message="tns:IRoleService_RoleExists_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRoleService" type="tns:IRoleService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddUsersToRoles">
      <soap:operation soapAction="http://tempuri.org/IRoleService/AddUsersToRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplicationName">
      <soap:operation soapAction="http://tempuri.org/IRoleService/GetApplicationName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetApplicationName">
      <soap:operation soapAction="http://tempuri.org/IRoleService/SetApplicationName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateRole">
      <soap:operation soapAction="http://tempuri.org/IRoleService/CreateRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRole">
      <soap:operation soapAction="http://tempuri.org/IRoleService/DeleteRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindUsersInRole">
      <soap:operation soapAction="http://tempuri.org/IRoleService/FindUsersInRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllRoles">
      <soap:operation soapAction="http://tempuri.org/IRoleService/GetAllRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRolesForUser">
      <soap:operation soapAction="http://tempuri.org/IRoleService/GetRolesForUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsersInRole">
      <soap:operation soapAction="http://tempuri.org/IRoleService/GetUsersInRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsUserInRole">
      <soap:operation soapAction="http://tempuri.org/IRoleService/IsUserInRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveUsersFromRoles">
      <soap:operation soapAction="http://tempuri.org/IRoleService/RemoveUsersFromRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RoleExists">
      <soap:operation soapAction="http://tempuri.org/IRoleService/RoleExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RoleService">
    <wsdl:port name="BasicHttpBinding_IRoleService" binding="tns:BasicHttpBinding_IRoleService">
      <soap:address location="http://ws60/PracticeManagementService/RoleService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
