PracticeManagement/PracticeManagement/Service References/ReportService/ReportService9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataTransferObjects.Reports.HumanCapital" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.Reports.HumanCapital" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3262/ReportService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects" />
  <xs:complexType name="TerminationPersonsInRange">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActivePersonsCountAtTheBeginning" type="xs:int" />
      <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NewHiredCumulativeInTheRange" type="xs:int" />
      <xs:element minOccurs="0" name="NewHiresCountInTheRange" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="PersonList" nillable="true" type="q1:ArrayOfPerson" />
      <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Terminations1099HourlyCountInTheRange" type="xs:int" />
      <xs:element minOccurs="0" name="Terminations1099PORCountInTheRange" type="xs:int" />
      <xs:element minOccurs="0" name="TerminationsCountInTheRange" type="xs:int" />
      <xs:element minOccurs="0" name="TerminationsCumulativeEmployeeCountInTheRange" type="xs:int" />
      <xs:element minOccurs="0" name="TerminationsW2HourlyCountInTheRange" type="xs:int" />
      <xs:element minOccurs="0" name="TerminationsW2SalaryCountInTheRange" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TerminationPersonsInRange" nillable="true" type="tns:TerminationPersonsInRange" />
  <xs:complexType name="ArrayOfTerminationPersonsInRange">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TerminationPersonsInRange" nillable="true" type="tns:TerminationPersonsInRange" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTerminationPersonsInRange" nillable="true" type="tns:ArrayOfTerminationPersonsInRange" />
</xs:schema>
