PracticeManagement/PracticeManagement/Service References/ReportService/ReportService18.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataTransferObjects.Reports" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.Reports" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ggku3sys280.ggktech.local/PracticemanagementService/ReportService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects" />
  <xs:import schemaLocation="http://ggku3sys280.ggktech.local/PracticemanagementService/ReportService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.TimeEntry" />
  <xs:import schemaLocation="http://ggku3sys280.ggktech.local/PracticemanagementService/ReportService.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfTimeEntriesGroupByClientAndProject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TimeEntriesGroupByClientAndProject" nillable="true" type="tns:TimeEntriesGroupByClientAndProject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTimeEntriesGroupByClientAndProject" nillable="true" type="tns:ArrayOfTimeEntriesGroupByClientAndProject" />
  <xs:complexType name="TimeEntriesGroupByClientAndProject">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillableHours" type="xs:double" />
      <xs:element minOccurs="0" name="BillableHoursUntilToday" type="xs:double" />
      <xs:element minOccurs="0" name="BillableType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BudgetHours" type="xs:double" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="Client" nillable="true" type="q1:Client" />
      <xs:element minOccurs="0" name="DayTotalHours" nillable="true" type="tns:ArrayOfTimeEntriesGroupByDate" />
      <xs:element minOccurs="0" name="GrandTotal" type="xs:double" />
      <xs:element minOccurs="0" name="NonBillableHours" type="xs:double" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="Person" nillable="true" type="q2:Person" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="Project" nillable="true" type="q3:Project" />
      <xs:element minOccurs="0" name="ProjectedHours" type="xs:double" />
      <xs:element minOccurs="0" name="ProjectedHoursUntilToday" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TimeEntriesGroupByClientAndProject" nillable="true" type="tns:TimeEntriesGroupByClientAndProject" />
  <xs:complexType name="ArrayOfTimeEntriesGroupByDate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TimeEntriesGroupByDate" nillable="true" type="tns:TimeEntriesGroupByDate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTimeEntriesGroupByDate" nillable="true" type="tns:ArrayOfTimeEntriesGroupByDate" />
  <xs:complexType name="TimeEntriesGroupByDate">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DayTotalHoursList" nillable="true" type="tns:ArrayOfTimeEntryByWorkType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TimeEntriesGroupByDate" nillable="true" type="tns:TimeEntriesGroupByDate" />
  <xs:complexType name="ArrayOfTimeEntryByWorkType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TimeEntryByWorkType" nillable="true" type="tns:TimeEntryByWorkType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTimeEntryByWorkType" nillable="true" type="tns:ArrayOfTimeEntryByWorkType" />
  <xs:complexType name="TimeEntryByWorkType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillRate" type="xs:double" />
      <xs:element minOccurs="0" name="BillableHours" type="xs:double" />
      <xs:element minOccurs="0" name="BillingType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ForecastedHoursDaily" type="xs:double" />
      <xs:element minOccurs="0" name="HourlyRate" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="NonBillableHours" type="xs:double" />
      <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayRate" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PayType" nillable="true" type="xs:string" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DataTransferObjects.TimeEntry" minOccurs="0" name="TimeType" nillable="true" type="q4:TimeTypeRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TimeEntryByWorkType" nillable="true" type="tns:TimeEntryByWorkType" />
  <xs:complexType name="PersonTimeEntriesTotals">
    <xs:sequence>
      <xs:element minOccurs="0" name="AvailableHours" type="xs:double" />
      <xs:element minOccurs="0" name="BillableHours" type="xs:double" />
      <xs:element minOccurs="0" name="BillableHoursUntilToday" type="xs:double" />
      <xs:element minOccurs="0" name="NonBillableHours" type="xs:double" />
      <xs:element minOccurs="0" name="ProjectedHours" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonTimeEntriesTotals" nillable="true" type="tns:PersonTimeEntriesTotals" />
  <xs:complexType name="ArrayOfPersonLevelGroupedHours">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonLevelGroupedHours" nillable="true" type="tns:PersonLevelGroupedHours" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonLevelGroupedHours" nillable="true" type="tns:ArrayOfPersonLevelGroupedHours" />
  <xs:complexType name="PersonLevelGroupedHours">
    <xs:sequence>
      <xs:element minOccurs="0" name="AvailableHours" type="xs:double" />
      <xs:element minOccurs="0" name="AvailableHoursUntilToday" type="xs:double" />
      <xs:element minOccurs="0" name="BereavementHours" type="xs:double" />
      <xs:element minOccurs="0" name="BillRate" type="xs:double" />
      <xs:element minOccurs="0" name="BillableHours" type="xs:double" />
      <xs:element minOccurs="0" name="BillableHoursUntilToday" type="xs:double" />
      <xs:element minOccurs="0" name="BillingType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BudgetHours" type="xs:double" />
      <xs:element minOccurs="0" name="BusinessDevelopmentHours" type="xs:double" />
      <xs:element minOccurs="0" name="DayTotalHours" nillable="true" type="tns:ArrayOfTimeEntriesGroupByDate" />
      <xs:element minOccurs="0" name="EstimatedBillings" type="xs:double" />
      <xs:element minOccurs="0" name="FLHR" type="xs:double" />
      <xs:element minOccurs="0" name="ForecastedHours" type="xs:double" />
      <xs:element minOccurs="0" name="ForecastedHoursUntilToday" type="xs:double" />
      <xs:element minOccurs="0" name="HolidayHours" type="xs:double" />
      <xs:element minOccurs="0" name="InternalHours" type="xs:double" />
      <xs:element minOccurs="0" name="JuryDutyHours" type="xs:double" />
      <xs:element minOccurs="0" name="LatestDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ORTHours" type="xs:double" />
      <xs:element minOccurs="0" name="PTOHours" type="xs:double" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="Person" nillable="true" type="q5:Person" />
      <xs:element minOccurs="0" name="ProjectNonBillableHours" type="xs:double" />
      <xs:element minOccurs="0" name="RemainingProjectedHours" type="xs:double" />
      <xs:element minOccurs="0" name="SickOrSafeLeaveHours" type="xs:double" />
      <xs:element minOccurs="0" name="TimeEntrySectionId" type="xs:int" />
      <xs:element minOccurs="0" name="UnpaidHours" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonLevelGroupedHours" nillable="true" type="tns:PersonLevelGroupedHours" />
  <xs:complexType name="ArrayOfProjectLevelGroupedHours">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProjectLevelGroupedHours" nillable="true" type="tns:ProjectLevelGroupedHours" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProjectLevelGroupedHours" nillable="true" type="tns:ArrayOfProjectLevelGroupedHours" />
  <xs:complexType name="ProjectLevelGroupedHours">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillableHours" type="xs:double" />
      <xs:element minOccurs="0" name="BillableHoursUntilToday" type="xs:double" />
      <xs:element minOccurs="0" name="BillingType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BudgetHours" type="xs:double" />
      <xs:element minOccurs="0" name="EstimatedBillings" type="xs:double" />
      <xs:element minOccurs="0" name="ForecastedHours" type="xs:double" />
      <xs:element minOccurs="0" name="ForecastedHoursUntilToday" type="xs:double" />
      <xs:element minOccurs="0" name="NonBillableHours" type="xs:double" />
      <xs:element minOccurs="0" name="PersonLevelDetails" nillable="true" type="tns:ArrayOfPersonLevelGroupedHours" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="Project" nillable="true" type="q6:Project" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProjectLevelGroupedHours" nillable="true" type="tns:ProjectLevelGroupedHours" />
  <xs:complexType name="ArrayOfWorkTypeLevelGroupedHours">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WorkTypeLevelGroupedHours" nillable="true" type="tns:WorkTypeLevelGroupedHours" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWorkTypeLevelGroupedHours" nillable="true" type="tns:ArrayOfWorkTypeLevelGroupedHours" />
  <xs:complexType name="WorkTypeLevelGroupedHours">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillableHours" type="xs:double" />
      <xs:element minOccurs="0" name="ForecastedHours" type="xs:double" />
      <xs:element minOccurs="0" name="NonBillableHours" type="xs:double" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DataTransferObjects.TimeEntry" minOccurs="0" name="WorkType" nillable="true" type="q7:TimeTypeRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WorkTypeLevelGroupedHours" nillable="true" type="tns:WorkTypeLevelGroupedHours" />
  <xs:complexType name="ArrayOfPersonLevelPayCheck">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonLevelPayCheck" nillable="true" type="tns:PersonLevelPayCheck" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonLevelPayCheck" nillable="true" type="tns:ArrayOfPersonLevelPayCheck" />
  <xs:complexType name="PersonLevelPayCheck">
    <xs:sequence>
      <xs:element minOccurs="0" name="BranchID" type="xs:int" />
      <xs:element minOccurs="0" name="DeptID" type="xs:int" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="Person" nillable="true" type="q8:Person" />
      <xs:element minOccurs="0" name="TotalHoursExcludingTimeOff" type="xs:double" />
      <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="WorkTypeLevelTimeOffHours" nillable="true" type="q9:ArrayOfKeyValueOfstringdouble" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonLevelPayCheck" nillable="true" type="tns:PersonLevelPayCheck" />
  <xs:complexType name="ArrayOfPersonLevelTimeEntriesHistory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonLevelTimeEntriesHistory" nillable="true" type="tns:PersonLevelTimeEntriesHistory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonLevelTimeEntriesHistory" nillable="true" type="tns:ArrayOfPersonLevelTimeEntriesHistory" />
  <xs:complexType name="PersonLevelTimeEntriesHistory">
    <xs:sequence>
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="Person" nillable="true" type="q10:Person" />
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/DataTransferObjects.TimeEntry" minOccurs="0" name="TimeEntryRecords" nillable="true" type="q11:ArrayOfTimeEntryRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonLevelTimeEntriesHistory" nillable="true" type="tns:PersonLevelTimeEntriesHistory" />
  <xs:complexType name="ArrayOfProjectLevelTimeEntriesHistory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProjectLevelTimeEntriesHistory" nillable="true" type="tns:ProjectLevelTimeEntriesHistory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProjectLevelTimeEntriesHistory" nillable="true" type="tns:ArrayOfProjectLevelTimeEntriesHistory" />
  <xs:complexType name="ProjectLevelTimeEntriesHistory">
    <xs:sequence>
      <xs:element minOccurs="0" name="PersonLevelTimeEntries" nillable="true" type="tns:ArrayOfPersonLevelTimeEntriesHistory" />
      <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="Project" nillable="true" type="q12:Project" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProjectLevelTimeEntriesHistory" nillable="true" type="tns:ProjectLevelTimeEntriesHistory" />
  <xs:complexType name="ArrayOfAttainmentBillableutlizationReport">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AttainmentBillableutlizationReport" nillable="true" type="tns:AttainmentBillableutlizationReport" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAttainmentBillableutlizationReport" nillable="true" type="tns:ArrayOfAttainmentBillableutlizationReport" />
  <xs:complexType name="AttainmentBillableutlizationReport">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillableUtilizationList" nillable="true" type="tns:ArrayOfBillableUtlizationByRange" />
      <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="Person" nillable="true" type="q13:Person" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AttainmentBillableutlizationReport" nillable="true" type="tns:AttainmentBillableutlizationReport" />
  <xs:complexType name="ArrayOfBillableUtlizationByRange">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BillableUtlizationByRange" nillable="true" type="tns:BillableUtlizationByRange" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBillableUtlizationByRange" nillable="true" type="tns:ArrayOfBillableUtlizationByRange" />
  <xs:complexType name="BillableUtlizationByRange">
    <xs:sequence>
      <xs:element minOccurs="0" name="AvailableHours" type="xs:int" />
      <xs:element minOccurs="0" name="BillableHours" type="xs:double" />
      <xs:element minOccurs="0" name="BillableUtilization" type="xs:double" />
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RangeType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BillableUtlizationByRange" nillable="true" type="tns:BillableUtlizationByRange" />
  <xs:complexType name="ArrayOfResourceExceptionReport">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResourceExceptionReport" nillable="true" type="tns:ResourceExceptionReport" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResourceExceptionReport" nillable="true" type="tns:ArrayOfResourceExceptionReport" />
  <xs:complexType name="ResourceExceptionReport">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillableHours" type="xs:double" />
      <xs:element minOccurs="0" name="NonBillableHours" type="xs:double" />
      <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="Person" nillable="true" type="q14:Person" />
      <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="Project" nillable="true" type="q15:Project" />
      <xs:element minOccurs="0" name="ProjectedHours" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResourceExceptionReport" nillable="true" type="tns:ResourceExceptionReport" />
  <xs:complexType name="ArrayOfBillingReport">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BillingReport" nillable="true" type="tns:BillingReport" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBillingReport" nillable="true" type="tns:ArrayOfBillingReport" />
  <xs:complexType name="BillingReport">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActualHours" type="xs:double" />
      <xs:element minOccurs="0" name="ActualHoursInRange" type="xs:double" />
      <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="ActualToDate" type="q16:PracticeManagementCurrency" />
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ForecastedHours" type="xs:double" />
      <xs:element minOccurs="0" name="ForecastedHoursInRange" type="xs:double" />
      <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="Project" nillable="true" type="q17:Project" />
      <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="RangeActual" type="q18:PracticeManagementCurrency" />
      <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="RangeProjected" type="q19:PracticeManagementCurrency" />
      <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="SOWBudget" type="q20:PracticeManagementCurrency" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BillingReport" nillable="true" type="tns:BillingReport" />
  <xs:complexType name="ArrayOfBadgedResourcesByTime">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BadgedResourcesByTime" nillable="true" type="tns:BadgedResourcesByTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBadgedResourcesByTime" nillable="true" type="tns:ArrayOfBadgedResourcesByTime" />
  <xs:complexType name="BadgedResourcesByTime">
    <xs:sequence>
      <xs:element minOccurs="0" name="BadgedNotOnProjectCount" type="xs:int" />
      <xs:element minOccurs="0" name="BadgedNotOnProjectExceptionCount" type="xs:int" />
      <xs:element minOccurs="0" name="BadgedOnProjectCount" type="xs:int" />
      <xs:element minOccurs="0" name="BadgedOnProjectExceptionCount" type="xs:int" />
      <xs:element minOccurs="0" name="BlockedCount" type="xs:int" />
      <xs:element minOccurs="0" name="ClockNotStartedCount" type="xs:int" />
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="InBreakPeriodCount" type="xs:int" />
      <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="Practice" nillable="true" type="q21:Practice" />
      <xs:element minOccurs="0" name="ResourceCount" type="xs:int" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TypeNo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BadgedResourcesByTime" nillable="true" type="tns:BadgedResourcesByTime" />
  <xs:complexType name="ArrayOfGroupByPractice">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GroupByPractice" nillable="true" type="tns:GroupByPractice" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGroupByPractice" nillable="true" type="tns:ArrayOfGroupByPractice" />
  <xs:complexType name="GroupByPractice">
    <xs:sequence>
      <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="Practice" nillable="true" type="q22:Practice" />
      <xs:element minOccurs="0" name="ResourcesCount" nillable="true" type="tns:ArrayOfBadgedResourcesByTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GroupByPractice" nillable="true" type="tns:GroupByPractice" />
  <xs:complexType name="ArrayOfGroupbyTitle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GroupbyTitle" nillable="true" type="tns:GroupbyTitle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGroupbyTitle" nillable="true" type="tns:ArrayOfGroupbyTitle" />
  <xs:complexType name="GroupbyTitle">
    <xs:sequence>
      <xs:element minOccurs="0" name="ResourcesCount" nillable="true" type="tns:ArrayOfBadgedResourcesByTime" />
      <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="Title" nillable="true" type="q23:Title" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GroupbyTitle" nillable="true" type="tns:GroupbyTitle" />
  <xs:complexType name="ArrayOfManagementMeetingReport">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ManagementMeetingReport" nillable="true" type="tns:ManagementMeetingReport" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfManagementMeetingReport" nillable="true" type="tns:ArrayOfManagementMeetingReport" />
  <xs:complexType name="ManagementMeetingReport">
    <xs:sequence>
      <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="Person" nillable="true" type="q24:Person" />
      <xs:element minOccurs="0" name="Range" nillable="true" type="tns:ArrayOfAvailableRange" />
      <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="Title" nillable="true" type="q25:Title" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ManagementMeetingReport" nillable="true" type="tns:ManagementMeetingReport" />
  <xs:complexType name="ArrayOfAvailableRange">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AvailableRange" nillable="true" type="tns:AvailableRange" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAvailableRange" nillable="true" type="tns:ArrayOfAvailableRange" />
  <xs:complexType name="AvailableRange">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsAvailable" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsManagedService" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPersonActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AvailableRange" nillable="true" type="tns:AvailableRange" />
  <xs:complexType name="RevenueReport">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActualRevenuePerHour" type="xs:decimal" />
      <xs:element minOccurs="0" name="HoursUtilization" type="xs:decimal" />
      <xs:element minOccurs="0" name="TargetRevenuePerHour" type="xs:decimal" />
      <xs:element minOccurs="0" name="TotalRevenuePerAnnual" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RevenueReport" nillable="true" type="tns:RevenueReport" />
  <xs:complexType name="ArrayOfExpenseSummary">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExpenseSummary" nillable="true" type="tns:ExpenseSummary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExpenseSummary" nillable="true" type="tns:ArrayOfExpenseSummary" />
  <xs:complexType name="ExpenseSummary">
    <xs:sequence>
      <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="Expense" nillable="true" type="q26:ProjectExpense" />
      <xs:element minOccurs="0" name="MonthEndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MonthStartDate" type="xs:dateTime" />
      <xs:element xmlns:q27="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="MonthlyBudgetExpenses" nillable="true" type="q27:ArrayOfKeyValueOfdateTimedecimal" />
      <xs:element xmlns:q28="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="MonthlyEACExpenses" nillable="true" type="q28:ArrayOfKeyValueOfdateTimedecimal" />
      <xs:element xmlns:q29="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="MonthlyExpectedExpenses" nillable="true" type="q29:ArrayOfKeyValueOfdateTimedecimal" />
      <xs:element xmlns:q30="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="MonthlyExpenses" nillable="true" type="q30:ArrayOfKeyValueOfdateTimedecimal" />
      <xs:element xmlns:q31="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="MonthlyReimburseExpense" nillable="true" type="q31:ArrayOfKeyValueOfdateTimedecimal" />
      <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="Project" nillable="true" type="q32:Project" />
      <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="Type" nillable="true" type="q33:ExpenseType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExpenseSummary" nillable="true" type="tns:ExpenseSummary" />
  <xs:complexType name="ProjectBurnFinancials">
    <xs:sequence>
      <xs:element minOccurs="0" name="BudgetAmount" nillable="true" type="xs:int" />
      <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="Expenses" nillable="true" type="q34:ArrayOfProjectExpense" />
      <xs:element xmlns:q35="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Financials" nillable="true" type="q35:ArrayOfKeyValueOfdateTimeComputedFinancialsfLTn8SS5" />
      <xs:element minOccurs="0" name="MarginGoal" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProjectId" type="xs:int" />
      <xs:element minOccurs="0" name="RemainingDays" type="xs:int" />
      <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="Resources" nillable="true" type="q36:ArrayOfProjectBudgetResource" />
      <xs:element minOccurs="0" name="TotalProjectDays" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProjectBurnFinancials" nillable="true" type="tns:ProjectBurnFinancials" />
  <xs:complexType name="ArrayOfPersonBudgetComparison">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonBudgetComparison" nillable="true" type="tns:PersonBudgetComparison" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonBudgetComparison" nillable="true" type="tns:ArrayOfPersonBudgetComparison" />
  <xs:complexType name="PersonBudgetComparison">
    <xs:sequence>
      <xs:element xmlns:q37="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ActualHours" nillable="true" type="q37:ArrayOfKeyValueOfdateTimedecimal" />
      <xs:element xmlns:q38="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="BudgetBillRate" nillable="true" type="q38:ArrayOfKeyValueOfdateTimePayRatelNKOc9JJ" />
      <xs:element xmlns:q39="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="BudgetHours" nillable="true" type="q39:ArrayOfKeyValueOfdateTimedecimal" />
      <xs:element xmlns:q40="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="EACHours" nillable="true" type="q40:ArrayOfKeyValueOfdateTimedecimal" />
      <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="Financials" nillable="true" type="q41:ComputedFinancials" />
      <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="Person" nillable="true" type="q42:Person" />
      <xs:element xmlns:q43="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ProjectedAndActualBillRate" nillable="true" type="q43:ArrayOfKeyValueOfdateTimePayRatelNKOc9JJ" />
      <xs:element xmlns:q44="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ProjectedHours" nillable="true" type="q44:ArrayOfKeyValueOfdateTimedecimal" />
      <xs:element xmlns:q45="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ProjectedRemainingHours" nillable="true" type="q45:ArrayOfKeyValueOfdateTimedecimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonBudgetComparison" nillable="true" type="tns:PersonBudgetComparison" />
  <xs:complexType name="PayRate">
    <xs:sequence>
      <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="BillRate" type="q46:PracticeManagementCurrency" />
      <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="PersonCost" type="q47:PracticeManagementCurrency" />
      <xs:element minOccurs="0" name="PersonId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PayRate" nillable="true" type="tns:PayRate" />
</xs:schema>
