PracticeManagement/PracticeManagement/Service References/ReportService/ReportService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataTransferObjects.Reports" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.Reports" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3262/ReportService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects" />
  <xs:import schemaLocation="http://localhost:3262/ReportService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.TimeEntry" />
  <xs:import schemaLocation="http://localhost:3262/ReportService.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfAttainmentBillableutlizationReport">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AttainmentBillableutlizationReport" nillable="true" type="tns:AttainmentBillableutlizationReport" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAttainmentBillableutlizationReport" nillable="true" type="tns:ArrayOfAttainmentBillableutlizationReport" />
  <xs:complexType name="AttainmentBillableutlizationReport">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillableUtilizationList" nillable="true" type="tns:ArrayOfBillableUtlizationByRange" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="Person" nillable="true" type="q1:Person" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AttainmentBillableutlizationReport" nillable="true" type="tns:AttainmentBillableutlizationReport" />
  <xs:complexType name="ArrayOfBillableUtlizationByRange">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BillableUtlizationByRange" nillable="true" type="tns:BillableUtlizationByRange" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBillableUtlizationByRange" nillable="true" type="tns:ArrayOfBillableUtlizationByRange" />
  <xs:complexType name="BillableUtlizationByRange">
    <xs:sequence>
      <xs:element minOccurs="0" name="AvailableHours" type="xs:int" />
      <xs:element minOccurs="0" name="BillableHours" type="xs:double" />
      <xs:element minOccurs="0" name="BillableUtilization" type="xs:double" />
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RangeType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BillableUtlizationByRange" nillable="true" type="tns:BillableUtlizationByRange" />
  <xs:complexType name="ArrayOfResourceExceptionReport">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResourceExceptionReport" nillable="true" type="tns:ResourceExceptionReport" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResourceExceptionReport" nillable="true" type="tns:ArrayOfResourceExceptionReport" />
  <xs:complexType name="ResourceExceptionReport">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillableHours" type="xs:double" />
      <xs:element minOccurs="0" name="NonBillableHours" type="xs:double" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="Person" nillable="true" type="q2:Person" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="Project" nillable="true" type="q3:Project" />
      <xs:element minOccurs="0" name="ProjectedHours" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResourceExceptionReport" nillable="true" type="tns:ResourceExceptionReport" />
  <xs:complexType name="ArrayOfBillingReport">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BillingReport" nillable="true" type="tns:BillingReport" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBillingReport" nillable="true" type="tns:ArrayOfBillingReport" />
  <xs:complexType name="BillingReport">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActualHours" type="xs:double" />
      <xs:element minOccurs="0" name="ActualToDate" type="xs:decimal" />
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ForecastedHours" type="xs:double" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="Project" nillable="true" type="q4:Project" />
      <xs:element minOccurs="0" name="RangeActual" type="xs:decimal" />
      <xs:element minOccurs="0" name="RangeProjected" type="xs:decimal" />
      <xs:element minOccurs="0" name="SOWBudget" type="xs:decimal" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BillingReport" nillable="true" type="tns:BillingReport" />
  <xs:complexType name="ArrayOfTimeEntriesGroupByClientAndProject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TimeEntriesGroupByClientAndProject" nillable="true" type="tns:TimeEntriesGroupByClientAndProject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTimeEntriesGroupByClientAndProject" nillable="true" type="tns:ArrayOfTimeEntriesGroupByClientAndProject" />
  <xs:complexType name="TimeEntriesGroupByClientAndProject">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillableHours" type="xs:double" />
      <xs:element minOccurs="0" name="BillableHoursUntilToday" type="xs:double" />
      <xs:element minOccurs="0" name="BillableType" nillable="true" type="xs:string" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="Client" nillable="true" type="q5:Client" />
      <xs:element minOccurs="0" name="DayTotalHours" nillable="true" type="tns:ArrayOfTimeEntriesGroupByDate" />
      <xs:element minOccurs="0" name="GrandTotal" type="xs:double" />
      <xs:element minOccurs="0" name="NonBillableHours" type="xs:double" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="Person" nillable="true" type="q6:Person" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="Project" nillable="true" type="q7:Project" />
      <xs:element minOccurs="0" name="ProjectedHours" type="xs:double" />
      <xs:element minOccurs="0" name="ProjectedHoursUntilToday" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TimeEntriesGroupByClientAndProject" nillable="true" type="tns:TimeEntriesGroupByClientAndProject" />
  <xs:complexType name="ArrayOfTimeEntriesGroupByDate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TimeEntriesGroupByDate" nillable="true" type="tns:TimeEntriesGroupByDate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTimeEntriesGroupByDate" nillable="true" type="tns:ArrayOfTimeEntriesGroupByDate" />
  <xs:complexType name="TimeEntriesGroupByDate">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DayTotalHoursList" nillable="true" type="tns:ArrayOfTimeEntryByWorkType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TimeEntriesGroupByDate" nillable="true" type="tns:TimeEntriesGroupByDate" />
  <xs:complexType name="ArrayOfTimeEntryByWorkType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TimeEntryByWorkType" nillable="true" type="tns:TimeEntryByWorkType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTimeEntryByWorkType" nillable="true" type="tns:ArrayOfTimeEntryByWorkType" />
  <xs:complexType name="TimeEntryByWorkType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillableHours" type="xs:double" />
      <xs:element minOccurs="0" name="HourlyRate" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="NonBillableHours" type="xs:double" />
      <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayRate" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PayType" nillable="true" type="xs:string" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DataTransferObjects.TimeEntry" minOccurs="0" name="TimeType" nillable="true" type="q8:TimeTypeRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TimeEntryByWorkType" nillable="true" type="tns:TimeEntryByWorkType" />
  <xs:complexType name="PersonTimeEntriesTotals">
    <xs:sequence>
      <xs:element minOccurs="0" name="AvailableHours" type="xs:double" />
      <xs:element minOccurs="0" name="BillableHours" type="xs:double" />
      <xs:element minOccurs="0" name="BillableHoursUntilToday" type="xs:double" />
      <xs:element minOccurs="0" name="NonBillableHours" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonTimeEntriesTotals" nillable="true" type="tns:PersonTimeEntriesTotals" />
  <xs:complexType name="ArrayOfPersonLevelGroupedHours">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonLevelGroupedHours" nillable="true" type="tns:PersonLevelGroupedHours" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonLevelGroupedHours" nillable="true" type="tns:ArrayOfPersonLevelGroupedHours" />
  <xs:complexType name="PersonLevelGroupedHours">
    <xs:sequence>
      <xs:element minOccurs="0" name="AvailableHours" type="xs:double" />
      <xs:element minOccurs="0" name="AvailableHoursUntilToday" type="xs:double" />
      <xs:element minOccurs="0" name="BereavementHours" type="xs:double" />
      <xs:element minOccurs="0" name="BillRate" type="xs:double" />
      <xs:element minOccurs="0" name="BillableHours" type="xs:double" />
      <xs:element minOccurs="0" name="BillableHoursUntilToday" type="xs:double" />
      <xs:element minOccurs="0" name="BillingType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BusinessDevelopmentHours" type="xs:double" />
      <xs:element minOccurs="0" name="DayTotalHours" nillable="true" type="tns:ArrayOfTimeEntriesGroupByDate" />
      <xs:element minOccurs="0" name="EstimatedBillings" type="xs:double" />
      <xs:element minOccurs="0" name="ForecastedHours" type="xs:double" />
      <xs:element minOccurs="0" name="ForecastedHoursUntilToday" type="xs:double" />
      <xs:element minOccurs="0" name="HolidayHours" type="xs:double" />
      <xs:element minOccurs="0" name="InternalHours" type="xs:double" />
      <xs:element minOccurs="0" name="JuryDutyHours" type="xs:double" />
      <xs:element minOccurs="0" name="ORTHours" type="xs:double" />
      <xs:element minOccurs="0" name="PTOHours" type="xs:double" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="Person" nillable="true" type="q9:Person" />
      <xs:element minOccurs="0" name="ProjectNonBillableHours" type="xs:double" />
      <xs:element minOccurs="0" name="SickOrSafeLeaveHours" type="xs:double" />
      <xs:element minOccurs="0" name="TimeEntrySectionId" type="xs:int" />
      <xs:element minOccurs="0" name="UnpaidHours" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonLevelGroupedHours" nillable="true" type="tns:PersonLevelGroupedHours" />
  <xs:complexType name="ArrayOfProjectLevelGroupedHours">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProjectLevelGroupedHours" nillable="true" type="tns:ProjectLevelGroupedHours" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProjectLevelGroupedHours" nillable="true" type="tns:ArrayOfProjectLevelGroupedHours" />
  <xs:complexType name="ProjectLevelGroupedHours">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillableHours" type="xs:double" />
      <xs:element minOccurs="0" name="BillableHoursUntilToday" type="xs:double" />
      <xs:element minOccurs="0" name="BillingType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstimatedBillings" type="xs:double" />
      <xs:element minOccurs="0" name="ForecastedHours" type="xs:double" />
      <xs:element minOccurs="0" name="ForecastedHoursUntilToday" type="xs:double" />
      <xs:element minOccurs="0" name="NonBillableHours" type="xs:double" />
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="Project" nillable="true" type="q10:Project" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProjectLevelGroupedHours" nillable="true" type="tns:ProjectLevelGroupedHours" />
  <xs:complexType name="ArrayOfWorkTypeLevelGroupedHours">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WorkTypeLevelGroupedHours" nillable="true" type="tns:WorkTypeLevelGroupedHours" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWorkTypeLevelGroupedHours" nillable="true" type="tns:ArrayOfWorkTypeLevelGroupedHours" />
  <xs:complexType name="WorkTypeLevelGroupedHours">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillableHours" type="xs:double" />
      <xs:element minOccurs="0" name="ForecastedHours" type="xs:double" />
      <xs:element minOccurs="0" name="NonBillableHours" type="xs:double" />
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/DataTransferObjects.TimeEntry" minOccurs="0" name="WorkType" nillable="true" type="q11:TimeTypeRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WorkTypeLevelGroupedHours" nillable="true" type="tns:WorkTypeLevelGroupedHours" />
  <xs:complexType name="ArrayOfPersonLevelPayCheck">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonLevelPayCheck" nillable="true" type="tns:PersonLevelPayCheck" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonLevelPayCheck" nillable="true" type="tns:ArrayOfPersonLevelPayCheck" />
  <xs:complexType name="PersonLevelPayCheck">
    <xs:sequence>
      <xs:element minOccurs="0" name="BranchID" type="xs:int" />
      <xs:element minOccurs="0" name="DeptID" type="xs:int" />
      <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="Person" nillable="true" type="q12:Person" />
      <xs:element minOccurs="0" name="TotalHoursExcludingTimeOff" type="xs:double" />
      <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="WorkTypeLevelTimeOffHours" nillable="true" type="q13:ArrayOfKeyValueOfstringdouble" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonLevelPayCheck" nillable="true" type="tns:PersonLevelPayCheck" />
  <xs:complexType name="ArrayOfPersonLevelTimeEntriesHistory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonLevelTimeEntriesHistory" nillable="true" type="tns:PersonLevelTimeEntriesHistory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonLevelTimeEntriesHistory" nillable="true" type="tns:ArrayOfPersonLevelTimeEntriesHistory" />
  <xs:complexType name="PersonLevelTimeEntriesHistory">
    <xs:sequence>
      <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="Person" nillable="true" type="q14:Person" />
      <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/DataTransferObjects.TimeEntry" minOccurs="0" name="TimeEntryRecords" nillable="true" type="q15:ArrayOfTimeEntryRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonLevelTimeEntriesHistory" nillable="true" type="tns:PersonLevelTimeEntriesHistory" />
  <xs:complexType name="ArrayOfProjectLevelTimeEntriesHistory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProjectLevelTimeEntriesHistory" nillable="true" type="tns:ProjectLevelTimeEntriesHistory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProjectLevelTimeEntriesHistory" nillable="true" type="tns:ArrayOfProjectLevelTimeEntriesHistory" />
  <xs:complexType name="ProjectLevelTimeEntriesHistory">
    <xs:sequence>
      <xs:element minOccurs="0" name="PersonLevelTimeEntries" nillable="true" type="tns:ArrayOfPersonLevelTimeEntriesHistory" />
      <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="Project" nillable="true" type="q16:Project" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProjectLevelTimeEntriesHistory" nillable="true" type="tns:ProjectLevelTimeEntriesHistory" />
</xs:schema>
