PracticeManagement/PracticeManagement/Service References/ReportService/ReportService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3262/ReportService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.Reports" />
  <xs:import schemaLocation="http://localhost:3262/ReportService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects" />
  <xs:import schemaLocation="http://localhost:3262/ReportService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.Reports.ByAccount" />
  <xs:import schemaLocation="http://localhost:3262/ReportService.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.Reports.HumanCapital" />
  <xs:import schemaLocation="http://localhost:3262/ReportService.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.Reports.ConsultingDemand" />
  <xs:import schemaLocation="http://localhost:3262/ReportService.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="AttainmentBillableutlizationReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AttainmentBillableutlizationReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataTransferObjects.Reports" minOccurs="0" name="AttainmentBillableutlizationReportResult" nillable="true" type="q1:ArrayOfAttainmentBillableutlizationReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttainmentProjectListMultiParameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientIds" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="showProjected" type="xs:boolean" />
        <xs:element minOccurs="0" name="showCompleted" type="xs:boolean" />
        <xs:element minOccurs="0" name="showActive" type="xs:boolean" />
        <xs:element minOccurs="0" name="showInternal" type="xs:boolean" />
        <xs:element minOccurs="0" name="showExperimental" type="xs:boolean" />
        <xs:element minOccurs="0" name="showProposed" type="xs:boolean" />
        <xs:element minOccurs="0" name="showInactive" type="xs:boolean" />
        <xs:element minOccurs="0" name="periodStart" type="xs:dateTime" />
        <xs:element minOccurs="0" name="periodEnd" type="xs:dateTime" />
        <xs:element minOccurs="0" name="salespersonIdsList" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="practiceManagerIdsList" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="practiceIdsList" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="projectGroupIdsList" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="includeCurentYearFinancials" type="q2:ProjectCalculateRangeType" />
        <xs:element minOccurs="0" name="excludeInternalPractices" type="xs:boolean" />
        <xs:element minOccurs="0" name="userLogin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IsMonthsColoumnsShown" type="xs:boolean" />
        <xs:element minOccurs="0" name="IsQuarterColoumnsShown" type="xs:boolean" />
        <xs:element minOccurs="0" name="IsYearToDateColoumnsShown" type="xs:boolean" />
        <xs:element minOccurs="0" name="getFinancialsFromCache" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttainmentProjectListMultiParametersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetAttainmentProjectListMultiParametersResult" nillable="true" type="q3:ArrayOfProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProjectAttributionReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProjectAttributionReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="ProjectAttributionReportResult" nillable="true" type="q4:ArrayOfProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ZeroHourlyRateExceptionReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ZeroHourlyRateExceptionReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DataTransferObjects.Reports" minOccurs="0" name="ZeroHourlyRateExceptionReportResult" nillable="true" type="q5:ArrayOfResourceExceptionReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResourceAssignedOrUnassignedChargingExceptionReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="isUnassignedReport" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResourceAssignedOrUnassignedChargingExceptionReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DataTransferObjects.Reports" minOccurs="0" name="ResourceAssignedOrUnassignedChargingExceptionReportResult" nillable="true" type="q6:ArrayOfResourceExceptionReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecruitingMetricsReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecruitingMetricsReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="RecruitingMetricsReportResult" nillable="true" type="q7:ArrayOfPerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProjectFeedbackReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountIds" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="businessGroupIds" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="projectStatus" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="projectIds" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="directorIds" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="practiceIds" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="excludeInternalPractices" type="xs:boolean" />
        <xs:element minOccurs="0" name="personIds" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="titleIds" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reviewStartdateMonths" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reviewEnddateMonths" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="projectmanagerIds" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="statusIds" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isExport" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProjectFeedbackReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="ProjectFeedbackReportResult" nillable="true" type="q8:ArrayOfProjectFeedback" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BillingReportByCurrency">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="practiceIds" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="accountIds" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="businessUnitIds" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="directorIds" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="salesPersonIds" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="projectManagerIds" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="seniorManagerIds" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BillingReportByCurrencyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/DataTransferObjects.Reports" minOccurs="0" name="BillingReportByCurrencyResult" nillable="true" type="q9:ArrayOfBillingReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BillingReportByHours">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="practiceIds" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="accountIds" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="businessUnitIds" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="directorIds" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="salesPersonIds" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="projectManagerIds" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="seniorManagerIds" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BillingReportByHoursResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/DataTransferObjects.Reports" minOccurs="0" name="BillingReportByHoursResult" nillable="true" type="q10:ArrayOfBillingReport" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonTimeEntriesDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="personId" type="xs:int" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonTimeEntriesDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/DataTransferObjects.Reports" minOccurs="0" name="PersonTimeEntriesDetailsResult" nillable="true" type="q11:ArrayOfTimeEntriesGroupByClientAndProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonTimeEntriesSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="personId" type="xs:int" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonTimeEntriesSummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/DataTransferObjects.Reports" minOccurs="0" name="PersonTimeEntriesSummaryResult" nillable="true" type="q12:ArrayOfTimeEntriesGroupByClientAndProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonTimeEntriesTotalsByPeriod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="personId" type="xs:int" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonTimeEntriesTotalsByPeriodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/DataTransferObjects.Reports" minOccurs="0" name="GetPersonTimeEntriesTotalsByPeriodResult" nillable="true" type="q13:PersonTimeEntriesTotals" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimePeriodSummaryReportByResource">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="includePersonsWithNoTimeEntries" type="xs:boolean" />
        <xs:element minOccurs="0" name="personIds" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="titleIds" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="timescaleNames" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="personStatusIds" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="personDivisionIds" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimePeriodSummaryReportByResourceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/DataTransferObjects.Reports" minOccurs="0" name="TimePeriodSummaryReportByResourceResult" nillable="true" type="q14:ArrayOfPersonLevelGroupedHours" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimePeriodSummaryReportByProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="clientIds" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="personStatusIds" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimePeriodSummaryReportByProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/DataTransferObjects.Reports" minOccurs="0" name="TimePeriodSummaryReportByProjectResult" nillable="true" type="q15:ArrayOfProjectLevelGroupedHours" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimePeriodSummaryReportByWorkType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimePeriodSummaryReportByWorkTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/DataTransferObjects.Reports" minOccurs="0" name="TimePeriodSummaryReportByWorkTypeResult" nillable="true" type="q16:ArrayOfWorkTypeLevelGroupedHours" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProjectSummaryReportByResource">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mileStoneId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="personRoleNames" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProjectSummaryReportByResourceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/DataTransferObjects.Reports" minOccurs="0" name="ProjectSummaryReportByResourceResult" nillable="true" type="q17:ArrayOfPersonLevelGroupedHours" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProjectDetailReportByResource">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mileStoneId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="personRoleNames" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProjectDetailReportByResourceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/DataTransferObjects.Reports" minOccurs="0" name="ProjectDetailReportByResourceResult" nillable="true" type="q18:ArrayOfPersonLevelGroupedHours" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProjectSummaryReportByWorkType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mileStoneId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="categoryNames" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProjectSummaryReportByWorkTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/DataTransferObjects.Reports" minOccurs="0" name="ProjectSummaryReportByWorkTypeResult" nillable="true" type="q19:ArrayOfWorkTypeLevelGroupedHours" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectsByClientId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectsByClientIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetProjectsByClientIdResult" nillable="true" type="q20:ArrayOfProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProjectSearchByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProjectSearchByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="ProjectSearchByNameResult" nillable="true" type="q21:ArrayOfProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMilestonesForProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMilestonesForProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetMilestonesForProjectResult" nillable="true" type="q22:ArrayOfMilestone" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimePeriodSummaryByResourcePayCheck">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="includePersonsWithNoTimeEntries" type="xs:boolean" />
        <xs:element minOccurs="0" name="personIds" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="titleIds" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="timescaleNames" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="personStatusIds" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="personDivisionIds" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimePeriodSummaryByResourcePayCheckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/DataTransferObjects.Reports" minOccurs="0" name="TimePeriodSummaryByResourcePayCheckResult" nillable="true" type="q23:ArrayOfPersonLevelPayCheck" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimeEntryAuditReportByPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimeEntryAuditReportByPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/DataTransferObjects.Reports" minOccurs="0" name="TimeEntryAuditReportByPersonResult" nillable="true" type="q24:ArrayOfPersonLevelTimeEntriesHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimeEntryAuditReportByProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimeEntryAuditReportByProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/DataTransferObjects.Reports" minOccurs="0" name="TimeEntryAuditReportByProjectResult" nillable="true" type="q25:ArrayOfProjectLevelTimeEntriesHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountSummaryReportByBusinessUnit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientDirectorId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="accountIds" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="businessUnitIds" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="projectStatusIds" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountSummaryReportByBusinessUnitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/DataTransferObjects.Reports.ByAccount" minOccurs="0" name="AccountSummaryReportByBusinessUnitResult" nillable="true" type="q26:ArrayOfGroupByAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountSummaryReportByProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="directorId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="accountIds" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="businessUnitIds" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="projectStatusIds" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="projectBillingTypes" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountSummaryReportByProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/DataTransferObjects.Reports.ByAccount" minOccurs="0" name="AccountSummaryReportByProjectResult" nillable="true" type="q27:ArrayOfGroupByAccount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountReportGroupByBusinessUnit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountIds" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="businessUnitIds" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountReportGroupByBusinessUnitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/DataTransferObjects.Reports.ByAccount" minOccurs="0" name="AccountReportGroupByBusinessUnitResult" nillable="true" type="q28:ArrayOfBusinessUnitLevelGroupedHours" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountReportGroupByPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountIds" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="businessUnitIds" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountReportGroupByPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/DataTransferObjects.Reports.ByAccount" minOccurs="0" name="AccountReportGroupByPersonResult" nillable="true" type="q29:ArrayOfGroupByPerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewHireReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="personStatusIds" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="payTypeIds" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="practiceIds" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="excludeInternalPractices" type="xs:boolean" />
        <xs:element minOccurs="0" name="personDivisionIds" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="titleIds" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hireDates" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="recruiterIds" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewHireReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="NewHireReportResult" nillable="true" type="q30:ArrayOfPerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TerminationReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="payTypeIds" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="personStatusIds" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="titleIds" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="terminationReasonIds" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="practiceIds" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="excludeInternalPractices" type="xs:boolean" />
        <xs:element minOccurs="0" name="personDivisionIds" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="recruiterIds" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hireDates" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="terminationDates" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TerminationReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/DataTransferObjects.Reports.HumanCapital" minOccurs="0" name="TerminationReportResult" nillable="true" type="q31:TerminationPersonsInRange" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TerminationReportGraph">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TerminationReportGraphResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/DataTransferObjects.Reports.HumanCapital" minOccurs="0" name="TerminationReportGraphResult" nillable="true" type="q32:ArrayOfTerminationPersonsInRange" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultingDemandSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="titles" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="skills" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultingDemandSummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/DataTransferObjects.Reports.ConsultingDemand" minOccurs="0" name="ConsultingDemandSummaryResult" nillable="true" type="q33:ArrayOfConsultantGroupbyTitleSkill" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultingDemandDetailsByTitleSkill">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="titles" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="skills" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sortColumns" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultingDemandDetailsByTitleSkillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/DataTransferObjects.Reports.ConsultingDemand" minOccurs="0" name="ConsultingDemandDetailsByTitleSkillResult" nillable="true" type="q34:ArrayOfConsultantGroupbyTitleSkill" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultingDemandDetailsBySalesStage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="titles" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="skills" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sortColumns" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultingDemandDetailsBySalesStageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/DataTransferObjects.Reports.ConsultingDemand" minOccurs="0" name="ConsultingDemandDetailsBySalesStageResult" nillable="true" type="q35:ArrayOfConsultantGroupBySalesStage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultingDemandDetailsByMonth">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="titles" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="skills" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="salesStages" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sortColumns" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isFromPipeLinePopUp" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultingDemandDetailsByMonthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/DataTransferObjects.Reports.ConsultingDemand" minOccurs="0" name="ConsultingDemandDetailsByMonthResult" nillable="true" type="q36:ArrayOfConsultantGroupByMonth" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultingDemandGraphsByTitle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="salesStages" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultingDemandGraphsByTitleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ConsultingDemandGraphsByTitleResult" nillable="true" type="q37:ArrayOfKeyValueOfstringint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultingDemandGraphsBySkills">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Skill" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="salesStages" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultingDemandGraphsBySkillsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ConsultingDemandGraphsBySkillsResult" nillable="true" type="q38:ArrayOfKeyValueOfstringint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultingDemandTransactionReportByTitle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sortColumns" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="salesStages" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultingDemandTransactionReportByTitleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/DataTransferObjects.Reports.ConsultingDemand" minOccurs="0" name="ConsultingDemandTransactionReportByTitleResult" nillable="true" type="q39:ArrayOfConsultantGroupbyTitle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultingDemandTransactionReportBySkill">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Skill" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sortColumns" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="salesStages" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultingDemandTransactionReportBySkillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/DataTransferObjects.Reports.ConsultingDemand" minOccurs="0" name="ConsultingDemandTransactionReportBySkillResult" nillable="true" type="q40:ArrayOfConsultantGroupbySkill" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultingDemandGrphsGroupsByTitle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="salesStages" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultingDemandGrphsGroupsByTitleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ConsultingDemandGrphsGroupsByTitleResult" nillable="true" type="q41:ArrayOfKeyValueOfstringint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultingDemandGrphsGroupsBySkill">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="salesStages" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultingDemandGrphsGroupsBySkillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ConsultingDemandGrphsGroupsBySkillResult" nillable="true" type="q42:ArrayOfKeyValueOfstringint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
