PracticeManagement/PracticeManagement/Service References/TitleService/TitleService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataTransferObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataTransferObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Title">
    <xs:sequence>
      <xs:element minOccurs="0" name="InUse" type="xs:boolean" />
      <xs:element minOccurs="0" name="MaximumSalary" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MinimumSalary" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PTOAccrual" type="xs:int" />
      <xs:element minOccurs="0" name="SortOrder" type="xs:int" />
      <xs:element minOccurs="0" name="TitleId" type="xs:int" />
      <xs:element minOccurs="0" name="TitleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TitleType" nillable="true" type="tns:TitleType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Title" nillable="true" type="tns:Title" />
  <xs:complexType name="TitleType">
    <xs:sequence>
      <xs:element minOccurs="0" name="TitleTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="TitleTypeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TitleType" nillable="true" type="tns:TitleType" />
  <xs:complexType name="ArrayOfTitle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Title" nillable="true" type="tns:Title" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTitle" nillable="true" type="tns:ArrayOfTitle" />
  <xs:complexType name="ArrayOfTitleType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TitleType" nillable="true" type="tns:TitleType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTitleType" nillable="true" type="tns:ArrayOfTitleType" />
</xs:schema>
