PracticeManagement/PracticeManagement/Service References/TitleService/TitleService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TitleService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3262/TitleService.svc?xsd=xsd2" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3262/TitleService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3262/TitleService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITitleService_GetAllTitles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTitles" />
  </wsdl:message>
  <wsdl:message name="ITitleService_GetAllTitles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTitlesResponse" />
  </wsdl:message>
  <wsdl:message name="ITitleService_GetTitleTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTitleTypes" />
  </wsdl:message>
  <wsdl:message name="ITitleService_GetTitleTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTitleTypesResponse" />
  </wsdl:message>
  <wsdl:message name="ITitleService_GetTitleById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTitleById" />
  </wsdl:message>
  <wsdl:message name="ITitleService_GetTitleById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTitleByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ITitleService_TitleInset_InputMessage">
    <wsdl:part name="parameters" element="tns:TitleInset" />
  </wsdl:message>
  <wsdl:message name="ITitleService_TitleInset_OutputMessage">
    <wsdl:part name="parameters" element="tns:TitleInsetResponse" />
  </wsdl:message>
  <wsdl:message name="ITitleService_TitleUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:TitleUpdate" />
  </wsdl:message>
  <wsdl:message name="ITitleService_TitleUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:TitleUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="ITitleService_TitleDelete_InputMessage">
    <wsdl:part name="parameters" element="tns:TitleDelete" />
  </wsdl:message>
  <wsdl:message name="ITitleService_TitleDelete_OutputMessage">
    <wsdl:part name="parameters" element="tns:TitleDeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="ITitleService">
    <wsdl:operation name="GetAllTitles">
      <wsdl:input wsaw:Action="http://tempuri.org/ITitleService/GetAllTitles" message="tns:ITitleService_GetAllTitles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITitleService/GetAllTitlesResponse" message="tns:ITitleService_GetAllTitles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTitleTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/ITitleService/GetTitleTypes" message="tns:ITitleService_GetTitleTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITitleService/GetTitleTypesResponse" message="tns:ITitleService_GetTitleTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTitleById">
      <wsdl:input wsaw:Action="http://tempuri.org/ITitleService/GetTitleById" message="tns:ITitleService_GetTitleById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITitleService/GetTitleByIdResponse" message="tns:ITitleService_GetTitleById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TitleInset">
      <wsdl:input wsaw:Action="http://tempuri.org/ITitleService/TitleInset" message="tns:ITitleService_TitleInset_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITitleService/TitleInsetResponse" message="tns:ITitleService_TitleInset_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TitleUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/ITitleService/TitleUpdate" message="tns:ITitleService_TitleUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITitleService/TitleUpdateResponse" message="tns:ITitleService_TitleUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TitleDelete">
      <wsdl:input wsaw:Action="http://tempuri.org/ITitleService/TitleDelete" message="tns:ITitleService_TitleDelete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITitleService/TitleDeleteResponse" message="tns:ITitleService_TitleDelete_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITitleService" type="tns:ITitleService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllTitles">
      <soap:operation soapAction="http://tempuri.org/ITitleService/GetAllTitles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTitleTypes">
      <soap:operation soapAction="http://tempuri.org/ITitleService/GetTitleTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTitleById">
      <soap:operation soapAction="http://tempuri.org/ITitleService/GetTitleById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TitleInset">
      <soap:operation soapAction="http://tempuri.org/ITitleService/TitleInset" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TitleUpdate">
      <soap:operation soapAction="http://tempuri.org/ITitleService/TitleUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TitleDelete">
      <soap:operation soapAction="http://tempuri.org/ITitleService/TitleDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TitleService">
    <wsdl:port name="BasicHttpBinding_ITitleService" binding="tns:BasicHttpBinding_ITitleService">
      <soap:address location="http://localhost:3262/TitleService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
