PracticeManagement/PracticeManagement/Service References/TimescaleService/TimescaleService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataTransferObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataTransferObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Timescale">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimescaleCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Timescale" nillable="true" type="tns:Timescale" />
  <xs:simpleType name="TimescaleType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Undefined" />
      <xs:enumeration value="Hourly" />
      <xs:enumeration value="Salary" />
      <xs:enumeration value="_1099Ctc" />
      <xs:enumeration value="PercRevenue" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TimescaleType" nillable="true" type="tns:TimescaleType" />
  <xs:complexType name="ArrayOfTimescale">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Timescale" nillable="true" type="tns:Timescale" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTimescale" nillable="true" type="tns:ArrayOfTimescale" />
</xs:schema>
