PracticeManagement/PracticeManagement/Service References/PersonStatusService/PersonStatusService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataTransferObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataTransferObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPersonStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonStatus" nillable="true" type="tns:PersonStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonStatus" nillable="true" type="tns:ArrayOfPersonStatus" />
  <xs:complexType name="PersonStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonStatus" nillable="true" type="tns:PersonStatus" />
</xs:schema>
