PracticeManagement/PracticeManagement/Service References/MilestonePersonService/MilestonePersonService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://xpanatoliyl.eq.local/PracticeManagementService/MilestonePersonService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects" />
  <xs:element name="GetMilestonePersonListByProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMilestonePersonListByProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetMilestonePersonListByProjectResult" nillable="true" type="q1:ArrayOfMilestonePerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMilestonePersonListByMilestone">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="milestoneId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMilestonePersonListByMilestoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetMilestonePersonListByMilestoneResult" nillable="true" type="q2:ArrayOfMilestonePerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMilestonePersonListByPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="personId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMilestonePersonListByPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetMilestonePersonListByPersonResult" nillable="true" type="q3:ArrayOfMilestonePerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMilestonePersonDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="milestonePersonId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMilestonePersonDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetMilestonePersonDetailResult" nillable="true" type="q4:MilestonePerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveMilestonePerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="milestonePerson" nillable="true" type="q5:MilestonePerson" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveMilestonePersonResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMilestonePerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="milestonePerson" nillable="true" type="q6:MilestonePerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMilestonePersonResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>
