PracticeManagement/PracticeManagement/Service References/MilestonePersonService/MilestonePersonService19.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataTransferObjects.Financials" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.Financials" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://system66.ggk.com/PracticeManagementService/MilestonePersonService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects" />
  <xs:complexType name="MilestonePersonComputedFinancials">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ComputedFinancialsBase">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GrossHourlyBillRate" type="q1:PracticeManagementCurrency" />
          <xs:element minOccurs="0" name="HoursInPeriod" type="xs:decimal" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="LoadedHourlyPayRate" type="q2:PracticeManagementCurrency" />
          <xs:element minOccurs="0" name="ProjectDiscount" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MilestonePersonComputedFinancials" nillable="true" type="tns:MilestonePersonComputedFinancials" />
  <xs:complexType name="ComputedFinancialsBase">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="ComputedFinancialsBase" nillable="true" type="tns:ComputedFinancialsBase" />
</xs:schema>
