PracticeManagement/PracticeManagement/Service References/MilestonePersonService/MilestonePersonService9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataTransferObjects.ContextObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.ContextObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ConsultantMilestonesContext">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IncludeActiveProjects" type="xs:boolean" />
      <xs:element minOccurs="0" name="IncludeCompletedProjects" type="xs:boolean" />
      <xs:element minOccurs="0" name="IncludeDefaultMileStone" type="xs:boolean" />
      <xs:element minOccurs="0" name="IncludeExperimentalProjects" type="xs:boolean" />
      <xs:element minOccurs="0" name="IncludeInactiveProjects" type="xs:boolean" />
      <xs:element minOccurs="0" name="IncludeInternalProjects" type="xs:boolean" />
      <xs:element minOccurs="0" name="IncludeProjectedProjects" type="xs:boolean" />
      <xs:element minOccurs="0" name="PersonId" type="xs:int" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultantMilestonesContext" nillable="true" type="tns:ConsultantMilestonesContext" />
</xs:schema>
