PracticeManagement/PracticeManagement/Service References/MilestonePersonService/MilestonePersonService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MilestonePersonService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://ggku3sys280.ggktech.local/PracticemanagementService/MilestonePersonService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://ggku3sys280.ggktech.local/PracticemanagementService/MilestonePersonService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://ggku3sys280.ggktech.local/PracticemanagementService/MilestonePersonService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects" />
      <xsd:import schemaLocation="http://ggku3sys280.ggktech.local/PracticemanagementService/MilestonePersonService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.Financials" />
      <xsd:import schemaLocation="http://ggku3sys280.ggktech.local/PracticemanagementService/MilestonePersonService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://ggku3sys280.ggktech.local/PracticemanagementService/MilestonePersonService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.CornerStone" />
      <xsd:import schemaLocation="http://ggku3sys280.ggktech.local/PracticemanagementService/MilestonePersonService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.Skills" />
      <xsd:import schemaLocation="http://ggku3sys280.ggktech.local/PracticemanagementService/MilestonePersonService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.TimeEntry" />
      <xsd:import schemaLocation="http://ggku3sys280.ggktech.local/PracticemanagementService/MilestonePersonService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.ContextObjects" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMilestonePersonService_GetMilestonePersonListByProject_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMilestonePersonListByProject" />
  </wsdl:message>
  <wsdl:message name="IMilestonePersonService_GetMilestonePersonListByProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMilestonePersonListByProjectResponse" />
  </wsdl:message>
  <wsdl:message name="IMilestonePersonService_GetMilestonePersonListByProjectWithoutPay_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMilestonePersonListByProjectWithoutPay" />
  </wsdl:message>
  <wsdl:message name="IMilestonePersonService_GetMilestonePersonListByProjectWithoutPay_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMilestonePersonListByProjectWithoutPayResponse" />
  </wsdl:message>
  <wsdl:message name="IMilestonePersonService_GetConsultantMilestones_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConsultantMilestones" />
  </wsdl:message>
  <wsdl:message name="IMilestonePersonService_GetConsultantMilestones_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConsultantMilestonesResponse" />
  </wsdl:message>
  <wsdl:message name="IMilestonePersonService_GetMilestonePersonListByMilestone_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMilestonePersonListByMilestone" />
  </wsdl:message>
  <wsdl:message name="IMilestonePersonService_GetMilestonePersonListByMilestone_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMilestonePersonListByMilestoneResponse" />
  </wsdl:message>
  <wsdl:message name="IMilestonePersonService_GetMilestonePersonDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMilestonePersonDetail" />
  </wsdl:message>
  <wsdl:message name="IMilestonePersonService_GetMilestonePersonDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMilestonePersonDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IMilestonePersonService_CheckTimeEntriesForMilestonePerson_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckTimeEntriesForMilestonePerson" />
  </wsdl:message>
  <wsdl:message name="IMilestonePersonService_CheckTimeEntriesForMilestonePerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckTimeEntriesForMilestonePersonResponse" />
  </wsdl:message>
  <wsdl:message name="IMilestonePersonService_CheckTimeEntriesForMilestonePersonWithGivenRoleId_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckTimeEntriesForMilestonePersonWithGivenRoleId" />
  </wsdl:message>
  <wsdl:message name="IMilestonePersonService_CheckTimeEntriesForMilestonePersonWithGivenRoleId_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckTimeEntriesForMilestonePersonWithGivenRoleIdResponse" />
  </wsdl:message>
  <wsdl:message name="IMilestonePersonService_SaveMilestonePerson_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveMilestonePerson" />
  </wsdl:message>
  <wsdl:message name="IMilestonePersonService_SaveMilestonePerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveMilestonePersonResponse" />
  </wsdl:message>
  <wsdl:message name="IMilestonePersonService_SaveMilestonePersons_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveMilestonePersons" />
  </wsdl:message>
  <wsdl:message name="IMilestonePersonService_SaveMilestonePersons_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveMilestonePersonsResponse" />
  </wsdl:message>
  <wsdl:message name="IMilestonePersonService_DeleteMilestonePerson_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMilestonePerson" />
  </wsdl:message>
  <wsdl:message name="IMilestonePersonService_DeleteMilestonePerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMilestonePersonResponse" />
  </wsdl:message>
  <wsdl:message name="IMilestonePersonService_GetMilestonePersonListByMilestoneNoFinancials_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMilestonePersonListByMilestoneNoFinancials" />
  </wsdl:message>
  <wsdl:message name="IMilestonePersonService_GetMilestonePersonListByMilestoneNoFinancials_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMilestonePersonListByMilestoneNoFinancialsResponse" />
  </wsdl:message>
  <wsdl:message name="IMilestonePersonService_MilestonePersonsByMilestoneForTEByProject_InputMessage">
    <wsdl:part name="parameters" element="tns:MilestonePersonsByMilestoneForTEByProject" />
  </wsdl:message>
  <wsdl:message name="IMilestonePersonService_MilestonePersonsByMilestoneForTEByProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:MilestonePersonsByMilestoneForTEByProjectResponse" />
  </wsdl:message>
  <wsdl:message name="IMilestonePersonService_CalculateMilestonePersonFinancials_InputMessage">
    <wsdl:part name="parameters" element="tns:CalculateMilestonePersonFinancials" />
  </wsdl:message>
  <wsdl:message name="IMilestonePersonService_CalculateMilestonePersonFinancials_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalculateMilestonePersonFinancialsResponse" />
  </wsdl:message>
  <wsdl:message name="IMilestonePersonService_GetMilestonePersonsDetailsByMileStoneId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMilestonePersonsDetailsByMileStoneId" />
  </wsdl:message>
  <wsdl:message name="IMilestonePersonService_GetMilestonePersonsDetailsByMileStoneId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMilestonePersonsDetailsByMileStoneIdResponse" />
  </wsdl:message>
  <wsdl:message name="IMilestonePersonService_DeleteMilestonePersonEntry_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMilestonePersonEntry" />
  </wsdl:message>
  <wsdl:message name="IMilestonePersonService_DeleteMilestonePersonEntry_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMilestonePersonEntryResponse" />
  </wsdl:message>
  <wsdl:message name="IMilestonePersonService_UpdateMilestonePersonEntry_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMilestonePersonEntry" />
  </wsdl:message>
  <wsdl:message name="IMilestonePersonService_UpdateMilestonePersonEntry_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMilestonePersonEntryResponse" />
  </wsdl:message>
  <wsdl:message name="IMilestonePersonService_MilestonePersonEntryInsert_InputMessage">
    <wsdl:part name="parameters" element="tns:MilestonePersonEntryInsert" />
  </wsdl:message>
  <wsdl:message name="IMilestonePersonService_MilestonePersonEntryInsert_OutputMessage">
    <wsdl:part name="parameters" element="tns:MilestonePersonEntryInsertResponse" />
  </wsdl:message>
  <wsdl:message name="IMilestonePersonService_MilestonePersonAndEntryInsert_InputMessage">
    <wsdl:part name="parameters" element="tns:MilestonePersonAndEntryInsert" />
  </wsdl:message>
  <wsdl:message name="IMilestonePersonService_MilestonePersonAndEntryInsert_OutputMessage">
    <wsdl:part name="parameters" element="tns:MilestonePersonAndEntryInsertResponse" />
  </wsdl:message>
  <wsdl:message name="IMilestonePersonService_GetMilestonePersonEntry_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMilestonePersonEntry" />
  </wsdl:message>
  <wsdl:message name="IMilestonePersonService_GetMilestonePersonEntry_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMilestonePersonEntryResponse" />
  </wsdl:message>
  <wsdl:message name="IMilestonePersonService_IsPersonAlreadyAddedtoMilestone_InputMessage">
    <wsdl:part name="parameters" element="tns:IsPersonAlreadyAddedtoMilestone" />
  </wsdl:message>
  <wsdl:message name="IMilestonePersonService_IsPersonAlreadyAddedtoMilestone_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsPersonAlreadyAddedtoMilestoneResponse" />
  </wsdl:message>
  <wsdl:message name="IMilestonePersonService_MilestoneResourceUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:MilestoneResourceUpdate" />
  </wsdl:message>
  <wsdl:message name="IMilestonePersonService_MilestoneResourceUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:MilestoneResourceUpdateResponse" />
  </wsdl:message>
  <wsdl:portType name="IMilestonePersonService">
    <wsdl:operation name="GetMilestonePersonListByProject">
      <wsdl:input wsaw:Action="http://tempuri.org/IMilestonePersonService/GetMilestonePersonListByProject" message="tns:IMilestonePersonService_GetMilestonePersonListByProject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMilestonePersonService/GetMilestonePersonListByProjectResponse" message="tns:IMilestonePersonService_GetMilestonePersonListByProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMilestonePersonListByProjectWithoutPay">
      <wsdl:input wsaw:Action="http://tempuri.org/IMilestonePersonService/GetMilestonePersonListByProjectWithoutPay" message="tns:IMilestonePersonService_GetMilestonePersonListByProjectWithoutPay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMilestonePersonService/GetMilestonePersonListByProjectWithoutPayResponse" message="tns:IMilestonePersonService_GetMilestonePersonListByProjectWithoutPay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConsultantMilestones">
      <wsdl:input wsaw:Action="http://tempuri.org/IMilestonePersonService/GetConsultantMilestones" message="tns:IMilestonePersonService_GetConsultantMilestones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMilestonePersonService/GetConsultantMilestonesResponse" message="tns:IMilestonePersonService_GetConsultantMilestones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMilestonePersonListByMilestone">
      <wsdl:input wsaw:Action="http://tempuri.org/IMilestonePersonService/GetMilestonePersonListByMilestone" message="tns:IMilestonePersonService_GetMilestonePersonListByMilestone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMilestonePersonService/GetMilestonePersonListByMilestoneResponse" message="tns:IMilestonePersonService_GetMilestonePersonListByMilestone_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMilestonePersonDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IMilestonePersonService/GetMilestonePersonDetail" message="tns:IMilestonePersonService_GetMilestonePersonDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMilestonePersonService/GetMilestonePersonDetailResponse" message="tns:IMilestonePersonService_GetMilestonePersonDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckTimeEntriesForMilestonePerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IMilestonePersonService/CheckTimeEntriesForMilestonePerson" message="tns:IMilestonePersonService_CheckTimeEntriesForMilestonePerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMilestonePersonService/CheckTimeEntriesForMilestonePersonResponse" message="tns:IMilestonePersonService_CheckTimeEntriesForMilestonePerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckTimeEntriesForMilestonePersonWithGivenRoleId">
      <wsdl:input wsaw:Action="http://tempuri.org/IMilestonePersonService/CheckTimeEntriesForMilestonePersonWithGivenRoleId" message="tns:IMilestonePersonService_CheckTimeEntriesForMilestonePersonWithGivenRoleId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMilestonePersonService/CheckTimeEntriesForMilestonePersonWithGivenRoleIdResponse" message="tns:IMilestonePersonService_CheckTimeEntriesForMilestonePersonWithGivenRoleId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveMilestonePerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IMilestonePersonService/SaveMilestonePerson" message="tns:IMilestonePersonService_SaveMilestonePerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMilestonePersonService/SaveMilestonePersonResponse" message="tns:IMilestonePersonService_SaveMilestonePerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveMilestonePersons">
      <wsdl:input wsaw:Action="http://tempuri.org/IMilestonePersonService/SaveMilestonePersons" message="tns:IMilestonePersonService_SaveMilestonePersons_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMilestonePersonService/SaveMilestonePersonsResponse" message="tns:IMilestonePersonService_SaveMilestonePersons_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMilestonePerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IMilestonePersonService/DeleteMilestonePerson" message="tns:IMilestonePersonService_DeleteMilestonePerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMilestonePersonService/DeleteMilestonePersonResponse" message="tns:IMilestonePersonService_DeleteMilestonePerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMilestonePersonListByMilestoneNoFinancials">
      <wsdl:input wsaw:Action="http://tempuri.org/IMilestonePersonService/GetMilestonePersonListByMilestoneNoFinancials" message="tns:IMilestonePersonService_GetMilestonePersonListByMilestoneNoFinancials_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMilestonePersonService/GetMilestonePersonListByMilestoneNoFinancialsResponse" message="tns:IMilestonePersonService_GetMilestonePersonListByMilestoneNoFinancials_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MilestonePersonsByMilestoneForTEByProject">
      <wsdl:input wsaw:Action="http://tempuri.org/IMilestonePersonService/MilestonePersonsByMilestoneForTEByProject" message="tns:IMilestonePersonService_MilestonePersonsByMilestoneForTEByProject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMilestonePersonService/MilestonePersonsByMilestoneForTEByProjectResponse" message="tns:IMilestonePersonService_MilestonePersonsByMilestoneForTEByProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CalculateMilestonePersonFinancials">
      <wsdl:input wsaw:Action="http://tempuri.org/IMilestonePersonService/CalculateMilestonePersonFinancials" message="tns:IMilestonePersonService_CalculateMilestonePersonFinancials_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMilestonePersonService/CalculateMilestonePersonFinancialsResponse" message="tns:IMilestonePersonService_CalculateMilestonePersonFinancials_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMilestonePersonsDetailsByMileStoneId">
      <wsdl:input wsaw:Action="http://tempuri.org/IMilestonePersonService/GetMilestonePersonsDetailsByMileStoneId" message="tns:IMilestonePersonService_GetMilestonePersonsDetailsByMileStoneId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMilestonePersonService/GetMilestonePersonsDetailsByMileStoneIdResponse" message="tns:IMilestonePersonService_GetMilestonePersonsDetailsByMileStoneId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMilestonePersonEntry">
      <wsdl:input wsaw:Action="http://tempuri.org/IMilestonePersonService/DeleteMilestonePersonEntry" message="tns:IMilestonePersonService_DeleteMilestonePersonEntry_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMilestonePersonService/DeleteMilestonePersonEntryResponse" message="tns:IMilestonePersonService_DeleteMilestonePersonEntry_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMilestonePersonEntry">
      <wsdl:input wsaw:Action="http://tempuri.org/IMilestonePersonService/UpdateMilestonePersonEntry" message="tns:IMilestonePersonService_UpdateMilestonePersonEntry_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMilestonePersonService/UpdateMilestonePersonEntryResponse" message="tns:IMilestonePersonService_UpdateMilestonePersonEntry_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MilestonePersonEntryInsert">
      <wsdl:input wsaw:Action="http://tempuri.org/IMilestonePersonService/MilestonePersonEntryInsert" message="tns:IMilestonePersonService_MilestonePersonEntryInsert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMilestonePersonService/MilestonePersonEntryInsertResponse" message="tns:IMilestonePersonService_MilestonePersonEntryInsert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MilestonePersonAndEntryInsert">
      <wsdl:input wsaw:Action="http://tempuri.org/IMilestonePersonService/MilestonePersonAndEntryInsert" message="tns:IMilestonePersonService_MilestonePersonAndEntryInsert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMilestonePersonService/MilestonePersonAndEntryInsertResponse" message="tns:IMilestonePersonService_MilestonePersonAndEntryInsert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMilestonePersonEntry">
      <wsdl:input wsaw:Action="http://tempuri.org/IMilestonePersonService/GetMilestonePersonEntry" message="tns:IMilestonePersonService_GetMilestonePersonEntry_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMilestonePersonService/GetMilestonePersonEntryResponse" message="tns:IMilestonePersonService_GetMilestonePersonEntry_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsPersonAlreadyAddedtoMilestone">
      <wsdl:input wsaw:Action="http://tempuri.org/IMilestonePersonService/IsPersonAlreadyAddedtoMilestone" message="tns:IMilestonePersonService_IsPersonAlreadyAddedtoMilestone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMilestonePersonService/IsPersonAlreadyAddedtoMilestoneResponse" message="tns:IMilestonePersonService_IsPersonAlreadyAddedtoMilestone_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MilestoneResourceUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IMilestonePersonService/MilestoneResourceUpdate" message="tns:IMilestonePersonService_MilestoneResourceUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMilestonePersonService/MilestoneResourceUpdateResponse" message="tns:IMilestonePersonService_MilestoneResourceUpdate_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMilestonePersonService" type="tns:IMilestonePersonService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMilestonePersonListByProject">
      <soap:operation soapAction="http://tempuri.org/IMilestonePersonService/GetMilestonePersonListByProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMilestonePersonListByProjectWithoutPay">
      <soap:operation soapAction="http://tempuri.org/IMilestonePersonService/GetMilestonePersonListByProjectWithoutPay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConsultantMilestones">
      <soap:operation soapAction="http://tempuri.org/IMilestonePersonService/GetConsultantMilestones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMilestonePersonListByMilestone">
      <soap:operation soapAction="http://tempuri.org/IMilestonePersonService/GetMilestonePersonListByMilestone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMilestonePersonDetail">
      <soap:operation soapAction="http://tempuri.org/IMilestonePersonService/GetMilestonePersonDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckTimeEntriesForMilestonePerson">
      <soap:operation soapAction="http://tempuri.org/IMilestonePersonService/CheckTimeEntriesForMilestonePerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckTimeEntriesForMilestonePersonWithGivenRoleId">
      <soap:operation soapAction="http://tempuri.org/IMilestonePersonService/CheckTimeEntriesForMilestonePersonWithGivenRoleId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveMilestonePerson">
      <soap:operation soapAction="http://tempuri.org/IMilestonePersonService/SaveMilestonePerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveMilestonePersons">
      <soap:operation soapAction="http://tempuri.org/IMilestonePersonService/SaveMilestonePersons" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMilestonePerson">
      <soap:operation soapAction="http://tempuri.org/IMilestonePersonService/DeleteMilestonePerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMilestonePersonListByMilestoneNoFinancials">
      <soap:operation soapAction="http://tempuri.org/IMilestonePersonService/GetMilestonePersonListByMilestoneNoFinancials" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MilestonePersonsByMilestoneForTEByProject">
      <soap:operation soapAction="http://tempuri.org/IMilestonePersonService/MilestonePersonsByMilestoneForTEByProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateMilestonePersonFinancials">
      <soap:operation soapAction="http://tempuri.org/IMilestonePersonService/CalculateMilestonePersonFinancials" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMilestonePersonsDetailsByMileStoneId">
      <soap:operation soapAction="http://tempuri.org/IMilestonePersonService/GetMilestonePersonsDetailsByMileStoneId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMilestonePersonEntry">
      <soap:operation soapAction="http://tempuri.org/IMilestonePersonService/DeleteMilestonePersonEntry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMilestonePersonEntry">
      <soap:operation soapAction="http://tempuri.org/IMilestonePersonService/UpdateMilestonePersonEntry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MilestonePersonEntryInsert">
      <soap:operation soapAction="http://tempuri.org/IMilestonePersonService/MilestonePersonEntryInsert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MilestonePersonAndEntryInsert">
      <soap:operation soapAction="http://tempuri.org/IMilestonePersonService/MilestonePersonAndEntryInsert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMilestonePersonEntry">
      <soap:operation soapAction="http://tempuri.org/IMilestonePersonService/GetMilestonePersonEntry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsPersonAlreadyAddedtoMilestone">
      <soap:operation soapAction="http://tempuri.org/IMilestonePersonService/IsPersonAlreadyAddedtoMilestone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MilestoneResourceUpdate">
      <soap:operation soapAction="http://tempuri.org/IMilestonePersonService/MilestoneResourceUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MilestonePersonService">
    <wsdl:port name="BasicHttpBinding_IMilestonePersonService" binding="tns:BasicHttpBinding_IMilestonePersonService">
      <soap:address location="http://ggku3sys280.ggktech.local/PracticemanagementService/MilestonePersonService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
