PracticeManagement/PracticeManagement/Service References/TimeEntryService/TimeEntryService75.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataTransferObjects.CompositeObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.CompositeObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ravin-lt/PracticeManagementService/TimeEntryService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="TimeEntriesGroupedByPerson">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TimeEntriesGroupedBy{0}" Namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.CompositeObjects" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Person" Namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="_groupedTimeEtnries" nillable="true" type="q1:ArrayOfKeyValueOfPersonArrayOfTimeEntryRecordvCShFPHe" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TimeEntriesGroupedByPerson" nillable="true" type="tns:TimeEntriesGroupedByPerson" />
  <xs:complexType name="TimeEntriesGroupedByTimeEntryHours">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TimeEntriesGroupedBy{0}" Namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.CompositeObjects" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TimeEntryHours" Namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.TimeEntry" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="_groupedTimeEtnries" nillable="true" type="q2:ArrayOfKeyValueOfTimeEntryHoursArrayOfTimeEntryRecordPnpt9Yr5" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TimeEntriesGroupedByTimeEntryHours" nillable="true" type="tns:TimeEntriesGroupedByTimeEntryHours" />
  <xs:complexType name="TimeEntriesGroupedByProject">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TimeEntriesGroupedBy{0}" Namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.CompositeObjects" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Project" Namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="_groupedTimeEtnries" nillable="true" type="q3:ArrayOfKeyValueOfProjectArrayOfTimeEntryRecordvCShFPHe" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TimeEntriesGroupedByProject" nillable="true" type="tns:TimeEntriesGroupedByProject" />
</xs:schema>
