PracticeManagement/PracticeManagement/Service References/TimeEntryService/TimeEntryService36.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataTransferObjects.TimeEntry" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.TimeEntry" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://system64.ggk.com/PracticeManagementService/TimeEntryService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects" />
  <xs:complexType name="TimeEntryRecord">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActualHours" type="xs:double" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="ApprovedBy" nillable="true" type="q1:Person" />
      <xs:element minOccurs="0" name="BillableHours" type="xs:double" />
      <xs:element minOccurs="0" name="ChargeCode" nillable="true" type="tns:ChargeCode" />
      <xs:element minOccurs="0" name="ChargeCodeDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ChargeCodeId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="EntryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ForecastedHours" type="xs:double" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IsChargeable" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsCorrect" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsReviewed" type="tns:ReviewStatus" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="ModifiedBy" nillable="true" type="q2:Person" />
      <xs:element minOccurs="0" name="ModifiedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NonBillableHours" type="xs:double" />
      <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OldHours" type="xs:double" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="ParentMilestonePersonEntry" nillable="true" type="q3:MilestonePersonEntry" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="Person" nillable="true" type="q4:Person" />
      <xs:element minOccurs="0" name="TimeType" nillable="true" type="tns:TimeTypeRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TimeEntryRecord" nillable="true" type="tns:TimeEntryRecord" />
  <xs:complexType name="ChargeCode">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChargeCodeId" type="xs:int" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="Client" nillable="true" type="q5:Client" />
      <xs:element minOccurs="0" name="Phase" type="xs:int" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="Project" nillable="true" type="q6:Project" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="ProjectGroup" nillable="true" type="q7:ProjectGroup" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="TimeEntrySection" type="q8:TimeEntrySectionType" />
      <xs:element minOccurs="0" name="TimeType" nillable="true" type="tns:TimeTypeRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChargeCode" nillable="true" type="tns:ChargeCode" />
  <xs:complexType name="TimeTypeRecord">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="InFutureUse" type="xs:boolean" />
      <xs:element minOccurs="0" name="InUse" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsAdministrative" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsAllowedToEdit" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsDefault" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsInternal" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsORTTimeType" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsSystemTimeType" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsUnpaidTimeType" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TimeTypeRecord" nillable="true" type="tns:TimeTypeRecord" />
  <xs:simpleType name="ReviewStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Undefined" />
      <xs:enumeration value="Pending" />
      <xs:enumeration value="Approved" />
      <xs:enumeration value="Declined" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ReviewStatus" nillable="true" type="tns:ReviewStatus" />
  <xs:complexType name="ArrayOfTimeEntryRecord">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TimeEntryRecord" nillable="true" type="tns:TimeEntryRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTimeEntryRecord" nillable="true" type="tns:ArrayOfTimeEntryRecord" />
  <xs:complexType name="TimeEntrySums">
    <xs:sequence>
      <xs:element minOccurs="0" name="TotalActualHours" type="xs:double" />
      <xs:element minOccurs="0" name="TotalForecastedHours" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TimeEntrySums" nillable="true" type="tns:TimeEntrySums" />
  <xs:complexType name="ArrayOfTimeEntrySection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TimeEntrySection" nillable="true" type="tns:TimeEntrySection" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTimeEntrySection" nillable="true" type="tns:ArrayOfTimeEntrySection" />
  <xs:complexType name="TimeEntrySection">
    <xs:sequence>
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="Account" nillable="true" type="q9:Client" />
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="BusinessUnit" nillable="true" type="q10:ProjectGroup" />
      <xs:element minOccurs="0" name="IsRecursive" type="xs:boolean" />
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="Project" nillable="true" type="q11:Project" />
      <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="SectionId" type="q12:TimeEntrySectionType" />
      <xs:element minOccurs="0" name="TimeEntries" nillable="true" type="tns:ArrayOfTimeEntryRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TimeEntrySection" nillable="true" type="tns:TimeEntrySection" />
</xs:schema>
