PracticeManagement/PracticeManagement/Service References/TimeEntryService/TimeEntryService5.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TimeEntryService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://ggku3sys280.ggktech.local/PracticemanagementService/TimeEntryService.svc?xsd=xsd7" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://ggku3sys280.ggktech.local/PracticemanagementService/TimeEntryService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://ggku3sys280.ggktech.local/PracticemanagementService/TimeEntryService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.TimeEntry" />
      <xsd:import schemaLocation="http://ggku3sys280.ggktech.local/PracticemanagementService/TimeEntryService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects" />
      <xsd:import schemaLocation="http://ggku3sys280.ggktech.local/PracticemanagementService/TimeEntryService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.Financials" />
      <xsd:import schemaLocation="http://ggku3sys280.ggktech.local/PracticemanagementService/TimeEntryService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://ggku3sys280.ggktech.local/PracticemanagementService/TimeEntryService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.CornerStone" />
      <xsd:import schemaLocation="http://ggku3sys280.ggktech.local/PracticemanagementService/TimeEntryService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.Skills" />
      <xsd:import schemaLocation="http://ggku3sys280.ggktech.local/PracticemanagementService/TimeEntryService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.ContextObjects" />
      <xsd:import schemaLocation="http://ggku3sys280.ggktech.local/PracticemanagementService/TimeEntryService.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.CompositeObjects" />
      <xsd:import schemaLocation="http://ggku3sys280.ggktech.local/PracticemanagementService/TimeEntryService.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://ggku3sys280.ggktech.local/PracticemanagementService/TimeEntryService.svc?xsd=xsd11" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITimeEntryService_TimeZonesAll_InputMessage">
    <wsdl:part name="parameters" element="tns:TimeZonesAll" />
  </wsdl:message>
  <wsdl:message name="ITimeEntryService_TimeZonesAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:TimeZonesAllResponse" />
  </wsdl:message>
  <wsdl:message name="ITimeEntryService_SetTimeZone_InputMessage">
    <wsdl:part name="parameters" element="tns:SetTimeZone" />
  </wsdl:message>
  <wsdl:message name="ITimeEntryService_SetTimeZone_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetTimeZoneResponse" />
  </wsdl:message>
  <wsdl:message name="ITimeEntryService_HasTimeEntriesForMilestone_InputMessage">
    <wsdl:part name="parameters" element="tns:HasTimeEntriesForMilestone" />
  </wsdl:message>
  <wsdl:message name="ITimeEntryService_HasTimeEntriesForMilestone_OutputMessage">
    <wsdl:part name="parameters" element="tns:HasTimeEntriesForMilestoneResponse" />
  </wsdl:message>
  <wsdl:message name="ITimeEntryService_GetTimeEntriesForPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTimeEntriesForPerson" />
  </wsdl:message>
  <wsdl:message name="ITimeEntryService_GetTimeEntriesForPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTimeEntriesForPersonResponse" />
  </wsdl:message>
  <wsdl:message name="ITimeEntryService_GetTimeEntriesPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTimeEntriesPerson" />
  </wsdl:message>
  <wsdl:message name="ITimeEntryService_GetTimeEntriesPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTimeEntriesPersonResponse" />
  </wsdl:message>
  <wsdl:message name="ITimeEntryService_GetTimeEntriesProject_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTimeEntriesProject" />
  </wsdl:message>
  <wsdl:message name="ITimeEntryService_GetTimeEntriesProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTimeEntriesProjectResponse" />
  </wsdl:message>
  <wsdl:message name="ITimeEntryService_GetCurrentMilestones_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentMilestones" />
  </wsdl:message>
  <wsdl:message name="ITimeEntryService_GetCurrentMilestones_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentMilestonesResponse" />
  </wsdl:message>
  <wsdl:message name="ITimeEntryService_GetAllTimeEntries_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTimeEntries" />
  </wsdl:message>
  <wsdl:message name="ITimeEntryService_GetAllTimeEntries_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTimeEntriesResponse" />
  </wsdl:message>
  <wsdl:message name="ITimeEntryService_GetTimeEntriesCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTimeEntriesCount" />
  </wsdl:message>
  <wsdl:message name="ITimeEntryService_GetTimeEntriesCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTimeEntriesCountResponse" />
  </wsdl:message>
  <wsdl:message name="ITimeEntryService_GetTimeEntrySums_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTimeEntrySums" />
  </wsdl:message>
  <wsdl:message name="ITimeEntryService_GetTimeEntrySums_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTimeEntrySumsResponse" />
  </wsdl:message>
  <wsdl:message name="ITimeEntryService_TimeEntriesByPersonGetExcelSet_InputMessage">
    <wsdl:part name="parameters" element="tns:TimeEntriesByPersonGetExcelSet" />
  </wsdl:message>
  <wsdl:message name="ITimeEntryService_TimeEntriesByPersonGetExcelSet_OutputMessage">
    <wsdl:part name="parameters" element="tns:TimeEntriesByPersonGetExcelSetResponse" />
  </wsdl:message>
  <wsdl:message name="ITimeEntryService_DeleteTimeEntry_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTimeEntry" />
  </wsdl:message>
  <wsdl:message name="ITimeEntryService_DeleteTimeEntry_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTimeEntryResponse" />
  </wsdl:message>
  <wsdl:message name="ITimeEntryService_SaveTimeTrack_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveTimeTrack" />
  </wsdl:message>
  <wsdl:message name="ITimeEntryService_SaveTimeTrack_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveTimeTrackResponse" />
  </wsdl:message>
  <wsdl:message name="ITimeEntryService_GetIsChargeCodeTurnOffByPeriod_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIsChargeCodeTurnOffByPeriod" />
  </wsdl:message>
  <wsdl:message name="ITimeEntryService_GetIsChargeCodeTurnOffByPeriod_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIsChargeCodeTurnOffByPeriodResponse" />
  </wsdl:message>
  <wsdl:message name="ITimeEntryService_SetPersonTimeEntryRecursiveSelection_InputMessage">
    <wsdl:part name="parameters" element="tns:SetPersonTimeEntryRecursiveSelection" />
  </wsdl:message>
  <wsdl:message name="ITimeEntryService_SetPersonTimeEntryRecursiveSelection_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetPersonTimeEntryRecursiveSelectionResponse" />
  </wsdl:message>
  <wsdl:message name="ITimeEntryService_SetPersonTimeEntrySelection_InputMessage">
    <wsdl:part name="parameters" element="tns:SetPersonTimeEntrySelection" />
  </wsdl:message>
  <wsdl:message name="ITimeEntryService_SetPersonTimeEntrySelection_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetPersonTimeEntrySelectionResponse" />
  </wsdl:message>
  <wsdl:message name="ITimeEntryService_ToggleIsCorrect_InputMessage">
    <wsdl:part name="parameters" element="tns:ToggleIsCorrect" />
  </wsdl:message>
  <wsdl:message name="ITimeEntryService_ToggleIsCorrect_OutputMessage">
    <wsdl:part name="parameters" element="tns:ToggleIsCorrectResponse" />
  </wsdl:message>
  <wsdl:message name="ITimeEntryService_ToggleIsReviewed_InputMessage">
    <wsdl:part name="parameters" element="tns:ToggleIsReviewed" />
  </wsdl:message>
  <wsdl:message name="ITimeEntryService_ToggleIsReviewed_OutputMessage">
    <wsdl:part name="parameters" element="tns:ToggleIsReviewedResponse" />
  </wsdl:message>
  <wsdl:message name="ITimeEntryService_ToggleIsChargeable_InputMessage">
    <wsdl:part name="parameters" element="tns:ToggleIsChargeable" />
  </wsdl:message>
  <wsdl:message name="ITimeEntryService_ToggleIsChargeable_OutputMessage">
    <wsdl:part name="parameters" element="tns:ToggleIsChargeableResponse" />
  </wsdl:message>
  <wsdl:message name="ITimeEntryService_GetAllTimeEntryProjects_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTimeEntryProjects" />
  </wsdl:message>
  <wsdl:message name="ITimeEntryService_GetAllTimeEntryProjects_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTimeEntryProjectsResponse" />
  </wsdl:message>
  <wsdl:message name="ITimeEntryService_GetTimeEntryProjectsByClientId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTimeEntryProjectsByClientId" />
  </wsdl:message>
  <wsdl:message name="ITimeEntryService_GetTimeEntryProjectsByClientId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTimeEntryProjectsByClientIdResponse" />
  </wsdl:message>
  <wsdl:message name="ITimeEntryService_GetAllTimeEntryMilestones_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTimeEntryMilestones" />
  </wsdl:message>
  <wsdl:message name="ITimeEntryService_GetAllTimeEntryMilestones_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTimeEntryMilestonesResponse" />
  </wsdl:message>
  <wsdl:message name="ITimeEntryService_GetAllTimeEntryPersons_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTimeEntryPersons" />
  </wsdl:message>
  <wsdl:message name="ITimeEntryService_GetAllTimeEntryPersons_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTimeEntryPersonsResponse" />
  </wsdl:message>
  <wsdl:message name="ITimeEntryService_PersonTimeEntriesByPeriod_InputMessage">
    <wsdl:part name="parameters" element="tns:PersonTimeEntriesByPeriod" />
  </wsdl:message>
  <wsdl:message name="ITimeEntryService_PersonTimeEntriesByPeriod_OutputMessage">
    <wsdl:part name="parameters" element="tns:PersonTimeEntriesByPeriodResponse" />
  </wsdl:message>
  <wsdl:portType name="ITimeEntryService">
    <wsdl:operation name="TimeZonesAll">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimeEntryService/TimeZonesAll" message="tns:ITimeEntryService_TimeZonesAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimeEntryService/TimeZonesAllResponse" message="tns:ITimeEntryService_TimeZonesAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetTimeZone">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimeEntryService/SetTimeZone" message="tns:ITimeEntryService_SetTimeZone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimeEntryService/SetTimeZoneResponse" message="tns:ITimeEntryService_SetTimeZone_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HasTimeEntriesForMilestone">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimeEntryService/HasTimeEntriesForMilestone" message="tns:ITimeEntryService_HasTimeEntriesForMilestone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimeEntryService/HasTimeEntriesForMilestoneResponse" message="tns:ITimeEntryService_HasTimeEntriesForMilestone_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTimeEntriesForPerson">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimeEntryService/GetTimeEntriesForPerson" message="tns:ITimeEntryService_GetTimeEntriesForPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimeEntryService/GetTimeEntriesForPersonResponse" message="tns:ITimeEntryService_GetTimeEntriesForPerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTimeEntriesPerson">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimeEntryService/GetTimeEntriesPerson" message="tns:ITimeEntryService_GetTimeEntriesPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimeEntryService/GetTimeEntriesPersonResponse" message="tns:ITimeEntryService_GetTimeEntriesPerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTimeEntriesProject">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimeEntryService/GetTimeEntriesProject" message="tns:ITimeEntryService_GetTimeEntriesProject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimeEntryService/GetTimeEntriesProjectResponse" message="tns:ITimeEntryService_GetTimeEntriesProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentMilestones">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimeEntryService/GetCurrentMilestones" message="tns:ITimeEntryService_GetCurrentMilestones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimeEntryService/GetCurrentMilestonesResponse" message="tns:ITimeEntryService_GetCurrentMilestones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTimeEntries">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimeEntryService/GetAllTimeEntries" message="tns:ITimeEntryService_GetAllTimeEntries_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimeEntryService/GetAllTimeEntriesResponse" message="tns:ITimeEntryService_GetAllTimeEntries_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTimeEntriesCount">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimeEntryService/GetTimeEntriesCount" message="tns:ITimeEntryService_GetTimeEntriesCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimeEntryService/GetTimeEntriesCountResponse" message="tns:ITimeEntryService_GetTimeEntriesCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTimeEntrySums">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimeEntryService/GetTimeEntrySums" message="tns:ITimeEntryService_GetTimeEntrySums_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimeEntryService/GetTimeEntrySumsResponse" message="tns:ITimeEntryService_GetTimeEntrySums_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TimeEntriesByPersonGetExcelSet">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimeEntryService/TimeEntriesByPersonGetExcelSet" message="tns:ITimeEntryService_TimeEntriesByPersonGetExcelSet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimeEntryService/TimeEntriesByPersonGetExcelSetResponse" message="tns:ITimeEntryService_TimeEntriesByPersonGetExcelSet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTimeEntry">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimeEntryService/DeleteTimeEntry" message="tns:ITimeEntryService_DeleteTimeEntry_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimeEntryService/DeleteTimeEntryResponse" message="tns:ITimeEntryService_DeleteTimeEntry_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveTimeTrack">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimeEntryService/SaveTimeTrack" message="tns:ITimeEntryService_SaveTimeTrack_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimeEntryService/SaveTimeTrackResponse" message="tns:ITimeEntryService_SaveTimeTrack_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIsChargeCodeTurnOffByPeriod">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimeEntryService/GetIsChargeCodeTurnOffByPeriod" message="tns:ITimeEntryService_GetIsChargeCodeTurnOffByPeriod_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimeEntryService/GetIsChargeCodeTurnOffByPeriodResponse" message="tns:ITimeEntryService_GetIsChargeCodeTurnOffByPeriod_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetPersonTimeEntryRecursiveSelection">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimeEntryService/SetPersonTimeEntryRecursiveSelection" message="tns:ITimeEntryService_SetPersonTimeEntryRecursiveSelection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimeEntryService/SetPersonTimeEntryRecursiveSelectionResponse" message="tns:ITimeEntryService_SetPersonTimeEntryRecursiveSelection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetPersonTimeEntrySelection">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimeEntryService/SetPersonTimeEntrySelection" message="tns:ITimeEntryService_SetPersonTimeEntrySelection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimeEntryService/SetPersonTimeEntrySelectionResponse" message="tns:ITimeEntryService_SetPersonTimeEntrySelection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ToggleIsCorrect">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimeEntryService/ToggleIsCorrect" message="tns:ITimeEntryService_ToggleIsCorrect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimeEntryService/ToggleIsCorrectResponse" message="tns:ITimeEntryService_ToggleIsCorrect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ToggleIsReviewed">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimeEntryService/ToggleIsReviewed" message="tns:ITimeEntryService_ToggleIsReviewed_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimeEntryService/ToggleIsReviewedResponse" message="tns:ITimeEntryService_ToggleIsReviewed_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ToggleIsChargeable">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimeEntryService/ToggleIsChargeable" message="tns:ITimeEntryService_ToggleIsChargeable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimeEntryService/ToggleIsChargeableResponse" message="tns:ITimeEntryService_ToggleIsChargeable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTimeEntryProjects">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimeEntryService/GetAllTimeEntryProjects" message="tns:ITimeEntryService_GetAllTimeEntryProjects_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimeEntryService/GetAllTimeEntryProjectsResponse" message="tns:ITimeEntryService_GetAllTimeEntryProjects_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTimeEntryProjectsByClientId">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimeEntryService/GetTimeEntryProjectsByClientId" message="tns:ITimeEntryService_GetTimeEntryProjectsByClientId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimeEntryService/GetTimeEntryProjectsByClientIdResponse" message="tns:ITimeEntryService_GetTimeEntryProjectsByClientId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTimeEntryMilestones">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimeEntryService/GetAllTimeEntryMilestones" message="tns:ITimeEntryService_GetAllTimeEntryMilestones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimeEntryService/GetAllTimeEntryMilestonesResponse" message="tns:ITimeEntryService_GetAllTimeEntryMilestones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTimeEntryPersons">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimeEntryService/GetAllTimeEntryPersons" message="tns:ITimeEntryService_GetAllTimeEntryPersons_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimeEntryService/GetAllTimeEntryPersonsResponse" message="tns:ITimeEntryService_GetAllTimeEntryPersons_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PersonTimeEntriesByPeriod">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimeEntryService/PersonTimeEntriesByPeriod" message="tns:ITimeEntryService_PersonTimeEntriesByPeriod_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimeEntryService/PersonTimeEntriesByPeriodResponse" message="tns:ITimeEntryService_PersonTimeEntriesByPeriod_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITimeEntryService" type="tns:ITimeEntryService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TimeZonesAll">
      <soap:operation soapAction="http://tempuri.org/ITimeEntryService/TimeZonesAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetTimeZone">
      <soap:operation soapAction="http://tempuri.org/ITimeEntryService/SetTimeZone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HasTimeEntriesForMilestone">
      <soap:operation soapAction="http://tempuri.org/ITimeEntryService/HasTimeEntriesForMilestone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTimeEntriesForPerson">
      <soap:operation soapAction="http://tempuri.org/ITimeEntryService/GetTimeEntriesForPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTimeEntriesPerson">
      <soap:operation soapAction="http://tempuri.org/ITimeEntryService/GetTimeEntriesPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTimeEntriesProject">
      <soap:operation soapAction="http://tempuri.org/ITimeEntryService/GetTimeEntriesProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentMilestones">
      <soap:operation soapAction="http://tempuri.org/ITimeEntryService/GetCurrentMilestones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTimeEntries">
      <soap:operation soapAction="http://tempuri.org/ITimeEntryService/GetAllTimeEntries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTimeEntriesCount">
      <soap:operation soapAction="http://tempuri.org/ITimeEntryService/GetTimeEntriesCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTimeEntrySums">
      <soap:operation soapAction="http://tempuri.org/ITimeEntryService/GetTimeEntrySums" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimeEntriesByPersonGetExcelSet">
      <soap:operation soapAction="http://tempuri.org/ITimeEntryService/TimeEntriesByPersonGetExcelSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTimeEntry">
      <soap:operation soapAction="http://tempuri.org/ITimeEntryService/DeleteTimeEntry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveTimeTrack">
      <soap:operation soapAction="http://tempuri.org/ITimeEntryService/SaveTimeTrack" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIsChargeCodeTurnOffByPeriod">
      <soap:operation soapAction="http://tempuri.org/ITimeEntryService/GetIsChargeCodeTurnOffByPeriod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPersonTimeEntryRecursiveSelection">
      <soap:operation soapAction="http://tempuri.org/ITimeEntryService/SetPersonTimeEntryRecursiveSelection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPersonTimeEntrySelection">
      <soap:operation soapAction="http://tempuri.org/ITimeEntryService/SetPersonTimeEntrySelection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ToggleIsCorrect">
      <soap:operation soapAction="http://tempuri.org/ITimeEntryService/ToggleIsCorrect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ToggleIsReviewed">
      <soap:operation soapAction="http://tempuri.org/ITimeEntryService/ToggleIsReviewed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ToggleIsChargeable">
      <soap:operation soapAction="http://tempuri.org/ITimeEntryService/ToggleIsChargeable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTimeEntryProjects">
      <soap:operation soapAction="http://tempuri.org/ITimeEntryService/GetAllTimeEntryProjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTimeEntryProjectsByClientId">
      <soap:operation soapAction="http://tempuri.org/ITimeEntryService/GetTimeEntryProjectsByClientId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTimeEntryMilestones">
      <soap:operation soapAction="http://tempuri.org/ITimeEntryService/GetAllTimeEntryMilestones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTimeEntryPersons">
      <soap:operation soapAction="http://tempuri.org/ITimeEntryService/GetAllTimeEntryPersons" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PersonTimeEntriesByPeriod">
      <soap:operation soapAction="http://tempuri.org/ITimeEntryService/PersonTimeEntriesByPeriod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TimeEntryService">
    <wsdl:port name="BasicHttpBinding_ITimeEntryService" binding="tns:BasicHttpBinding_ITimeEntryService">
      <soap:address location="http://ggku3sys280.ggktech.local/PracticemanagementService/TimeEntryService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
