PracticeManagement/PracticeManagement/Service References/TimeEntryService/TimeEntryService83.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://system67.ggk.com/PracticeManagementService/TimeEntryService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.TimeEntry" />
  <xs:import schemaLocation="http://system67.ggk.com/PracticeManagementService/TimeEntryService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects" />
  <xs:import schemaLocation="http://system67.ggk.com/PracticeManagementService/TimeEntryService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.ContextObjects" />
  <xs:import schemaLocation="http://system67.ggk.com/PracticeManagementService/TimeEntryService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.CompositeObjects" />
  <xs:element name="GetAllTimeTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTimeTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataTransferObjects.TimeEntry" minOccurs="0" name="GetAllTimeTypesResult" nillable="true" type="q1:ArrayOfTimeTypeRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveTimeType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataTransferObjects.TimeEntry" minOccurs="0" name="timeType" nillable="true" type="q2:TimeTypeRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveTimeTypeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTimeType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DataTransferObjects.TimeEntry" minOccurs="0" name="timeType" nillable="true" type="q3:TimeTypeRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTimeTypeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTimeType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DataTransferObjects.TimeEntry" minOccurs="0" name="timeType" nillable="true" type="q4:TimeTypeRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTimeTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddTimeTypeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimeZonesAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TimeZonesAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="TimeZonesAllResult" nillable="true" type="q5:ArrayOfTimezone" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTimeZone">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="timezone" nillable="true" type="q6:Timezone" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTimeZoneResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveTimeEntries">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="milestonePersonId" type="xs:int" />
        <xs:element minOccurs="0" name="timeTypeId" type="xs:int" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveTimeEntriesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveTimeEntryById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveTimeEntryByIdResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveTimeEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DataTransferObjects.TimeEntry" minOccurs="0" name="timeEntry" nillable="true" type="q7:TimeEntryRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveTimeEntryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTimeEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DataTransferObjects.TimeEntry" minOccurs="0" name="timeEntry" nillable="true" type="q8:TimeEntryRecord" />
        <xs:element minOccurs="0" name="defaultMpId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTimeEntryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddTimeEntryResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTimeEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/DataTransferObjects.TimeEntry" minOccurs="0" name="timeEntry" nillable="true" type="q9:TimeEntryRecord" />
        <xs:element minOccurs="0" name="defaultMilestoneId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTimeEntryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConstructAndUpdateTimeEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="milestoneDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="entryDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="milestonePersonId" type="xs:int" />
        <xs:element minOccurs="0" name="actualHours" type="xs:double" />
        <xs:element minOccurs="0" name="forecastedHours" type="xs:double" />
        <xs:element minOccurs="0" name="timeTypeId" type="xs:int" />
        <xs:element minOccurs="0" name="note" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isReviewed" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isChargeable" type="xs:boolean" />
        <xs:element minOccurs="0" name="isCorrect" type="xs:boolean" />
        <xs:element minOccurs="0" name="modifiedById" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConstructAndUpdateTimeEntryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeEntriesForPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="person" nillable="true" type="q10:Person" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeEntriesForPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/DataTransferObjects.TimeEntry" minOccurs="0" name="GetTimeEntriesForPersonResult" nillable="true" type="q11:ArrayOfTimeEntryRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeEntriesProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/DataTransferObjects.ContextObjects" minOccurs="0" name="reportContext" nillable="true" type="q12:TimeEntryProjectReportContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeEntriesProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/DataTransferObjects.CompositeObjects" minOccurs="0" name="GetTimeEntriesProjectResult" nillable="true" type="q13:TimeEntriesGroupedByPerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeEntriesByMilestone">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/DataTransferObjects.ContextObjects" minOccurs="0" name="reportContext" nillable="true" type="q14:TimeEntryMilestoneReportContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeEntriesByMilestoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/DataTransferObjects.CompositeObjects" minOccurs="0" name="GetTimeEntriesByMilestoneResult" nillable="true" type="q15:TimeEntriesGroupedByPerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeEntriesProjectCumulative">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/DataTransferObjects.ContextObjects" minOccurs="0" name="reportContext" nillable="true" type="q16:TimeEntryPersonReportContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeEntriesProjectCumulativeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/DataTransferObjects.CompositeObjects" minOccurs="0" name="GetTimeEntriesProjectCumulativeResult" nillable="true" type="q17:TimeEntriesGroupedByTimeEntryHours" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeEntriesPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/DataTransferObjects.ContextObjects" minOccurs="0" name="reportContext" nillable="true" type="q18:TimeEntryPersonReportContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeEntriesPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/DataTransferObjects.CompositeObjects" minOccurs="0" name="GetTimeEntriesPersonResult" nillable="true" type="q19:TimeEntriesGroupedByProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentMilestones">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="person" nillable="true" type="q20:Person" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="defaultMilestoneId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentMilestonesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetCurrentMilestonesResult" nillable="true" type="q21:ArrayOfMilestonePersonEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeEntryMilestones">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="person" nillable="true" type="q22:Person" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeEntryMilestonesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetTimeEntryMilestonesResult" nillable="true" type="q23:ArrayOfMilestonePersonEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTimeEntries">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/DataTransferObjects.ContextObjects" minOccurs="0" name="selectContext" nillable="true" type="q24:TimeEntrySelectContext" />
        <xs:element minOccurs="0" name="startRow" type="xs:int" />
        <xs:element minOccurs="0" name="maxRows" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTimeEntriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/DataTransferObjects.TimeEntry" minOccurs="0" name="GetAllTimeEntriesResult" nillable="true" type="q25:ArrayOfTimeEntryRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeEntriesCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/DataTransferObjects.ContextObjects" minOccurs="0" name="selectContext" nillable="true" type="q26:TimeEntrySelectContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeEntriesCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTimeEntriesCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeEntrySums">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/DataTransferObjects.ContextObjects" minOccurs="0" name="selectContext" nillable="true" type="q27:TimeEntrySelectContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeEntrySumsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/DataTransferObjects.TimeEntry" minOccurs="0" name="GetTimeEntrySumsResult" nillable="true" type="q28:TimeEntrySums" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ToggleIsCorrect">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/DataTransferObjects.TimeEntry" minOccurs="0" name="timeEntry" nillable="true" type="q29:TimeEntryRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ToggleIsCorrectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ToggleIsReviewed">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/DataTransferObjects.TimeEntry" minOccurs="0" name="timeEntry" nillable="true" type="q30:TimeEntryRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ToggleIsReviewedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ToggleIsChargeable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/DataTransferObjects.TimeEntry" minOccurs="0" name="timeEntry" nillable="true" type="q31:TimeEntryRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ToggleIsChargeableResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTimeEntryProjects">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTimeEntryProjectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetAllTimeEntryProjectsResult" nillable="true" type="q32:ArrayOfProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeEntryProjectsByClientId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeEntryProjectsByClientIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetTimeEntryProjectsByClientIdResult" nillable="true" type="q33:ArrayOfProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTimeEntryMilestones">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTimeEntryMilestonesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetAllTimeEntryMilestonesResult" nillable="true" type="q34:ArrayOfMilestone" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTimeEntryPersons">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entryDateFrom" type="xs:dateTime" />
        <xs:element minOccurs="0" name="entryDateTo" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTimeEntryPersonsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetAllTimeEntryPersonsResult" nillable="true" type="q35:ArrayOfPerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
