PracticeManagement/PracticeManagement/Service References/TimeEntryService/TimeEntryService45.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataTransferObjects.CompositeObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.CompositeObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://system64.ggk.com/PracticeManagementService/TimeEntryService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://system64.ggk.com/PracticeManagementService/TimeEntryService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects" />
  <xs:complexType name="PersonTimeEntries">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GroupedTimeEtnries" nillable="true" type="q1:ArrayOfKeyValueOfChargeCodeArrayOfTimeEntryRecordPnpt9Yr5" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="Person" nillable="true" type="q2:Person" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonTimeEntries" nillable="true" type="tns:PersonTimeEntries" />
  <xs:complexType name="TimeEntriesGroupedByPerson">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TimeEntriesGroupedBy{0}" Namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.CompositeObjects" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Person" Namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="_groupedTimeEtnries" nillable="true" type="q3:ArrayOfKeyValueOfPersonArrayOfTimeEntryRecordvCShFPHe" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TimeEntriesGroupedByPerson" nillable="true" type="tns:TimeEntriesGroupedByPerson" />
</xs:schema>
