PracticeManagement/PracticeManagement/Service References/TimeEntryService/TimeEntryService16.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataTransferObjects.CompositeObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.CompositeObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ws60/PracticeManagementService/TimeEntryService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="TimeEntryProjectPerson">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="_personTimeEtnries" nillable="true" type="q1:ArrayOfKeyValueOfPersonArrayOfTimeEntryRecordvCShFPHe" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TimeEntryProjectPerson" nillable="true" type="tns:TimeEntryProjectPerson" />
  <xs:complexType name="TimeEntryPersonProjects">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="_projectTimeEtnries" nillable="true" type="q2:ArrayOfKeyValueOfProjectArrayOfTimeEntryRecordvCShFPHe" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TimeEntryPersonProjects" nillable="true" type="tns:TimeEntryPersonProjects" />
</xs:schema>
