PracticeManagement/PracticeManagement/Service References/TimeEntryService/TimeEntryService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataTransferObjects.ContextObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.ContextObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://server2.ggk.com/PracticeManagementService/TimeEntryService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://server2.ggk.com/PracticeManagementService/TimeEntryService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:complexType name="TimeEntryProjectReportContext">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:dateTime" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PersonIds" nillable="true" type="q1:ArrayOfint" />
      <xs:element minOccurs="0" name="ProjectId" type="xs:int" />
      <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TimeEntryProjectReportContext" nillable="true" type="tns:TimeEntryProjectReportContext" />
  <xs:complexType name="TimeEntryPersonReportContext">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:dateTime" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PayTypeIds" nillable="true" type="q2:ArrayOfint" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PersonIds" nillable="true" type="q3:ArrayOfint" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PracticeIds" nillable="true" type="q4:ArrayOfint" />
      <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TimeEntryPersonReportContext" nillable="true" type="tns:TimeEntryPersonReportContext" />
  <xs:complexType name="TimeEntrySelectContext">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActualHoursFrom" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="ActualHoursTo" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="EntryDateFrom" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EntryDateTo" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ForecastedHoursFrom" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="ForecastedHoursTo" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="IsChargable" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsCorrect" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsProjectChargeable" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsReviewed" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MilestoneDateFrom" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MilestoneDateTo" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MilestoneId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MilestonePersonId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ModifiedDateFrom" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ModifiedDateTo" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PageNo" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PageSize" nillable="true" type="xs:int" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="PersonIds" nillable="true" type="q5:ArrayOfNullableOfint" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="ProjectIds" nillable="true" type="q6:ArrayOfNullableOfint" />
      <xs:element minOccurs="0" name="RequesterId" type="xs:int" />
      <xs:element minOccurs="0" name="SortExpression" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeTypeId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TimeEntrySelectContext" nillable="true" type="tns:TimeEntrySelectContext" />
</xs:schema>
