PracticeManagement/PracticeManagement/Service References/TimeEntryService/TimeEntryService41.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://system64.ggk.com/PracticeManagementService/TimeEntryService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects" />
  <xs:import schemaLocation="http://system64.ggk.com/PracticeManagementService/TimeEntryService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.TimeEntry" />
  <xs:import schemaLocation="http://system64.ggk.com/PracticeManagementService/TimeEntryService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.ContextObjects" />
  <xs:import schemaLocation="http://system64.ggk.com/PracticeManagementService/TimeEntryService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.CompositeObjects" />
  <xs:import schemaLocation="http://system64.ggk.com/PracticeManagementService/TimeEntryService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="TimeZonesAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TimeZonesAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="TimeZonesAllResult" nillable="true" type="q1:ArrayOfTimezone" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTimeZone">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="timezone" nillable="true" type="q2:Timezone" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTimeZoneResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HasTimeEntriesForMilestone">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="milestoneId" type="xs:int" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HasTimeEntriesForMilestoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HasTimeEntriesForMilestoneResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeEntriesForPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="person" nillable="true" type="q3:Person" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeEntriesForPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DataTransferObjects.TimeEntry" minOccurs="0" name="GetTimeEntriesForPersonResult" nillable="true" type="q4:ArrayOfTimeEntryRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeEntriesPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DataTransferObjects.ContextObjects" minOccurs="0" name="reportContext" nillable="true" type="q5:TimeEntryPersonReportContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeEntriesPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DataTransferObjects.CompositeObjects" minOccurs="0" name="GetTimeEntriesPersonResult" nillable="true" type="q6:PersonTimeEntries" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeEntriesProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DataTransferObjects.ContextObjects" minOccurs="0" name="reportContext" nillable="true" type="q7:TimeEntryProjectReportContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeEntriesProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DataTransferObjects.CompositeObjects" minOccurs="0" name="GetTimeEntriesProjectResult" nillable="true" type="q8:TimeEntriesGroupedByPerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentMilestones">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="person" nillable="true" type="q9:Person" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="defaultMilestoneId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentMilestonesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetCurrentMilestonesResult" nillable="true" type="q10:ArrayOfMilestonePersonEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTimeEntries">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/DataTransferObjects.ContextObjects" minOccurs="0" name="selectContext" nillable="true" type="q11:TimeEntrySelectContext" />
        <xs:element minOccurs="0" name="startRow" type="xs:int" />
        <xs:element minOccurs="0" name="maxRows" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTimeEntriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/DataTransferObjects.TimeEntry" minOccurs="0" name="GetAllTimeEntriesResult" nillable="true" type="q12:ArrayOfTimeEntryRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeEntriesCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/DataTransferObjects.ContextObjects" minOccurs="0" name="selectContext" nillable="true" type="q13:TimeEntrySelectContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeEntriesCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTimeEntriesCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeEntrySums">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/DataTransferObjects.ContextObjects" minOccurs="0" name="selectContext" nillable="true" type="q14:TimeEntrySelectContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeEntrySumsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/DataTransferObjects.TimeEntry" minOccurs="0" name="GetTimeEntrySumsResult" nillable="true" type="q15:TimeEntrySums" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimeEntriesByPersonGetExcelSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/DataTransferObjects.ContextObjects" minOccurs="0" name="reportContext" nillable="true" type="q16:TimeEntryPersonReportContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimeEntriesByPersonGetExcelSetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TimeEntriesByPersonGetExcelSetResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTimeEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientId" type="xs:int" />
        <xs:element minOccurs="0" name="projectId" type="xs:int" />
        <xs:element minOccurs="0" name="personId" type="xs:int" />
        <xs:element minOccurs="0" name="timetypeId" type="xs:int" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTimeEntryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTimeTrack">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="timeEntriesXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="personId" type="xs:int" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="userLogin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTimeTrackResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIsChargeCodeTurnOffByPeriod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="personId" type="xs:int" />
        <xs:element minOccurs="0" name="clientId" type="xs:int" />
        <xs:element minOccurs="0" name="groupId" type="xs:int" />
        <xs:element minOccurs="0" name="projectId" type="xs:int" />
        <xs:element minOccurs="0" name="timeTypeId" type="xs:int" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIsChargeCodeTurnOffByPeriodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetIsChargeCodeTurnOffByPeriodResult" nillable="true" type="q17:ArrayOfKeyValueOfdateTimeboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPersonTimeEntryRecursiveSelection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="personId" type="xs:int" />
        <xs:element minOccurs="0" name="clientId" type="xs:int" />
        <xs:element minOccurs="0" name="projectGroupId" type="xs:int" />
        <xs:element minOccurs="0" name="projectId" type="xs:int" />
        <xs:element minOccurs="0" name="timeEntrySectionId" type="xs:int" />
        <xs:element minOccurs="0" name="isRecursive" type="xs:boolean" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPersonTimeEntryRecursiveSelectionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPersonTimeEntrySelection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="personId" type="xs:int" />
        <xs:element minOccurs="0" name="clientId" type="xs:int" />
        <xs:element minOccurs="0" name="projectGroupId" type="xs:int" />
        <xs:element minOccurs="0" name="projectId" type="xs:int" />
        <xs:element minOccurs="0" name="timeEntrySectionId" type="xs:int" />
        <xs:element minOccurs="0" name="isDelete" type="xs:boolean" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPersonTimeEntrySelectionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ToggleIsCorrect">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/DataTransferObjects.TimeEntry" minOccurs="0" name="timeEntry" nillable="true" type="q18:TimeEntryRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ToggleIsCorrectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ToggleIsReviewed">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/DataTransferObjects.TimeEntry" minOccurs="0" name="timeEntry" nillable="true" type="q19:TimeEntryRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ToggleIsReviewedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ToggleIsChargeable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/DataTransferObjects.TimeEntry" minOccurs="0" name="timeEntry" nillable="true" type="q20:TimeEntryRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ToggleIsChargeableResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTimeEntryProjects">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTimeEntryProjectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetAllTimeEntryProjectsResult" nillable="true" type="q21:ArrayOfProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeEntryProjectsByClientId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="personId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="showActiveAndInternalProjectsOnly" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeEntryProjectsByClientIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetTimeEntryProjectsByClientIdResult" nillable="true" type="q22:ArrayOfProject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTimeEntryMilestones">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTimeEntryMilestonesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetAllTimeEntryMilestonesResult" nillable="true" type="q23:ArrayOfMilestone" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTimeEntryPersons">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entryDateFrom" type="xs:dateTime" />
        <xs:element minOccurs="0" name="entryDateTo" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTimeEntryPersonsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetAllTimeEntryPersonsResult" nillable="true" type="q24:ArrayOfPerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonTimeEntriesByPeriod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="personId" type="xs:int" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonTimeEntriesByPeriodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/DataTransferObjects.TimeEntry" minOccurs="0" name="PersonTimeEntriesByPeriodResult" nillable="true" type="q25:ArrayOfTimeEntrySection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
