PracticeManagement/PracticeManagement/Service References/PracticeService/PracticeService13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ggku3sys280.ggktech.local/PracticeManagementService/PracticeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects" />
  <xs:element name="GetPracticeList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPracticeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetPracticeListResult" nillable="true" type="q1:ArrayOfPractice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPracticeListForDivision">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="divisionId" type="xs:int" />
        <xs:element minOccurs="0" name="isProject" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPracticeListForDivisionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetPracticeListForDivisionResult" nillable="true" type="q2:ArrayOfPractice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PracticeListAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="person" nillable="true" type="q3:Person" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PracticeListAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="PracticeListAllResult" nillable="true" type="q4:ArrayOfPractice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PracticeListAllWithCapabilities">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PracticeListAllWithCapabilitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="PracticeListAllWithCapabilitiesResult" nillable="true" type="q5:ArrayOfPractice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PracticeGetById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PracticeGetByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="PracticeGetByIdResult" nillable="true" type="q6:ArrayOfPractice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePractice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="practice" nillable="true" type="q7:Practice" />
        <xs:element minOccurs="0" name="userLogin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePracticeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPractice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="practice" nillable="true" type="q8:Practice" />
        <xs:element minOccurs="0" name="userLogin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPracticeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertPracticeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemovePractice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="practice" nillable="true" type="q9:Practice" />
        <xs:element minOccurs="0" name="userLogin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemovePracticeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPracticeCapabilities">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="practiceId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="capabilityId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPracticeCapabilitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetPracticeCapabilitiesResult" nillable="true" type="q10:ArrayOfPracticeCapability" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CapabilityDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="capabilityId" type="xs:int" />
        <xs:element minOccurs="0" name="userLogin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CapabilityDeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CapabilityUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="capability" nillable="true" type="q11:PracticeCapability" />
        <xs:element minOccurs="0" name="userLogin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CapabilityUpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CapabilityInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="capability" nillable="true" type="q12:PracticeCapability" />
        <xs:element minOccurs="0" name="userLogin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CapabilityInsertResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>
