PracticeManagement/PracticeManagement/Service References/ExpenseService/ExpenseService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ws60/PracticeManagementService/ExpenseService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects" />
  <xs:element name="GetExpenseBasisList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpenseBasisListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetExpenseBasisListResult" nillable="true" type="q1:ArrayOfExpenseBasis" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWeekPaidOptionList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWeekPaidOptionListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetWeekPaidOptionListResult" nillable="true" type="q2:ArrayOfWeekPaidOption" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpenseDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpenseDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetExpenseDetailResult" nillable="true" type="q3:MonthlyExpense" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveExpenseItemDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="itemExpense" nillable="true" type="q4:MonthlyExpense" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveExpenseItemDetailResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMonthlyExpense">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="itemExpense" nillable="true" type="q5:MonthlyExpense" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMonthlyExpenseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MonthlyExpenseListAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MonthlyExpenseListAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="MonthlyExpenseListAllResult" nillable="true" type="q6:ArrayOfMonthlyExpense" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
