PracticeManagement/PracticeManagement/Service References/PersonSkillService/PersonSkillService10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://system44.ggk.com/PracticeManagementService/PersonSkillService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.Skills" />
  <xs:import schemaLocation="http://system44.ggk.com/PracticeManagementService/PersonSkillService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects" />
  <xs:element name="SkillCategoriesAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SkillCategoriesAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataTransferObjects.Skills" minOccurs="0" name="SkillCategoriesAllResult" nillable="true" type="q1:ArrayOfSkillCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SkillsAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SkillsAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataTransferObjects.Skills" minOccurs="0" name="SkillsAllResult" nillable="true" type="q2:ArrayOfSkill" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SkillLevelsAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SkillLevelsAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DataTransferObjects.Skills" minOccurs="0" name="SkillLevelsAllResult" nillable="true" type="q3:ArrayOfSkillLevel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SkillTypesAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SkillTypesAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DataTransferObjects.Skills" minOccurs="0" name="SkillTypesAllResult" nillable="true" type="q4:ArrayOfSkillType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIndustrySkillsAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIndustrySkillsAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DataTransferObjects.Skills" minOccurs="0" name="GetIndustrySkillsAllResult" nillable="true" type="q5:ArrayOfIndustry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonWithSkills">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="personId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonWithSkillsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetPersonWithSkillsResult" nillable="true" type="q6:Person" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePersonSkills">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="personId" type="xs:int" />
        <xs:element minOccurs="0" name="skillsXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userLogin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePersonSkillsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePersonIndustrySkills">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="personId" type="xs:int" />
        <xs:element minOccurs="0" name="industrySkillsXml" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userLogin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePersonIndustrySkillsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonsSearchBySkillsText">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="skillsSearchText" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonsSearchBySkillsTextResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="PersonsSearchBySkillsTextResult" nillable="true" type="q7:ArrayOfPerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
