PracticeManagement/PracticeManagement/Service References/PersonSkillService/PersonSkillService8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataTransferObjects.Skills" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.Skills" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://system44.ggk.com/PracticeManagementService/PersonSkillService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects" />
  <xs:complexType name="ArrayOfSkillCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SkillCategory" nillable="true" type="tns:SkillCategory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSkillCategory" nillable="true" type="tns:ArrayOfSkillCategory" />
  <xs:complexType name="SkillCategory">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:LookupBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="SkillType" nillable="true" type="tns:SkillType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SkillCategory" nillable="true" type="tns:SkillCategory" />
  <xs:complexType name="LookupBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisplayOrder" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LookupBase" nillable="true" type="tns:LookupBase" />
  <xs:complexType name="SkillType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:LookupBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SkillType" nillable="true" type="tns:SkillType" />
  <xs:complexType name="ArrayOfSkill">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Skill" nillable="true" type="tns:Skill" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSkill" nillable="true" type="tns:ArrayOfSkill" />
  <xs:complexType name="Skill">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:LookupBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Category" nillable="true" type="tns:SkillCategory" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Skill" nillable="true" type="tns:Skill" />
  <xs:complexType name="ArrayOfSkillLevel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SkillLevel" nillable="true" type="tns:SkillLevel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSkillLevel" nillable="true" type="tns:ArrayOfSkillLevel" />
  <xs:complexType name="SkillLevel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:LookupBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Definition" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SkillLevel" nillable="true" type="tns:SkillLevel" />
  <xs:complexType name="ArrayOfSkillType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SkillType" nillable="true" type="tns:SkillType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSkillType" nillable="true" type="tns:ArrayOfSkillType" />
  <xs:complexType name="ArrayOfIndustry">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Industry" nillable="true" type="tns:Industry" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIndustry" nillable="true" type="tns:ArrayOfIndustry" />
  <xs:complexType name="Industry">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:LookupBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Industry" nillable="true" type="tns:Industry" />
  <xs:complexType name="ArrayOfPersonContactInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonContactInfo" nillable="true" type="tns:PersonContactInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonContactInfo" nillable="true" type="tns:ArrayOfPersonContactInfo" />
  <xs:complexType name="PersonContactInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContactInfoType" nillable="true" type="tns:ContactInfoType" />
      <xs:element minOccurs="0" name="DisplayOrder" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Info" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModificationDate" type="xs:dateTime" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="Person" nillable="true" type="q1:Person" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonContactInfo" nillable="true" type="tns:PersonContactInfo" />
  <xs:complexType name="ContactInfoType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:LookupBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ContactInfoType" nillable="true" type="tns:ContactInfoType" />
  <xs:complexType name="ArrayOfPersonDocument">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonDocument" nillable="true" type="tns:PersonDocument" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonDocument" nillable="true" type="tns:ArrayOfPersonDocument" />
  <xs:complexType name="PersonDocument">
    <xs:sequence>
      <xs:element minOccurs="0" name="ModificationDate" nillable="true" type="xs:dateTime" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="Person" nillable="true" type="q2:Person" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="tns:DocumentType" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonDocument" nillable="true" type="tns:PersonDocument" />
  <xs:complexType name="DocumentType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:LookupBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DocumentType" nillable="true" type="tns:DocumentType" />
  <xs:complexType name="ArrayOfPersonEmployer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonEmployer" nillable="true" type="tns:PersonEmployer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonEmployer" nillable="true" type="tns:ArrayOfPersonEmployer" />
  <xs:complexType name="PersonEmployer">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayOrder" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Employer" nillable="true" type="tns:Employer" />
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ModificationDate" type="xs:dateTime" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="Person" nillable="true" type="q3:Person" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonEmployer" nillable="true" type="tns:PersonEmployer" />
  <xs:complexType name="Employer">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:LookupBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Employer" nillable="true" type="tns:Employer" />
  <xs:complexType name="ArrayOfPersonIndustry">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonIndustry" nillable="true" type="tns:PersonIndustry" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonIndustry" nillable="true" type="tns:ArrayOfPersonIndustry" />
  <xs:complexType name="PersonIndustry">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayOrder" type="xs:int" />
      <xs:element minOccurs="0" name="Industry" nillable="true" type="tns:Industry" />
      <xs:element minOccurs="0" name="ModificationDate" nillable="true" type="xs:dateTime" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="Person" nillable="true" type="q4:Person" />
      <xs:element minOccurs="0" name="YearsExperience" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonIndustry" nillable="true" type="tns:PersonIndustry" />
  <xs:complexType name="ArrayOfPersonQualification">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonQualification" nillable="true" type="tns:PersonQualification" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonQualification" nillable="true" type="tns:ArrayOfPersonQualification" />
  <xs:complexType name="PersonQualification">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayOrder" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Info" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModificationDate" type="xs:dateTime" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="Person" nillable="true" type="q5:Person" />
      <xs:element minOccurs="0" name="QualificationType" nillable="true" type="tns:QualificationType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonQualification" nillable="true" type="tns:PersonQualification" />
  <xs:complexType name="QualificationType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:LookupBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QualificationType" nillable="true" type="tns:QualificationType" />
  <xs:complexType name="ArrayOfPersonSkill">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonSkill" nillable="true" type="tns:PersonSkill" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonSkill" nillable="true" type="tns:ArrayOfPersonSkill" />
  <xs:complexType name="PersonSkill">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayOrder" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LastUsed" type="xs:int" />
      <xs:element minOccurs="0" name="ModificationDate" type="xs:dateTime" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="Person" nillable="true" type="q6:Person" />
      <xs:element minOccurs="0" name="Skill" nillable="true" type="tns:Skill" />
      <xs:element minOccurs="0" name="SkillLevel" nillable="true" type="tns:SkillLevel" />
      <xs:element minOccurs="0" name="YearsExperience" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonSkill" nillable="true" type="tns:PersonSkill" />
  <xs:complexType name="ArrayOfPersonTraining">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonTraining" nillable="true" type="tns:PersonTraining" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonTraining" nillable="true" type="tns:ArrayOfPersonTraining" />
  <xs:complexType name="PersonTraining">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayOrder" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Info" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Institution" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModificationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonTraining" nillable="true" type="tns:PersonTraining" />
</xs:schema>
