PracticeManagement/PracticeManagement/Service References/ClientService/ClientService2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.logic2020.com" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.logic2020.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.logic2020.com/Imports">
      <xsd:import schemaLocation="http://system64.ggk.com/PracticeManagementService/ClientService.svc?xsd=xsd0" namespace="http://www.logic2020.com" />
      <xsd:import schemaLocation="http://system64.ggk.com/PracticeManagementService/ClientService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://system64.ggk.com/PracticeManagementService/ClientService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects" />
      <xsd:import schemaLocation="http://system64.ggk.com/PracticeManagementService/ClientService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.Skills" />
      <xsd:import schemaLocation="http://system64.ggk.com/PracticeManagementService/ClientService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.Financials" />
      <xsd:import schemaLocation="http://system64.ggk.com/PracticeManagementService/ClientService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://system64.ggk.com/PracticeManagementService/ClientService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.TimeEntry" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClientService_SaveClientDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveClientDetail" />
  </wsdl:message>
  <wsdl:message name="IClientService_SaveClientDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveClientDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_GetClientDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClientDetail" />
  </wsdl:message>
  <wsdl:message name="IClientService_GetClientDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_GetClientDetailsShort_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClientDetailsShort" />
  </wsdl:message>
  <wsdl:message name="IClientService_GetClientDetailsShort_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientDetailsShortResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_UpdateStatusForClient_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStatusForClient" />
  </wsdl:message>
  <wsdl:message name="IClientService_UpdateStatusForClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStatusForClientResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_UpdateIsChargableForClient_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateIsChargableForClient" />
  </wsdl:message>
  <wsdl:message name="IClientService_UpdateIsChargableForClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateIsChargableForClientResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_ClientListAll_InputMessage">
    <wsdl:part name="parameters" element="tns:ClientListAll" />
  </wsdl:message>
  <wsdl:message name="IClientService_ClientListAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClientListAllResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_ClientListAllSecureByNewRule_InputMessage">
    <wsdl:part name="parameters" element="tns:ClientListAllSecureByNewRule" />
  </wsdl:message>
  <wsdl:message name="IClientService_ClientListAllSecureByNewRule_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClientListAllSecureByNewRuleResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_ClientListAllForProject_InputMessage">
    <wsdl:part name="parameters" element="tns:ClientListAllForProject" />
  </wsdl:message>
  <wsdl:message name="IClientService_ClientListAllForProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClientListAllForProjectResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_GetAllColorsForMargin_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllColorsForMargin" />
  </wsdl:message>
  <wsdl:message name="IClientService_GetAllColorsForMargin_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllColorsForMarginResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_GetClientMarginColorInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClientMarginColorInfo" />
  </wsdl:message>
  <wsdl:message name="IClientService_GetClientMarginColorInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientMarginColorInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_ClientListAllWithoutPermissions_InputMessage">
    <wsdl:part name="parameters" element="tns:ClientListAllWithoutPermissions" />
  </wsdl:message>
  <wsdl:message name="IClientService_ClientListAllWithoutPermissions_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClientListAllWithoutPermissionsResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_GetInternalAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInternalAccount" />
  </wsdl:message>
  <wsdl:message name="IClientService_GetInternalAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInternalAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_ClientIsNoteRequiredUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:ClientIsNoteRequiredUpdate" />
  </wsdl:message>
  <wsdl:message name="IClientService_ClientIsNoteRequiredUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClientIsNoteRequiredUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_PricingListInsert_InputMessage">
    <wsdl:part name="parameters" element="tns:PricingListInsert" />
  </wsdl:message>
  <wsdl:message name="IClientService_PricingListInsert_OutputMessage">
    <wsdl:part name="parameters" element="tns:PricingListInsertResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_PricingListDelete_InputMessage">
    <wsdl:part name="parameters" element="tns:PricingListDelete" />
  </wsdl:message>
  <wsdl:message name="IClientService_PricingListDelete_OutputMessage">
    <wsdl:part name="parameters" element="tns:PricingListDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_PricingListUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:PricingListUpdate" />
  </wsdl:message>
  <wsdl:message name="IClientService_PricingListUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:PricingListUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_GetPricingLists_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPricingLists" />
  </wsdl:message>
  <wsdl:message name="IClientService_GetPricingLists_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPricingListsResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_GetClientsForClientDirector_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClientsForClientDirector" />
  </wsdl:message>
  <wsdl:message name="IClientService_GetClientsForClientDirector_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientsForClientDirectorResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_GetBusinessUnitsForClients_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBusinessUnitsForClients" />
  </wsdl:message>
  <wsdl:message name="IClientService_GetBusinessUnitsForClients_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBusinessUnitsForClientsResponse" />
  </wsdl:message>
  <wsdl:portType name="IClientService">
    <wsdl:operation name="SaveClientDetail">
      <wsdl:input wsaw:Action="http://www.logic2020.com/IClientService/SaveClientDetail" message="tns:IClientService_SaveClientDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://www.logic2020.com/IClientService/SaveClientDetailResponse" message="tns:IClientService_SaveClientDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClientDetail">
      <wsdl:input wsaw:Action="http://www.logic2020.com/IClientService/GetClientDetail" message="tns:IClientService_GetClientDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://www.logic2020.com/IClientService/GetClientDetailResponse" message="tns:IClientService_GetClientDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClientDetailsShort">
      <wsdl:input wsaw:Action="http://www.logic2020.com/IClientService/GetClientDetailsShort" message="tns:IClientService_GetClientDetailsShort_InputMessage" />
      <wsdl:output wsaw:Action="http://www.logic2020.com/IClientService/GetClientDetailsShortResponse" message="tns:IClientService_GetClientDetailsShort_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStatusForClient">
      <wsdl:input wsaw:Action="http://www.logic2020.com/IClientService/UpdateStatusForClient" message="tns:IClientService_UpdateStatusForClient_InputMessage" />
      <wsdl:output wsaw:Action="http://www.logic2020.com/IClientService/UpdateStatusForClientResponse" message="tns:IClientService_UpdateStatusForClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateIsChargableForClient">
      <wsdl:input wsaw:Action="http://www.logic2020.com/IClientService/UpdateIsChargableForClient" message="tns:IClientService_UpdateIsChargableForClient_InputMessage" />
      <wsdl:output wsaw:Action="http://www.logic2020.com/IClientService/UpdateIsChargableForClientResponse" message="tns:IClientService_UpdateIsChargableForClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClientListAll">
      <wsdl:input wsaw:Action="http://www.logic2020.com/IClientService/ClientListAll" message="tns:IClientService_ClientListAll_InputMessage" />
      <wsdl:output wsaw:Action="http://www.logic2020.com/IClientService/ClientListAllResponse" message="tns:IClientService_ClientListAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClientListAllSecureByNewRule">
      <wsdl:input wsaw:Action="http://www.logic2020.com/IClientService/ClientListAllSecureByNewRule" message="tns:IClientService_ClientListAllSecureByNewRule_InputMessage" />
      <wsdl:output wsaw:Action="http://www.logic2020.com/IClientService/ClientListAllSecureByNewRuleResponse" message="tns:IClientService_ClientListAllSecureByNewRule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClientListAllForProject">
      <wsdl:input wsaw:Action="http://www.logic2020.com/IClientService/ClientListAllForProject" message="tns:IClientService_ClientListAllForProject_InputMessage" />
      <wsdl:output wsaw:Action="http://www.logic2020.com/IClientService/ClientListAllForProjectResponse" message="tns:IClientService_ClientListAllForProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllColorsForMargin">
      <wsdl:input wsaw:Action="http://www.logic2020.com/IClientService/GetAllColorsForMargin" message="tns:IClientService_GetAllColorsForMargin_InputMessage" />
      <wsdl:output wsaw:Action="http://www.logic2020.com/IClientService/GetAllColorsForMarginResponse" message="tns:IClientService_GetAllColorsForMargin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClientMarginColorInfo">
      <wsdl:input wsaw:Action="http://www.logic2020.com/IClientService/GetClientMarginColorInfo" message="tns:IClientService_GetClientMarginColorInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://www.logic2020.com/IClientService/GetClientMarginColorInfoResponse" message="tns:IClientService_GetClientMarginColorInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClientListAllWithoutPermissions">
      <wsdl:input wsaw:Action="http://www.logic2020.com/IClientService/ClientListAllWithoutPermissions" message="tns:IClientService_ClientListAllWithoutPermissions_InputMessage" />
      <wsdl:output wsaw:Action="http://www.logic2020.com/IClientService/ClientListAllWithoutPermissionsResponse" message="tns:IClientService_ClientListAllWithoutPermissions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInternalAccount">
      <wsdl:input wsaw:Action="http://www.logic2020.com/IClientService/GetInternalAccount" message="tns:IClientService_GetInternalAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://www.logic2020.com/IClientService/GetInternalAccountResponse" message="tns:IClientService_GetInternalAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClientIsNoteRequiredUpdate">
      <wsdl:input wsaw:Action="http://www.logic2020.com/IClientService/ClientIsNoteRequiredUpdate" message="tns:IClientService_ClientIsNoteRequiredUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://www.logic2020.com/IClientService/ClientIsNoteRequiredUpdateResponse" message="tns:IClientService_ClientIsNoteRequiredUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PricingListInsert">
      <wsdl:input wsaw:Action="http://www.logic2020.com/IClientService/PricingListInsert" message="tns:IClientService_PricingListInsert_InputMessage" />
      <wsdl:output wsaw:Action="http://www.logic2020.com/IClientService/PricingListInsertResponse" message="tns:IClientService_PricingListInsert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PricingListDelete">
      <wsdl:input wsaw:Action="http://www.logic2020.com/IClientService/PricingListDelete" message="tns:IClientService_PricingListDelete_InputMessage" />
      <wsdl:output wsaw:Action="http://www.logic2020.com/IClientService/PricingListDeleteResponse" message="tns:IClientService_PricingListDelete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PricingListUpdate">
      <wsdl:input wsaw:Action="http://www.logic2020.com/IClientService/PricingListUpdate" message="tns:IClientService_PricingListUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://www.logic2020.com/IClientService/PricingListUpdateResponse" message="tns:IClientService_PricingListUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPricingLists">
      <wsdl:input wsaw:Action="http://www.logic2020.com/IClientService/GetPricingLists" message="tns:IClientService_GetPricingLists_InputMessage" />
      <wsdl:output wsaw:Action="http://www.logic2020.com/IClientService/GetPricingListsResponse" message="tns:IClientService_GetPricingLists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClientsForClientDirector">
      <wsdl:input wsaw:Action="http://www.logic2020.com/IClientService/GetClientsForClientDirector" message="tns:IClientService_GetClientsForClientDirector_InputMessage" />
      <wsdl:output wsaw:Action="http://www.logic2020.com/IClientService/GetClientsForClientDirectorResponse" message="tns:IClientService_GetClientsForClientDirector_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBusinessUnitsForClients">
      <wsdl:input wsaw:Action="http://www.logic2020.com/IClientService/GetBusinessUnitsForClients" message="tns:IClientService_GetBusinessUnitsForClients_InputMessage" />
      <wsdl:output wsaw:Action="http://www.logic2020.com/IClientService/GetBusinessUnitsForClientsResponse" message="tns:IClientService_GetBusinessUnitsForClients_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>
