PracticeManagement/PracticeManagement/Service References/ProjectStatusService/ProjectStatusService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ws60/PracticeManagementService/ProjectStatusService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects" />
  <xs:element name="GetProjectStatuses">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProjectStatusesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetProjectStatusesResult" nillable="true" type="q1:ArrayOfProjectStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
