PracticeManagement/PracticeManagement/Service References/OpportunityService/OpportunityService7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ws60/PracticeManagementService/OpportunityService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects" />
  <xs:element name="OpportunityGetExcelSet">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OpportunityGetExcelSetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OpportunityGetExcelSetResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpportunityListPrevNext">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="activeOnly" type="xs:boolean" />
        <xs:element minOccurs="0" name="clientId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="salespersonId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="currentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpportunityListPrevNextResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="OpportunityListPrevNextResult" nillable="true" type="q1:ArrayOfOpportunity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpportunityTransitions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="opportunityId" type="xs:int" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="statusType" type="q2:OpportunityTransitionStatusType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpportunityTransitionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetOpportunityTransitionsResult" nillable="true" type="q3:ArrayOfOpportunityTransition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpportunityTransitionInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="transition" nillable="true" type="q4:OpportunityTransition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpportunityTransitionInsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OpportunityTransitionInsertResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpportunityTransitionDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="transitionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpportunityTransitionDeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OpportunityListAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="activeOnly" type="xs:boolean" />
        <xs:element minOccurs="0" name="looked" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="salespersonId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="targetPersonId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpportunityListAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="OpportunityListAllResult" nillable="true" type="q5:ArrayOfOpportunity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="opportunityId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetByIdResult" nillable="true" type="q6:Opportunity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpportunitySave">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="opportunity" nillable="true" type="q7:Opportunity" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpportunitySaveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OpportunityStatusListAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OpportunityStatusListAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="OpportunityStatusListAllResult" nillable="true" type="q8:ArrayOfOpportunityStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpportunityTransitionStatusListAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OpportunityTransitionStatusListAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="OpportunityTransitionStatusListAllResult" nillable="true" type="q9:ArrayOfOpportunityTransitionStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpportunityConvertToProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="opportunityId" type="xs:int" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpportunityConvertToProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OpportunityConvertToProjectResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
