PracticeManagement/PracticeManagement/Service References/OpportunityService/OpportunityService11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://system68.ggk.com/PracticeManagementService/OpportunityService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects" />
  <xs:import schemaLocation="http://system68.ggk.com/PracticeManagementService/OpportunityService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.ContextObjects" />
  <xs:import schemaLocation="http://system68.ggk.com/PracticeManagementService/OpportunityService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="UpdatePriorityIdForOpportunity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="opportunityId" type="xs:int" />
        <xs:element minOccurs="0" name="priorityId" type="xs:int" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePriorityIdForOpportunityResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AttachProjectToOpportunity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="opportunityId" type="xs:int" />
        <xs:element minOccurs="0" name="projectId" type="xs:int" />
        <xs:element minOccurs="0" name="priorityId" type="xs:int" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isOpportunityDescriptionSelected" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AttachProjectToOpportunityResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OpportunityGetExcelSet">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OpportunityGetExcelSetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OpportunityGetExcelSetResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsOpportunityPriorityInUse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="priorityId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsOpportunityPriorityInUseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsOpportunityPriorityInUseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsOpportunityHaveTeamStructure">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="opportunityId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsOpportunityHaveTeamStructureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsOpportunityHaveTeamStructureResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpportunityTransitions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="opportunityId" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="statusType" type="q1:OpportunityTransitionStatusType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpportunityTransitionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetOpportunityTransitionsResult" nillable="true" type="q2:ArrayOfOpportunityTransition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpportunityTransitionsByPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="personId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpportunityTransitionsByPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetOpportunityTransitionsByPersonResult" nillable="true" type="q3:ArrayOfOpportunityTransition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpportunityTransitionInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="transition" nillable="true" type="q4:OpportunityTransition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpportunityTransitionInsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OpportunityTransitionInsertResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpportunityTransitionDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="transitionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpportunityTransitionDeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OpportunityListAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DataTransferObjects.ContextObjects" minOccurs="0" name="context" nillable="true" type="q5:OpportunityListContext" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpportunityListAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="OpportunityListAllResult" nillable="true" type="q6:ArrayOfOpportunity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpportunityPrioritiesListAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpportunityPrioritiesListAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetOpportunityPrioritiesListAllResult" nillable="true" type="q7:ArrayOfOpportunityPriority" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpportunityPriorities">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isinserted" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpportunityPrioritiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetOpportunityPrioritiesResult" nillable="true" type="q8:ArrayOfOpportunityPriority" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertOpportunityPriority">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="opportunityPriority" nillable="true" type="q9:OpportunityPriority" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertOpportunityPriorityResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOpportunityPriority">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="oldPriorityId" type="xs:int" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="opportunityPriority" nillable="true" type="q10:OpportunityPriority" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOpportunityPriorityResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOpportunityPriority">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updatedPriorityId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="deletedPriorityId" type="xs:int" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOpportunityPriorityResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="opportunityId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetByIdResult" nillable="true" type="q11:Opportunity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpportunitySave">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="opportunity" nillable="true" type="q12:Opportunity" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpportunitySaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OpportunitySaveResult" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpportunityStatusListAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OpportunityStatusListAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="OpportunityStatusListAllResult" nillable="true" type="q13:ArrayOfOpportunityStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpportunityTransitionStatusListAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OpportunityTransitionStatusListAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="OpportunityTransitionStatusListAllResult" nillable="true" type="q14:ArrayOfOpportunityTransitionStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpportunityId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="opportunityNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpportunityIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetOpportunityIdResult" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpportunityPersons">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="opportunityId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpportunityPersonsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="GetOpportunityPersonsResult" nillable="true" type="q15:ArrayOfOpportunityPerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertOpportunityToProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="opportunityId" type="xs:int" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hasPersons" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertOpportunityToProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConvertOpportunityToProjectResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpportunityPersonInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="opportunityId" type="xs:int" />
        <xs:element minOccurs="0" name="personIdList" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="relationTypeId" type="xs:int" />
        <xs:element minOccurs="0" name="outSideResources" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpportunityPersonInsertResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OpportunityPersonDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="opportunityId" type="xs:int" />
        <xs:element minOccurs="0" name="personIdList" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpportunityPersonDeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OpportunityDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="opportunityId" type="xs:int" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpportunityDeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpportunityPriorityTransitionCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="daysPrevious" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpportunityPriorityTransitionCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetOpportunityPriorityTransitionCountResult" nillable="true" type="q16:ArrayOfKeyValueOfstringint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpportunityStatusChangeCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="daysPrevious" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpportunityStatusChangeCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetOpportunityStatusChangeCountResult" nillable="true" type="q17:ArrayOfKeyValueOfstringint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FilteredOpportunityListAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="showActive" type="xs:boolean" />
        <xs:element minOccurs="0" name="showExperimental" type="xs:boolean" />
        <xs:element minOccurs="0" name="showInactive" type="xs:boolean" />
        <xs:element minOccurs="0" name="showLost" type="xs:boolean" />
        <xs:element minOccurs="0" name="showWon" type="xs:boolean" />
        <xs:element minOccurs="0" name="clientIdsList" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="opportunityGroupIdsList" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="opportunityOwnerIdsList" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="salespersonIdsList" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FilteredOpportunityListAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="FilteredOpportunityListAllResult" nillable="true" type="q18:ArrayOfOpportunity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpportunitySearchText">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="looked" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="personId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpportunitySearchTextResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="OpportunitySearchTextResult" nillable="true" type="q19:ArrayOfOpportunity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpportunityListWithMinimumDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="attach" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpportunityListWithMinimumDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="OpportunityListWithMinimumDetailsResult" nillable="true" type="q20:ArrayOfOpportunity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
