PracticeManagement/PracticeManagement/Service References/OpportunityService/OpportunityService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OpportunityService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://system68.ggk.com/PracticeManagementService/OpportunityService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://system68.ggk.com/PracticeManagementService/OpportunityService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://system68.ggk.com/PracticeManagementService/OpportunityService.svc?xsd=xsd2" />
      <xsd:import schemaLocation="http://system68.ggk.com/PracticeManagementService/OpportunityService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects" />
      <xsd:import schemaLocation="http://system68.ggk.com/PracticeManagementService/OpportunityService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://system68.ggk.com/PracticeManagementService/OpportunityService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.Skills" />
      <xsd:import schemaLocation="http://system68.ggk.com/PracticeManagementService/OpportunityService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.ContextObjects" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOpportunityService_UpdatePriorityIdForOpportunity_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePriorityIdForOpportunity" />
  </wsdl:message>
  <wsdl:message name="IOpportunityService_UpdatePriorityIdForOpportunity_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePriorityIdForOpportunityResponse" />
  </wsdl:message>
  <wsdl:message name="IOpportunityService_AttachProjectToOpportunity_InputMessage">
    <wsdl:part name="parameters" element="tns:AttachProjectToOpportunity" />
  </wsdl:message>
  <wsdl:message name="IOpportunityService_AttachProjectToOpportunity_OutputMessage">
    <wsdl:part name="parameters" element="tns:AttachProjectToOpportunityResponse" />
  </wsdl:message>
  <wsdl:message name="IOpportunityService_OpportunityGetExcelSet_InputMessage">
    <wsdl:part name="parameters" element="tns:OpportunityGetExcelSet" />
  </wsdl:message>
  <wsdl:message name="IOpportunityService_OpportunityGetExcelSet_OutputMessage">
    <wsdl:part name="parameters" element="tns:OpportunityGetExcelSetResponse" />
  </wsdl:message>
  <wsdl:message name="IOpportunityService_IsOpportunityPriorityInUse_InputMessage">
    <wsdl:part name="parameters" element="tns:IsOpportunityPriorityInUse" />
  </wsdl:message>
  <wsdl:message name="IOpportunityService_IsOpportunityPriorityInUse_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsOpportunityPriorityInUseResponse" />
  </wsdl:message>
  <wsdl:message name="IOpportunityService_IsOpportunityHaveTeamStructure_InputMessage">
    <wsdl:part name="parameters" element="tns:IsOpportunityHaveTeamStructure" />
  </wsdl:message>
  <wsdl:message name="IOpportunityService_IsOpportunityHaveTeamStructure_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsOpportunityHaveTeamStructureResponse" />
  </wsdl:message>
  <wsdl:message name="IOpportunityService_GetOpportunityTransitions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOpportunityTransitions" />
  </wsdl:message>
  <wsdl:message name="IOpportunityService_GetOpportunityTransitions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOpportunityTransitionsResponse" />
  </wsdl:message>
  <wsdl:message name="IOpportunityService_GetOpportunityTransitionsByPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOpportunityTransitionsByPerson" />
  </wsdl:message>
  <wsdl:message name="IOpportunityService_GetOpportunityTransitionsByPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOpportunityTransitionsByPersonResponse" />
  </wsdl:message>
  <wsdl:message name="IOpportunityService_OpportunityTransitionInsert_InputMessage">
    <wsdl:part name="parameters" element="tns:OpportunityTransitionInsert" />
  </wsdl:message>
  <wsdl:message name="IOpportunityService_OpportunityTransitionInsert_OutputMessage">
    <wsdl:part name="parameters" element="tns:OpportunityTransitionInsertResponse" />
  </wsdl:message>
  <wsdl:message name="IOpportunityService_OpportunityTransitionDelete_InputMessage">
    <wsdl:part name="parameters" element="tns:OpportunityTransitionDelete" />
  </wsdl:message>
  <wsdl:message name="IOpportunityService_OpportunityTransitionDelete_OutputMessage">
    <wsdl:part name="parameters" element="tns:OpportunityTransitionDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IOpportunityService_OpportunityListAll_InputMessage">
    <wsdl:part name="parameters" element="tns:OpportunityListAll" />
  </wsdl:message>
  <wsdl:message name="IOpportunityService_OpportunityListAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:OpportunityListAllResponse" />
  </wsdl:message>
  <wsdl:message name="IOpportunityService_GetOpportunityPrioritiesListAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOpportunityPrioritiesListAll" />
  </wsdl:message>
  <wsdl:message name="IOpportunityService_GetOpportunityPrioritiesListAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOpportunityPrioritiesListAllResponse" />
  </wsdl:message>
  <wsdl:message name="IOpportunityService_GetOpportunityPriorities_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOpportunityPriorities" />
  </wsdl:message>
  <wsdl:message name="IOpportunityService_GetOpportunityPriorities_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOpportunityPrioritiesResponse" />
  </wsdl:message>
  <wsdl:message name="IOpportunityService_InsertOpportunityPriority_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertOpportunityPriority" />
  </wsdl:message>
  <wsdl:message name="IOpportunityService_InsertOpportunityPriority_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertOpportunityPriorityResponse" />
  </wsdl:message>
  <wsdl:message name="IOpportunityService_UpdateOpportunityPriority_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOpportunityPriority" />
  </wsdl:message>
  <wsdl:message name="IOpportunityService_UpdateOpportunityPriority_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOpportunityPriorityResponse" />
  </wsdl:message>
  <wsdl:message name="IOpportunityService_DeleteOpportunityPriority_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOpportunityPriority" />
  </wsdl:message>
  <wsdl:message name="IOpportunityService_DeleteOpportunityPriority_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOpportunityPriorityResponse" />
  </wsdl:message>
  <wsdl:message name="IOpportunityService_GetById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetById" />
  </wsdl:message>
  <wsdl:message name="IOpportunityService_GetById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IOpportunityService_OpportunitySave_InputMessage">
    <wsdl:part name="parameters" element="tns:OpportunitySave" />
  </wsdl:message>
  <wsdl:message name="IOpportunityService_OpportunitySave_OutputMessage">
    <wsdl:part name="parameters" element="tns:OpportunitySaveResponse" />
  </wsdl:message>
  <wsdl:message name="IOpportunityService_OpportunityStatusListAll_InputMessage">
    <wsdl:part name="parameters" element="tns:OpportunityStatusListAll" />
  </wsdl:message>
  <wsdl:message name="IOpportunityService_OpportunityStatusListAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:OpportunityStatusListAllResponse" />
  </wsdl:message>
  <wsdl:message name="IOpportunityService_OpportunityTransitionStatusListAll_InputMessage">
    <wsdl:part name="parameters" element="tns:OpportunityTransitionStatusListAll" />
  </wsdl:message>
  <wsdl:message name="IOpportunityService_OpportunityTransitionStatusListAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:OpportunityTransitionStatusListAllResponse" />
  </wsdl:message>
  <wsdl:message name="IOpportunityService_GetOpportunityId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOpportunityId" />
  </wsdl:message>
  <wsdl:message name="IOpportunityService_GetOpportunityId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOpportunityIdResponse" />
  </wsdl:message>
  <wsdl:message name="IOpportunityService_GetOpportunityPersons_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOpportunityPersons" />
  </wsdl:message>
  <wsdl:message name="IOpportunityService_GetOpportunityPersons_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOpportunityPersonsResponse" />
  </wsdl:message>
  <wsdl:message name="IOpportunityService_ConvertOpportunityToProject_InputMessage">
    <wsdl:part name="parameters" element="tns:ConvertOpportunityToProject" />
  </wsdl:message>
  <wsdl:message name="IOpportunityService_ConvertOpportunityToProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConvertOpportunityToProjectResponse" />
  </wsdl:message>
  <wsdl:message name="IOpportunityService_OpportunityPersonInsert_InputMessage">
    <wsdl:part name="parameters" element="tns:OpportunityPersonInsert" />
  </wsdl:message>
  <wsdl:message name="IOpportunityService_OpportunityPersonInsert_OutputMessage">
    <wsdl:part name="parameters" element="tns:OpportunityPersonInsertResponse" />
  </wsdl:message>
  <wsdl:message name="IOpportunityService_OpportunityPersonDelete_InputMessage">
    <wsdl:part name="parameters" element="tns:OpportunityPersonDelete" />
  </wsdl:message>
  <wsdl:message name="IOpportunityService_OpportunityPersonDelete_OutputMessage">
    <wsdl:part name="parameters" element="tns:OpportunityPersonDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IOpportunityService_OpportunityDelete_InputMessage">
    <wsdl:part name="parameters" element="tns:OpportunityDelete" />
  </wsdl:message>
  <wsdl:message name="IOpportunityService_OpportunityDelete_OutputMessage">
    <wsdl:part name="parameters" element="tns:OpportunityDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IOpportunityService_GetOpportunityPriorityTransitionCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOpportunityPriorityTransitionCount" />
  </wsdl:message>
  <wsdl:message name="IOpportunityService_GetOpportunityPriorityTransitionCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOpportunityPriorityTransitionCountResponse" />
  </wsdl:message>
  <wsdl:message name="IOpportunityService_GetOpportunityStatusChangeCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOpportunityStatusChangeCount" />
  </wsdl:message>
  <wsdl:message name="IOpportunityService_GetOpportunityStatusChangeCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOpportunityStatusChangeCountResponse" />
  </wsdl:message>
  <wsdl:message name="IOpportunityService_FilteredOpportunityListAll_InputMessage">
    <wsdl:part name="parameters" element="tns:FilteredOpportunityListAll" />
  </wsdl:message>
  <wsdl:message name="IOpportunityService_FilteredOpportunityListAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:FilteredOpportunityListAllResponse" />
  </wsdl:message>
  <wsdl:message name="IOpportunityService_OpportunitySearchText_InputMessage">
    <wsdl:part name="parameters" element="tns:OpportunitySearchText" />
  </wsdl:message>
  <wsdl:message name="IOpportunityService_OpportunitySearchText_OutputMessage">
    <wsdl:part name="parameters" element="tns:OpportunitySearchTextResponse" />
  </wsdl:message>
  <wsdl:message name="IOpportunityService_OpportunityListWithMinimumDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:OpportunityListWithMinimumDetails" />
  </wsdl:message>
  <wsdl:message name="IOpportunityService_OpportunityListWithMinimumDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:OpportunityListWithMinimumDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="IOpportunityService">
    <wsdl:operation name="UpdatePriorityIdForOpportunity">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpportunityService/UpdatePriorityIdForOpportunity" message="tns:IOpportunityService_UpdatePriorityIdForOpportunity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpportunityService/UpdatePriorityIdForOpportunityResponse" message="tns:IOpportunityService_UpdatePriorityIdForOpportunity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AttachProjectToOpportunity">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpportunityService/AttachProjectToOpportunity" message="tns:IOpportunityService_AttachProjectToOpportunity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpportunityService/AttachProjectToOpportunityResponse" message="tns:IOpportunityService_AttachProjectToOpportunity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OpportunityGetExcelSet">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpportunityService/OpportunityGetExcelSet" message="tns:IOpportunityService_OpportunityGetExcelSet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpportunityService/OpportunityGetExcelSetResponse" message="tns:IOpportunityService_OpportunityGetExcelSet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsOpportunityPriorityInUse">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpportunityService/IsOpportunityPriorityInUse" message="tns:IOpportunityService_IsOpportunityPriorityInUse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpportunityService/IsOpportunityPriorityInUseResponse" message="tns:IOpportunityService_IsOpportunityPriorityInUse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsOpportunityHaveTeamStructure">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpportunityService/IsOpportunityHaveTeamStructure" message="tns:IOpportunityService_IsOpportunityHaveTeamStructure_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpportunityService/IsOpportunityHaveTeamStructureResponse" message="tns:IOpportunityService_IsOpportunityHaveTeamStructure_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOpportunityTransitions">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpportunityService/GetOpportunityTransitions" message="tns:IOpportunityService_GetOpportunityTransitions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpportunityService/GetOpportunityTransitionsResponse" message="tns:IOpportunityService_GetOpportunityTransitions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOpportunityTransitionsByPerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpportunityService/GetOpportunityTransitionsByPerson" message="tns:IOpportunityService_GetOpportunityTransitionsByPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpportunityService/GetOpportunityTransitionsByPersonResponse" message="tns:IOpportunityService_GetOpportunityTransitionsByPerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OpportunityTransitionInsert">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpportunityService/OpportunityTransitionInsert" message="tns:IOpportunityService_OpportunityTransitionInsert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpportunityService/OpportunityTransitionInsertResponse" message="tns:IOpportunityService_OpportunityTransitionInsert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OpportunityTransitionDelete">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpportunityService/OpportunityTransitionDelete" message="tns:IOpportunityService_OpportunityTransitionDelete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpportunityService/OpportunityTransitionDeleteResponse" message="tns:IOpportunityService_OpportunityTransitionDelete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OpportunityListAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpportunityService/OpportunityListAll" message="tns:IOpportunityService_OpportunityListAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpportunityService/OpportunityListAllResponse" message="tns:IOpportunityService_OpportunityListAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOpportunityPrioritiesListAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpportunityService/GetOpportunityPrioritiesListAll" message="tns:IOpportunityService_GetOpportunityPrioritiesListAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpportunityService/GetOpportunityPrioritiesListAllResponse" message="tns:IOpportunityService_GetOpportunityPrioritiesListAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOpportunityPriorities">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpportunityService/GetOpportunityPriorities" message="tns:IOpportunityService_GetOpportunityPriorities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpportunityService/GetOpportunityPrioritiesResponse" message="tns:IOpportunityService_GetOpportunityPriorities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertOpportunityPriority">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpportunityService/InsertOpportunityPriority" message="tns:IOpportunityService_InsertOpportunityPriority_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpportunityService/InsertOpportunityPriorityResponse" message="tns:IOpportunityService_InsertOpportunityPriority_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOpportunityPriority">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpportunityService/UpdateOpportunityPriority" message="tns:IOpportunityService_UpdateOpportunityPriority_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpportunityService/UpdateOpportunityPriorityResponse" message="tns:IOpportunityService_UpdateOpportunityPriority_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteOpportunityPriority">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpportunityService/DeleteOpportunityPriority" message="tns:IOpportunityService_DeleteOpportunityPriority_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpportunityService/DeleteOpportunityPriorityResponse" message="tns:IOpportunityService_DeleteOpportunityPriority_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpportunityService/GetById" message="tns:IOpportunityService_GetById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpportunityService/GetByIdResponse" message="tns:IOpportunityService_GetById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OpportunitySave">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpportunityService/OpportunitySave" message="tns:IOpportunityService_OpportunitySave_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpportunityService/OpportunitySaveResponse" message="tns:IOpportunityService_OpportunitySave_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OpportunityStatusListAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpportunityService/OpportunityStatusListAll" message="tns:IOpportunityService_OpportunityStatusListAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpportunityService/OpportunityStatusListAllResponse" message="tns:IOpportunityService_OpportunityStatusListAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OpportunityTransitionStatusListAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpportunityService/OpportunityTransitionStatusListAll" message="tns:IOpportunityService_OpportunityTransitionStatusListAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpportunityService/OpportunityTransitionStatusListAllResponse" message="tns:IOpportunityService_OpportunityTransitionStatusListAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOpportunityId">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpportunityService/GetOpportunityId" message="tns:IOpportunityService_GetOpportunityId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpportunityService/GetOpportunityIdResponse" message="tns:IOpportunityService_GetOpportunityId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOpportunityPersons">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpportunityService/GetOpportunityPersons" message="tns:IOpportunityService_GetOpportunityPersons_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpportunityService/GetOpportunityPersonsResponse" message="tns:IOpportunityService_GetOpportunityPersons_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConvertOpportunityToProject">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpportunityService/ConvertOpportunityToProject" message="tns:IOpportunityService_ConvertOpportunityToProject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpportunityService/ConvertOpportunityToProjectResponse" message="tns:IOpportunityService_ConvertOpportunityToProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OpportunityPersonInsert">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpportunityService/OpportunityPersonInsert" message="tns:IOpportunityService_OpportunityPersonInsert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpportunityService/OpportunityPersonInsertResponse" message="tns:IOpportunityService_OpportunityPersonInsert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OpportunityPersonDelete">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpportunityService/OpportunityPersonDelete" message="tns:IOpportunityService_OpportunityPersonDelete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpportunityService/OpportunityPersonDeleteResponse" message="tns:IOpportunityService_OpportunityPersonDelete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OpportunityDelete">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpportunityService/OpportunityDelete" message="tns:IOpportunityService_OpportunityDelete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpportunityService/OpportunityDeleteResponse" message="tns:IOpportunityService_OpportunityDelete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOpportunityPriorityTransitionCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpportunityService/GetOpportunityPriorityTransitionCount" message="tns:IOpportunityService_GetOpportunityPriorityTransitionCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpportunityService/GetOpportunityPriorityTransitionCountResponse" message="tns:IOpportunityService_GetOpportunityPriorityTransitionCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOpportunityStatusChangeCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpportunityService/GetOpportunityStatusChangeCount" message="tns:IOpportunityService_GetOpportunityStatusChangeCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpportunityService/GetOpportunityStatusChangeCountResponse" message="tns:IOpportunityService_GetOpportunityStatusChangeCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FilteredOpportunityListAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpportunityService/FilteredOpportunityListAll" message="tns:IOpportunityService_FilteredOpportunityListAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpportunityService/FilteredOpportunityListAllResponse" message="tns:IOpportunityService_FilteredOpportunityListAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OpportunitySearchText">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpportunityService/OpportunitySearchText" message="tns:IOpportunityService_OpportunitySearchText_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpportunityService/OpportunitySearchTextResponse" message="tns:IOpportunityService_OpportunitySearchText_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OpportunityListWithMinimumDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpportunityService/OpportunityListWithMinimumDetails" message="tns:IOpportunityService_OpportunityListWithMinimumDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpportunityService/OpportunityListWithMinimumDetailsResponse" message="tns:IOpportunityService_OpportunityListWithMinimumDetails_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOpportunityService" type="tns:IOpportunityService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdatePriorityIdForOpportunity">
      <soap:operation soapAction="http://tempuri.org/IOpportunityService/UpdatePriorityIdForOpportunity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AttachProjectToOpportunity">
      <soap:operation soapAction="http://tempuri.org/IOpportunityService/AttachProjectToOpportunity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpportunityGetExcelSet">
      <soap:operation soapAction="http://tempuri.org/IOpportunityService/OpportunityGetExcelSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsOpportunityPriorityInUse">
      <soap:operation soapAction="http://tempuri.org/IOpportunityService/IsOpportunityPriorityInUse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsOpportunityHaveTeamStructure">
      <soap:operation soapAction="http://tempuri.org/IOpportunityService/IsOpportunityHaveTeamStructure" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOpportunityTransitions">
      <soap:operation soapAction="http://tempuri.org/IOpportunityService/GetOpportunityTransitions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOpportunityTransitionsByPerson">
      <soap:operation soapAction="http://tempuri.org/IOpportunityService/GetOpportunityTransitionsByPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpportunityTransitionInsert">
      <soap:operation soapAction="http://tempuri.org/IOpportunityService/OpportunityTransitionInsert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpportunityTransitionDelete">
      <soap:operation soapAction="http://tempuri.org/IOpportunityService/OpportunityTransitionDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpportunityListAll">
      <soap:operation soapAction="http://tempuri.org/IOpportunityService/OpportunityListAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOpportunityPrioritiesListAll">
      <soap:operation soapAction="http://tempuri.org/IOpportunityService/GetOpportunityPrioritiesListAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOpportunityPriorities">
      <soap:operation soapAction="http://tempuri.org/IOpportunityService/GetOpportunityPriorities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertOpportunityPriority">
      <soap:operation soapAction="http://tempuri.org/IOpportunityService/InsertOpportunityPriority" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOpportunityPriority">
      <soap:operation soapAction="http://tempuri.org/IOpportunityService/UpdateOpportunityPriority" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteOpportunityPriority">
      <soap:operation soapAction="http://tempuri.org/IOpportunityService/DeleteOpportunityPriority" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <soap:operation soapAction="http://tempuri.org/IOpportunityService/GetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpportunitySave">
      <soap:operation soapAction="http://tempuri.org/IOpportunityService/OpportunitySave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpportunityStatusListAll">
      <soap:operation soapAction="http://tempuri.org/IOpportunityService/OpportunityStatusListAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpportunityTransitionStatusListAll">
      <soap:operation soapAction="http://tempuri.org/IOpportunityService/OpportunityTransitionStatusListAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOpportunityId">
      <soap:operation soapAction="http://tempuri.org/IOpportunityService/GetOpportunityId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOpportunityPersons">
      <soap:operation soapAction="http://tempuri.org/IOpportunityService/GetOpportunityPersons" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertOpportunityToProject">
      <soap:operation soapAction="http://tempuri.org/IOpportunityService/ConvertOpportunityToProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpportunityPersonInsert">
      <soap:operation soapAction="http://tempuri.org/IOpportunityService/OpportunityPersonInsert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpportunityPersonDelete">
      <soap:operation soapAction="http://tempuri.org/IOpportunityService/OpportunityPersonDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpportunityDelete">
      <soap:operation soapAction="http://tempuri.org/IOpportunityService/OpportunityDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOpportunityPriorityTransitionCount">
      <soap:operation soapAction="http://tempuri.org/IOpportunityService/GetOpportunityPriorityTransitionCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOpportunityStatusChangeCount">
      <soap:operation soapAction="http://tempuri.org/IOpportunityService/GetOpportunityStatusChangeCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FilteredOpportunityListAll">
      <soap:operation soapAction="http://tempuri.org/IOpportunityService/FilteredOpportunityListAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpportunitySearchText">
      <soap:operation soapAction="http://tempuri.org/IOpportunityService/OpportunitySearchText" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpportunityListWithMinimumDetails">
      <soap:operation soapAction="http://tempuri.org/IOpportunityService/OpportunityListWithMinimumDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OpportunityService">
    <wsdl:port name="BasicHttpBinding_IOpportunityService" binding="tns:BasicHttpBinding_IOpportunityService">
      <soap:address location="http://system68.ggk.com/PracticeManagementService/OpportunityService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
