PracticeManagement/PracticeManagement/Service References/OpportunityService/OpportunityService13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataTransferObjects.ContextObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.ContextObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="OpportunityListContext">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActiveClientsOnly" type="xs:boolean" />
      <xs:element minOccurs="0" name="ClientId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CurrentId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IsDiscussionReview2" type="xs:boolean" />
      <xs:element minOccurs="0" name="SalespersonId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SearchText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetPersonId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OpportunityListContext" nillable="true" type="tns:OpportunityListContext" />
</xs:schema>
