PracticeManagement/PracticeManagement/Service References/ActivityLogService/ActivityLogService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ActivityLogService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://system68.ggk.com/PracticeManagementService/ActivityLogService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://system68.ggk.com/PracticeManagementService/ActivityLogService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://system68.ggk.com/PracticeManagementService/ActivityLogService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.ContextObjects" />
      <xsd:import schemaLocation="http://system68.ggk.com/PracticeManagementService/ActivityLogService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects" />
      <xsd:import schemaLocation="http://system68.ggk.com/PracticeManagementService/ActivityLogService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://system68.ggk.com/PracticeManagementService/ActivityLogService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.Skills" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IActivityLogService_ActivityLogList_InputMessage">
    <wsdl:part name="parameters" element="tns:ActivityLogList" />
  </wsdl:message>
  <wsdl:message name="IActivityLogService_ActivityLogList_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActivityLogListResponse" />
  </wsdl:message>
  <wsdl:message name="IActivityLogService_ActivityLogGetCount_InputMessage">
    <wsdl:part name="parameters" element="tns:ActivityLogGetCount" />
  </wsdl:message>
  <wsdl:message name="IActivityLogService_ActivityLogGetCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActivityLogGetCountResponse" />
  </wsdl:message>
  <wsdl:message name="IActivityLogService_ActivityLogInsert_InputMessage">
    <wsdl:part name="parameters" element="tns:ActivityLogInsert" />
  </wsdl:message>
  <wsdl:message name="IActivityLogService_ActivityLogInsert_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActivityLogInsertResponse" />
  </wsdl:message>
  <wsdl:message name="IActivityLogService_GetDatabaseVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDatabaseVersion" />
  </wsdl:message>
  <wsdl:message name="IActivityLogService_GetDatabaseVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDatabaseVersionResponse" />
  </wsdl:message>
  <wsdl:portType name="IActivityLogService">
    <wsdl:operation name="ActivityLogList">
      <wsdl:input wsaw:Action="http://tempuri.org/IActivityLogService/ActivityLogList" message="tns:IActivityLogService_ActivityLogList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IActivityLogService/ActivityLogListResponse" message="tns:IActivityLogService_ActivityLogList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActivityLogGetCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IActivityLogService/ActivityLogGetCount" message="tns:IActivityLogService_ActivityLogGetCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IActivityLogService/ActivityLogGetCountResponse" message="tns:IActivityLogService_ActivityLogGetCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActivityLogInsert">
      <wsdl:input wsaw:Action="http://tempuri.org/IActivityLogService/ActivityLogInsert" message="tns:IActivityLogService_ActivityLogInsert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IActivityLogService/ActivityLogInsertResponse" message="tns:IActivityLogService_ActivityLogInsert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDatabaseVersion">
      <wsdl:input wsaw:Action="http://tempuri.org/IActivityLogService/GetDatabaseVersion" message="tns:IActivityLogService_GetDatabaseVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IActivityLogService/GetDatabaseVersionResponse" message="tns:IActivityLogService_GetDatabaseVersion_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IActivityLogService" type="tns:IActivityLogService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ActivityLogList">
      <soap:operation soapAction="http://tempuri.org/IActivityLogService/ActivityLogList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivityLogGetCount">
      <soap:operation soapAction="http://tempuri.org/IActivityLogService/ActivityLogGetCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActivityLogInsert">
      <soap:operation soapAction="http://tempuri.org/IActivityLogService/ActivityLogInsert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDatabaseVersion">
      <soap:operation soapAction="http://tempuri.org/IActivityLogService/GetDatabaseVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ActivityLogService">
    <wsdl:port name="BasicHttpBinding_IActivityLogService" binding="tns:BasicHttpBinding_IActivityLogService">
      <soap:address location="http://system68.ggk.com/PracticeManagementService/ActivityLogService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
