PracticeManagement/PracticeManagement/Service References/ActivityLogService/ActivityLogService7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataTransferObjects.ContextObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataTransferObjects.ContextObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ggku3sys280.ggktech.local/PracticemanagementService/ActivityLogService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DataTransferObjects" />
  <xs:complexType name="ActivityLogSelectContext">
    <xs:sequence>
      <xs:element minOccurs="0" name="Budget" type="xs:boolean" />
      <xs:element minOccurs="0" name="Capabilities" type="xs:boolean" />
      <xs:element minOccurs="0" name="Channel" type="xs:boolean" />
      <xs:element minOccurs="0" name="Director" type="xs:boolean" />
      <xs:element minOccurs="0" name="Division" type="xs:boolean" />
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Margin" type="xs:boolean" />
      <xs:element minOccurs="0" name="MilestoneId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="NewOrExtension" type="xs:boolean" />
      <xs:element minOccurs="0" name="Offering" type="xs:boolean" />
      <xs:element minOccurs="0" name="OpportunityId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="POAmount" type="xs:boolean" />
      <xs:element minOccurs="0" name="PONumber" type="xs:boolean" />
      <xs:element minOccurs="0" name="PersonId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PracticeAreas" type="xs:boolean" />
      <xs:element minOccurs="0" name="ProjectId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ProjectOwner" type="xs:boolean" />
      <xs:element minOccurs="0" name="ProjectStatus" type="xs:boolean" />
      <xs:element minOccurs="0" name="RecordPerSingleChange" type="xs:boolean" />
      <xs:element minOccurs="0" name="RevenueType" type="xs:boolean" />
      <xs:element minOccurs="0" name="SalesPerson" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataTransferObjects" minOccurs="0" name="Source" type="q1:ActivityEventSource" />
      <xs:element minOccurs="0" name="SowBudget" type="xs:boolean" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="VendorId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ActivityLogSelectContext" nillable="true" type="tns:ActivityLogSelectContext" />
</xs:schema>
